<template>
    <div class="targets">
        <div class="target">
            <div class="spacer">
                &nbsp;
            </div>
        </div>
        <div class="target real-target" v-for="targetCondition in targetConditions">
            <div class="target-image" :style="{
                background: `url(${targetCondition.target.tileUrl}) center center / cover no-repeat`
            }">
                <p>&nbsp;</p>
                <div class="target-info" :class="targetCondition.complications.length ? 'complications' : ''">
                    <div class="image">
                        <game-icon icon="target" font-style="solid" />
                    </div>
                    <div class="text">
                        <h2>
                            Target
                            <span v-if="targetCondition.complications.length"> - No Target Pacification</span>
                        </h2>
                        <h1>{{ targetCondition.target.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="restrictions">
                <div class="restriction" :style="{
                    background: `url('${targetCondition.killMethod.tileUrl}') center center / cover no-repeat`
                }">
                    <p>&nbsp;</p>
                    <div class="footer">
                        <div class="image">
                            <game-icon icon="difficulty-casual" font-style="solid" />
                        </div>
                        <div class="text">
                            <h2>Eliminate Using</h2>
                            <h1>
                                <template v-if="targetCondition.killMethod.selectedVariant">
                                    {{ targetCondition.killMethod.selectedVariant }}
                                </template>
                                {{ targetCondition.killMethod.name }}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="restriction" :style="{
                    background: `url('${targetCondition.disguise.tileUrl}') center center / cover no-repeat`
                }">
                    <p>&nbsp;</p>
                    <div class="footer">
                        <div class="image">
                            <game-icon icon="disguise" font-style="solid" />
                        </div>
                        <div class="text">
                            <h2>Wear Disguise</h2>
                            <h1>{{ targetCondition.disguise.name }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="target">
            <div class="spacer">
                &nbsp;
            </div>
        </div>
    </div>
</template>

<script>
    import GameIcon from '@/components/GameIcon.vue';
    export default {
        name: 'OneTarget',
        components: {GameIcon},
        props: {
            targetConditions: null
        }
    };
</script>

<style lang="scss" scoped>
.targets {
    display: flex;
    background: rgba(255,255,255,.07);

    .target {
        display: flex;

        .spacer {
            width: 536px;
        }

        &.real-target {
            animation: 1s ease-in-out 0s 1 from-bottom;
        }

        .target-image {
            width: 424px;
            height: 186px;
            display: flex;
            flex-direction: column;

            .target-info {
                display: flex;
                color: white;
                text-transform: uppercase;
                padding-top: 6px;
                padding-bottom: 6px;
                background: rgba(0,0,0,.3);

                &.complications {
                    background: rgba(255,0,0,.7);
                }

                .image {
                    margin-left: 5px;

                    i {
                        font-size: 34px;
                    }
                }

                .text {
                    margin-left: 5px;

                    h2 {
                        font-size: 12px;
                        font-family: 'nimbus_sans_lregular', sans-serif;
                        margin-bottom: 0;
                    }

                    h1 {
                        font-size: 16px;
                        margin-bottom: 0;
                    }
                }
            }

            p {
                flex-grow: 1;
            }
        }

        .restrictions {
            display: flex;

            .restriction {
                height: 186px;
                width: 212px;
                display: flex;
                flex-direction: column;
                color: white;

                p {
                    flex-grow: 1;
                }

                .footer {
                    display: flex;
                    background: rgba(0,0,0,.3);
                    padding: 7px;

                    .image i {
                        font-size: 30px;
                    }

                    .text {
                        margin-left: 5px;

                        h2 {
                            font-size: 12px;
                            font-family: 'nimbus_sans_lregular', sans-serif;
                            margin-bottom: 0;
                        }

                        h1 {
                            font-size: 16px;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .images {
                width: 258px;
                height: 62px;
                display: flex;

                .kill-method, .disguise {
                    width: 129px;
                    height: 62px;
                }
            }
        }
    }
}

@keyframes from-bottom {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
</style>