<template>
    <div class="targets">
        <div class="target" :class="`target-${index}`" v-for="(targetCondition, index) in targetConditions">
            <div class="target-image" :style="{
                background: `url(${targetCondition.target.tileUrl}) center center / cover no-repeat`
            }">
                <p>&nbsp;</p>
                <div class="target-info" :class="targetCondition.complications.length ? 'complications' : ''">
                    <div class="image">
                        <game-icon icon="target" font-style="solid" />
                    </div>
                    <div class="text">
                        <h2>
                            Target
                            <span v-if="targetCondition.complications.length"> - No Target Pacification</span>
                        </h2>
                        <h1>{{ targetCondition.target.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="restrictions">
                <div class="restriction">
                    <div class="image">
                        <game-icon icon="difficulty-casual" font-style="solid" />
                    </div>
                    <div class="text">
                        <h2>Eliminate Using</h2>
                        <h1>
                            <template v-if="targetCondition.killMethod.selectedVariant">
                                {{ targetCondition.killMethod.selectedVariant }}
                            </template>
                            {{ targetCondition.killMethod.name }}
                        </h1>
                    </div>
                </div>
                <div class="restriction">
                    <div class="image">
                        <game-icon icon="disguise" font-style="solid" />
                    </div>
                    <div class="text">
                        <h2>Wear Disguise</h2>
                        <h1>{{ targetCondition.disguise.name }}</h1>
                    </div>
                </div>
                <div class="images">
                    <div class="kill-method" :style="{
                    background: `url('${targetCondition.killMethod.tileUrl}') center center / cover no-repeat`
                }">
                        &nbsp;
                    </div>
                    <div class="disguise" :style="{
                    background: `url('${targetCondition.disguise.tileUrl}') center -20px / cover no-repeat`
                }">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GameIcon from '@/components/GameIcon.vue';
    export default {
        name: 'ThreeTargets',
        components: {GameIcon},
        props: {
            targetConditions: null
        }
    };
</script>

<style lang="scss" scoped>
.targets {
    display: flex;
    overflow: hidden;

    .target {
        display: flex;

        &.target-0 {
            animation: 2s ease-in-out 0s 1 appear0;
        }
        &.target-1 {
            animation: 2s ease-in-out 0s 1 appear1;
        }
        &.target-2 {
            animation: 2s ease-in-out 0s 1 appear2;
        }

        .target-image {
            width: 296px;
            height: 186px;
            display: flex;
            flex-direction: column;

            .target-info {
                display: flex;
                color: white;
                text-transform: uppercase;
                padding-top: .5rem;
                background: rgba(0,0,0,.3);

                &.complications {
                    background: rgba(255,0,0,.7);
                }

                .image {
                    margin-left: 5px;

                    i {
                        font-size: 34px;
                    }
                }

                .text {
                    margin-left: 5px;

                    h2 {
                        font-size: 12px;
                        font-family: 'nimbus_sans_lregular', sans-serif;
                        margin-bottom: 0;
                    }

                    h1 {
                        font-size: 16px;
                    }
                }
            }

            p {
                flex-grow: 1;
            }
        }

        .restrictions {
            .restriction {
                height: 62px;
                width: 344px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                color: white;
                background: rgba(0,0,0,.3);

                .image i {
                    font-size: 30px;
                }

                .text {
                    margin-left: 5px;

                    h2 {
                        font-size: 12px;
                        font-family: 'nimbus_sans_lregular', sans-serif;
                        margin-bottom: 0;
                    }

                    h1 {
                        font-size: 16px;
                        margin-bottom: 0;
                    }
                }
            }

            .images {
                width: 344px;
                height: 62px;
                display: flex;

                .kill-method, .disguise {
                    width: 172px;
                    height: 62px;
                }
            }
        }
    }
}

@keyframes appear0 {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }
    20% {
        transform: translateY(50px);
        opacity: 1;
    }
    30% {
        transform: translateY(0);
    }
}

@keyframes appear1 {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }
    30% {
        transform: translateY(-300px);
        opacity: 0;
    }
    50% {
        transform: translateY(50px);
        opacity: 1;
    }
    60% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes appear2 {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }
    60% {
        opacity: 0;
        transform: translateY(-300px);
    }
    80% {
        opacity: 1;
        transform: translateY(50px);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
}
</style>