<script setup>
import {inject, onMounted, ref} from "vue";
import Stage from "@/components/Stage";
import axios from "axios";
import Bracket from "@/components/BracketManager/Bracket.vue";
import PlatformIcon from "@/components/PlatformIcon.vue";
import Loader from "@/components/Loader.vue";
const toastr = inject('toastr');
const apiDomain = inject('apiDomain');

const props = defineProps({
    stage: {
        type: Stage,
        required: true
    }
});
//region Legacy Challonge
const challongeBracket = ref(null);
const loadingBracket = ref(false);
//endregion

const selfHostedBracket = ref(false);

onMounted(() => {
    if (props.stage.type === 'challonge') {
        loadingBracket.value = true;
        // TODO Support Challonge
        /*this.$http.get(`${this.$apiDomain}/api/brackets/${platform.bracketId}/visual-bracket`)
            .then(resp => {
                this.challongeBracket = resp.data;
                this.loadingBracket = false;
            });*/
    } else {
        selfHostedBracket.value = true;
    }
});
</script>

<template>
    <div class="bracket-challonge">
        <div style="color: white" class="bracket-output" v-if="challongeBracket" v-html="challongeBracket"></div>
        <div class="self-hosted-bracket" v-else-if="selfHostedBracket">
            <bracket :stage-id="stage.id" />
        </div>
        <loader v-else/>
    </div>
</template>

<style lang="scss">
/* Challonge Overrides */
.bracket-challonge {
    width: 1920px;

    .platform-select {
        display: flex;
        .platform {
            margin: 10px;
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            background: rgba(255, 255, 255, .5);
            border-radius: 5px;
            filter: drop-shadow(2px 2px 4px #000);
            font-size: 2.5rem;

            &:hover {
                cursor: pointer;
                background: rgba(255, 255, 255, .6);
            }
        }
    }

    svg {
        margin-top: -110px;
    }
    #Layer_1 {
        display: none;
    }

    .title {
        display: none;
    }

    .round-label {
        rect {
            fill: rgba(0, 0, 0, .5);
            filter: drop-shadow(0 0 7px rgba(0,0,0,1));
        }

        text {
            fill: white;
        }
    }

    .match--base-background {
        fill: rgba(0, 0, 0, .5);
    }

    .match--player-background {
        fill: transparent;
    }

    .match--seed-background {
        fill: transparent;
    }

    .match--seed {
        fill: transparent;
    }

    .match--player-name {
        fill: white;
    }

    .match--player-score-background {
        fill: transparent;

        &.-winner {
            fill: rgba(255, 255, 255);
        }
    }

    .match--player-score {
        fill: white;

        &.-winner {
            fill: black;
        }
    }

    .bracket-line {
        stroke: white;
    }

    .match--identifier {
        fill: white;
    }
}
</style>
<style lang="scss" scoped>
.self-hosted-bracket {
    :deep(.brackets-viewer) {
        align-items: center;
        --match-width: 200px;

        .opponents {
            background: rgba(0,0,0,.6);
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

::-webkit-scrollbar-track {
    background-color: #ccc;
}
</style>