<script setup>
import axios from "axios";
import {computed, inject, onMounted, ref} from "vue";
import Loader from "@/components/Loader.vue";
import Stage from "@/components/Stage";
const toastr = inject('toastr');
const apiDomain = inject('apiDomain');

const props = defineProps({
    stage: {
        type: Stage,
        required: true
    }
});

const standings = ref(null);
const selectedGroup = ref(null);
const groups = ref(null);

//region Computed
const matchesForGroup = computed(() => {
    if (!selectedGroup.value) {
        return [];
    }

    return standings.value.find(x => x.groupName === selectedGroup.value);
});

const anyoneClinched = computed(() => {
    return false;
    if (!selectedGroup.value) {
        return false;
    }

    return standings.value[selectedGroup].some(x => x.status === 'advanced');
});

const anyTiedAdvancements = computed(() => {
    if (!selectedGroup.value) {
        return false;
    }

    const advancements = standings.value.find(x => x.groupName === selectedGroup.value).participants.filter(x => x.advanced);
    const points = advancements.map(x => x.points);

    return [...new Set(points)].length !== points.length;
});
//endregion

onMounted(() => {
    axios.get(`${apiDomain}/api/stages/${props.stage.id}/round-robin/standings`)
        .then(resp => {
            standings.value = resp.data;
            groups.value = standings.value.map(x => x.groupName);
        }).catch(err => {
        toastr.e(`Failed to load standings: (${err})`);
    });
});
</script>

<template>
    <loader v-if="!standings" />
    <div class="standings" v-else>
        <div class="row">
            <div class="col matchup" v-for="group in groups"
                 :class="selectedGroup === group ? 'selected' : ''"
                 :id="`group-button-${group}`"
                 @click="selectedGroup = group">
                <span>Group {{ group }}</span>
            </div>
        </div>
        <div class="matchup heading">
            <div class="col status" v-if="matchesForGroup?.participants?.some(x => x.advanced || x.eliminated)">
                &nbsp;
            </div>
            <div class="col">
                Rank
            </div>
            <div class="col">
                Participant
            </div>
            <div class="col">
                Points
            </div>
            <div class="col">
                Win %
            </div>
            <div class="col">
                W - L - T
            </div>
        </div>
        <div v-if="matchesForGroup" class="matchup row" :class="{ eliminated: result.eliminated, advanced: result.advanced, 'clinched-none': result.advanced }" v-for="(result, index) in matchesForGroup.participants">
            <div class="col status" v-if="matchesForGroup?.participants?.some(x => x.advanced || x.eliminated)">
                <i class="fas fa-fw fa-check" v-if="result.advanced"></i>
                <i class="fas fa-fw fa-times" v-else-if="result.eliminated"></i>
                <template v-if="result.advanced">Advanced</template>
                <template v-if="result.eliminated">Eliminated</template>
            </div>
            <div class="col">
                {{ index + 1 }}
            </div>
            <div class="col">
                {{ result.name }}
            </div>
            <div class="col">
                {{ result.points }}
            </div>
            <div class="col">
                {{ Math.round(result.winningPercentage * 100) }}%
            </div>
            <div class="col">
                {{ result.wins }} - {{ result.losses }} - {{ result.ties }}
            </div>
        </div>
        <div class="row legend" v-if="false">
            <div class="col">
                <div class="matchup advanced row clinched-first">
                    <div class="col">
                        Secured 1st Place
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="matchup advanced row clinched-second">
                    <div class="col">
                        Secured 2nd Place
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="matchup advanced row clinched-none">
                    <div class="col">
                        Secured Knockout Stage Berth
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.row {
    margin-left: 0;
    margin-right: 0;

    .col {
        &.matchup {
            cursor: pointer;

            &.selected {
                background: rgba(255, 255, 255, .5);
                filter: drop-shadow(0 0 7px rgba(255,255,255,1));
                color: #000;
            }
        }
    }
}

.matchup {
    display: flex;
    justify-content: center;
    /* Black on White */
    /*background: rgba(255, 255, 255, .5);
    filter: drop-shadow(0 0 7px rgba(255,255,255,1));*/

    /* White on Black */
    background: rgba(0, 0, 0, .5);
    filter: drop-shadow(0 0 7px rgba(0,0,0,1));
    color: #fff;
    padding: 20px;
    margin-bottom: 2px;

    &.heading {
        font-family: 'nimbus_sans_lbold', sans-serif;
        font-weight: bolder;
    }

    .col {
        &.status {
            text-transform: uppercase;

            i {
                margin-right: 10px;
            }
        }
    }

    &.eliminated {
        color: rgba(255, 255, 255, 0.6);
    }

    &.advanced {
        background: rgb(0, 0, 0);

        &.clinched-first {
            filter: drop-shadow(0 0 7px gold);
        }

        &.clinched-second {
            filter: drop-shadow(0 0 7px white);
        }

        &.clinched-none {
            filter: drop-shadow(0 0 7px blue);
        }
    }
}
</style>