<script setup>
import Stage from "@/components/Stage";

const props = defineProps({
    stages: {
        type: Array,
        required: true
    }
});
</script>

<template>
<div class="stage-select">
    <div v-for="stage in stages" class="stage" @click="$emit('select-stage', stage)">
        <h1>{{ stage.name }}</h1>
    </div>
</div>
</template>

<style scoped lang="scss">
.stage-select {
    display: flex;
    text-transform: uppercase;

    .stage {
        display: flex;
        margin: 10px;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        background: rgba(255, 255, 255, .5);
        border-radius: 5px;
        filter: drop-shadow(2px 2px 4px #000);
        font-size: 2.5rem;
        justify-content: center;
        align-content: center;

        h1 {
            margin-bottom: 0;
            padding: 10px 0;
        }

        &:hover {
            cursor: pointer;
            background: rgba(255, 255, 255, .6);
        }
    }
}
</style>