<script setup>
import Loader from "@/components/Loader.vue";
import {inject, onMounted, ref} from "vue";
import Stage from "@/components/Stage";
import axios from "axios";
const toastr = inject('toastr');
const apiDomain = inject('apiDomain');

const props = defineProps({
    stage: {
        type: Stage,
        required: true
    }
});

const standings = ref(null);

onMounted(() => {
    axios.get(`${apiDomain}/api/stages/${props.stage.id}/swiss/standings`)
        .then(resp => {
            standings.value = resp.data;
        }).catch(err => {
        toastr.e(`Failed to load standings: (${err})`);
    });
});
</script>

<template>
    <loader v-if="!standings"/>
    <div class="row" v-else>
        <div class="col-6">
            <div class="row matchup heading">
                <div class="col status" v-if="standings.participants.some(x => x.advanced || x.eliminated)">
                    &nbsp;
                </div>
                <div class="col">
                    Rank
                </div>
                <div class="col">
                    Participant
                </div>
                <div class="col">
                    Points
                </div>
                <div class="col">
                    Bh
                </div>
                <div class="col">
                    Diff
                </div>
            </div>
            <div class="matchup row"
                 :class="{ eliminated: result.eliminated, advanced: result.advanced, 'clinched-none': result.advanced }"
                 v-for="(result, index) in standings.participants.slice(0, parseInt(standings.participants.length / 2))">
                <div class="col status" v-if="standings.participants.some(x => x.advanced || x.eliminated)">
                    <i class="fas fa-fw fa-check" v-if="result.advanced"></i>
                    <i class="fas fa-fw fa-times" v-else-if="result.eliminated"></i>
                    <template v-if="result.advanced">Advanced</template>
                    <template v-if="result.eliminated">Eliminated</template>
                </div>
                <div class="col">
                    {{ index + 1 }}
                </div>
                <div class="col" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
                    {{ result.name }}
                </div>
                <div class="col">
                    {{ result.points }}
                </div>
                <div class="col">
                    {{ result.buchholzScore.toFixed(1) }}
                </div>
                <div class="col">
                    {{ result.pointsDifferential.toFixed(1) }}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row matchup heading">
                <div class="col status" v-if="standings.participants.some(x => x.advanced || x.eliminated)">
                    &nbsp;
                </div>
                <div class="col">
                    Rank
                </div>
                <div class="col">
                    Participant
                </div>
                <div class="col">
                    Points
                </div>
                <div class="col">
                    Bh
                </div>
                <div class="col">
                    Diff
                </div>
            </div>
            <div class="matchup row"
                 :class="{ eliminated: result.eliminated, advanced: result.advanced, 'clinched-none': result.advanced }"
                 v-for="(result, index) in standings.participants.slice(parseInt(standings.participants.length / 2))">
                <div class="col status" v-if="standings.participants.some(x => x.advanced || x.eliminated)">
                    <i class="fas fa-fw fa-check" v-if="result.advanced"></i>
                    <i class="fas fa-fw fa-times" v-else-if="result.eliminated"></i>
                    <template v-if="result.advanced">Advanced</template>
                    <template v-if="result.eliminated">Eliminated</template>
                </div>
                <div class="col">
                    {{ index + parseInt(standings.participants.length / 2) + 1 }}
                </div>
                <div class="col" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
                    {{ result.name }}
                </div>
                <div class="col">
                    {{ result.points }}
                </div>
                <div class="col">
                    {{ result.buchholzScore.toFixed(1) }}
                </div>
                <div class="col">
                    {{ result.pointsDifferential.toFixed(1) }}
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.row {
    margin-left: 0;
    margin-right: 0;

    .col {
        &.matchup {
            cursor: pointer;

            &.selected {
                background: rgba(255, 255, 255, .5);
                filter: drop-shadow(0 0 7px rgba(255,255,255,1));
                color: #000;
            }
        }
    }
}


.matchup {
    display: flex;
    justify-content: center;
    /* Black on White */
    /*background: rgba(255, 255, 255, .5);
    filter: drop-shadow(0 0 7px rgba(255,255,255,1));*/

    /* White on Black */
    background: rgba(0, 0, 0, .5);
    filter: drop-shadow(0 0 7px rgba(0,0,0,1));
    color: #fff;
    padding: 1px;
    margin-bottom: 2px;

    &.heading {
        font-family: 'nimbus_sans_lbold', sans-serif;
        font-weight: bolder;
    }

    .col {

        &.status {
            text-transform: uppercase;

            i {
                margin-right: 10px;
            }
        }
    }

    &.eliminated {
        color: rgba(255, 255, 255, 0.6);
    }

    &.advanced {
        background: rgb(0, 0, 0);

        &.clinched-first {
            filter: drop-shadow(0 0 7px gold);
        }

        &.clinched-second {
            filter: drop-shadow(0 0 7px white);
        }

        &.clinched-none {
            filter: drop-shadow(0 0 7px blue);
        }
    }
}
</style>