<template>
    <div class="text">
        <div class="timer" v-if="showTimer">
            <span class="min" style="width: 104px; display: inline-block; text-align: right">
                {{ getFormattedTime(this.remainingTimeInSeconds, 'min') }}
            </span>
            <span class="separator">:</span>
            <span class="sec" style="width: 104px; display: inline-block; text-align: left">
                {{ getFormattedTime(this.remainingTimeInSeconds, 'sec') }}
            </span>
        </div>
        <div class="timer" v-else>
            <span class="min" style="width: 165px; display: inline-block; text-align: right">
                +{{ getFormattedTime(this.elapsedTimeInSeconds, 'min') }}
            </span>
            <span class="separator">:</span>
            <span class="sec" style="width: 104px; display: inline-block; text-align: left">
                {{ getFormattedTime(this.elapsedTimeInSeconds, 'sec') }}
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'InnerTimer',
        props: {
            remainingTimeInSeconds: null,
            elapsedTimeInSeconds: null,
            showTimer: false
        },
        methods: {
            getFormattedTime(time, unit) {
                const minutes = parseInt(time / 60, 10);
                const seconds = parseInt(time % 60, 10);

                return unit === 'min' ?
                    this.formatTimerValue(minutes) :
                    this.formatTimerValue(seconds);
            },
            formatTimerValue(value) {
                if (value < 0) {
                    return '00';
                }
                const formattedValue = Math.abs(value);

                return formattedValue < 10 ? `0${formattedValue}` : formattedValue;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .text {
        width: 1920px;
        height: 73px;
        font-size: 90px;
        line-height: 90px;
    }
</style>