<template>
    <lottie :options="animationOptions" :width="500" :height="500" @animCreated="handleAnimation" />
</template>

<script>
import * as animationData from './rr16-lottie.json';
import Lottie from "@/components/MatchOverlay/Lottie.vue";

export default {
    name: 'LottieScore',
    components: {Lottie},
    props: {
        score: Number
    },
    data() {
        return {
            displayedScore: null,
            animationOptions: {
                animationData: animationData.default,
                loop: false,
                autoplay: false
            },
            animation: null,
            currentScoreMultiplier: 1
        };
    },
    mounted() {
        this.goToScore();
    },
    methods: {
        handleAnimation(anim) {
            this.animation = anim;
        },
        goToScore() {
            if (this.score === this.displayedScore) {
                // Nothing to do
                return;
            }

            // Old Start, Old End, New Start, New End
            const lookupTable = [
                [0, 22, 23, 44],
                [45, 67, 68, 89],
                [90, 112, 113, 134],
                [135, 157, 158, 179],
                [180, 202, 203, 224],
                [225, 247, 248, 269],
                [270, 292, 293, 314],
                [315, 337, 338, 359],
                [360, 382, 383, 404],
                [405, 427, 428, 449],
                [450, 472, 473, 494],
                [495, 517, 518, 539],
                [540, 562, 563, 584],
                [585, 607, 608, 629]
            ];

            if (this.displayedScore !== null) {
                this.animation.playSegments([
                    lookupTable[this.displayedScore][0],
                    lookupTable[this.displayedScore][1]
                ], true);
            }

            // Now go to the new score's "middle" end and end up at the number.  Then we rapidly jump to the start frame
            this.animation.playSegments([
                lookupTable[this.score][2],
                lookupTable[this.score][3]
            ], this.displayedScore === null);
            this.animation.playSegments([
                lookupTable[this.score][0] + 1,
                lookupTable[this.score][0]
            ], false);

            this.displayedScore = this.score;
        }
    },
    watch: {
        score(newScore, oldScore) {
            if (newScore === oldScore) {
                return;
            }

            this.goToScore();
        }
    }
};
</script>

<style lang="scss">
path[stroke-linecap="butt"][stroke-linejoin="round"][stroke-miterlimit="4"] {
    stroke: black;
    stroke-width: 2px;
}
</style>