<template>
    <div class="lower-third">
        <transition name="drop-away">
            <template v-if="spinData && currentMapJson && !pretime.inPretime && currentMap.roundType === 'roulette-rivals'">
                <div :key="`conditions`" class="spin-panel conditions">
                    <one-target v-if="currentMapJson.length === 1"
                                :target-conditions="currentMapJson" />
                    <two-targets v-else-if="currentMapJson.length === 2"
                                 :target-conditions="currentMapJson" />
                    <three-targets v-else-if="currentMapJson.length === 3"
                                   :target-conditions="currentMapJson" />
                    <four-targets v-else-if="currentMapJson.length === 4"
                                  :target-conditions="currentMapJson" />
                    <five-targets v-else-if="currentMapJson.length === 5"
                                  :objectives="objectives"
                                  :target-conditions="currentMapJson" />
                    <div class="timer-parent" :class="`targets-${currentMapJson.length}`">
                        <div class="wr-indicator" :class="recordStillPossible ? 'record-possible' : ''" :style="`width: ${worldRecordPercentage}`">WR </div>
                        <div class="overlay-timer" :class="progressColor" :style="'width: ' + progressPercentage">
                            <inner-timer :remaining-time-in-seconds="remainingTimeInSeconds"
                                         :elapsed-time-in-seconds="elapsedTimeInSeconds"
                                         :show-timer="showTimer" />
                        </div>
                        <inner-timer :remaining-time-in-seconds="remainingTimeInSeconds"
                                     :elapsed-time-in-seconds="elapsedTimeInSeconds"
                                     :show-timer="showTimer" />
                    </div>
                </div>
            </template>
            <div :key="`pretime`" class="spin-panel pretime" v-else-if="pretime.inPretime">
                <pretime-countdown :remaining-pretime-in-seconds="pretime.remainingPretimeInSeconds"
                                   :map-selections="mapSelections"
                                   :participants="competitors"
                                   :slug="currentMap.mapSlug"
                                   :location="currentMap.location"
                                   :match-id="matchId"
                                   :map-stats="mapStats" />
            </div>
            <div :key="`idler-finals`" class="spin-panel idler finals" v-else-if="moreThanFourPicks()">
                <div class="row map-selections">
                    <div class="col player-avatar" :style="`background: url('${competitors[0].avatarUrl}') center center / cover no-repeat`">
                        <div>{{ competitors[0].name }}'s Picks</div>
                    </div>
                    <div class="col selection"
                         v-for="(mapSelection, index) in mapSelections.filter(x => x.competitorId === competitors[0].id)"
                         :style="`background: ${getBackgroundUrlForLocation(mapSelection, mapSelection.state !== 'Complete')}`">
                        <template v-if="mapSelection.state === 'Complete'">
                            <template v-if="mapSelection.state === 'Complete' && mapSelection.winnerId">
                                <img alt="" style="margin-top: 5px; height: 55px; width: 55px;" :src="competitors.find(x => x.id === mapSelection.winnerId).avatarUrl">
                            </template>
                            <template v-else>
                                DRAW
                            </template>
                        </template>
                        <div>{{ Locations.getAbbreviation(formatLocationName(mapSelection.location)) }}</div>
                    </div>
                </div>
                <div class="row map-selections">
                    <div class="col player-avatar" :style="`background: url('${competitors[1].avatarUrl}') center center / cover no-repeat`">
                        <div>{{ competitors[1].name }}'s Picks</div>
                    </div>
                    <div class="col selection"
                         v-for="(mapSelection, index) in mapSelections.filter(x => x.competitorId === competitors[1].id)"
                         :style="`background: ${getBackgroundUrlForLocation(mapSelection, mapSelection.state !== 'Complete')}`">
                        <template v-if="mapSelection.state === 'Complete'">
                            <template v-if="mapSelection.state === 'Complete' && mapSelection.winnerId">
                                <img style="margin-top: 5px; height: 55px; width: 55px;" :src="competitors.find(x => x.id === mapSelection.winnerId).avatarUrl">
                            </template>
                            <div style="font-size: 2rem" v-else>
                                DRAW
                            </div>
                        </template>
                        <div>{{ Locations.getAbbreviation(formatLocationName(mapSelection.location)) }}</div>
                    </div>
                </div>
                <div class="row map-selections" v-if="mapSelections.filter(x => x.competitorId === null && x.mapSlug !== null).length">
                    <div class="col player-avatar" :style="`background: url('https://media.hitmaps.com/img/hitmaps-custom/roulette-wheel.png') center center / cover no-repeat`">
                        <div>Random Maps</div>
                    </div>
                    <div class="col selection"
                         v-for="(mapSelection, index) in mapSelections.filter(x => x.competitorId === null && x.mapSlug !== null)"
                         :style="`background: ${getBackgroundUrlForLocation(mapSelection, mapSelection.state !== 'Complete')}`">
                        <template v-if="mapSelection.state === 'Complete'">
                            <template v-if="mapSelection.state === 'Complete' && mapSelection.winnerId">
                                <img style="margin-top: 5px; height: 55px; width: 55px;" :src="competitors.find(x => x.id === mapSelection.winnerId).avatarUrl">
                            </template>
                            <div style="font-size: 2rem" v-else>
                                DRAW
                            </div>
                        </template>
                        <div>{{ Locations.getAbbreviation(formatLocationName(mapSelection.location)) }}</div>
                    </div>
                </div>
            </div>
            <div :key="`idler`" class="spin-panel idler" :class="matchOver ? 'match-over' : ''" v-else>
                <div v-for="(mapSelection, i) in getCompletedMaps()" class="next-map" :class="getMapState(mapSelection)" :style="{
                    background: getBackgroundUrlForLocation(mapSelection, getMapState(mapSelection) === 'current-map')
                }">
                    <template v-if="mapSelection.state === 'Complete'">
                        <img v-if="mapSelection.state === 'Complete' && mapSelection.winnerId" :src="competitors.find(x => x.id === mapSelection.winnerId).avatarUrl">
                        <p v-else-if="mapSelection.state === 'Complete'" class="draw-text">DRAW</p>
                        <p class="location-text">
                            {{ mapSelection.location }}
                        </p>
                        <div class="chosen-by">
                            Map {{ i + 1 }}
                        </div>
                    </template>
                    <template v-else-if="getMapState(mapSelection) === 'current-map' && !matchOver">
                        <div class="travel-icon">
                            <game-icon icon="location" font-style="solid" />
                        </div>
                        <div class="travel-text">
                            <h1>Coming Up Next</h1>
                            <h2>{{ mapSelection.location }}</h2>
                        </div>
                    </template>
                    <template v-else-if="!matchOver">
                        <div class="heading-and-location">
                            <div class="travel-icon">
                                <game-icon icon="arrow-right" font-style="solid" />
                            </div>
                            <div class="travel-text">
                                <h1>Later On</h1>
                                <h2>{{ mapSelection.location }}</h2>
                            </div>
                        </div>
                        <div class="chosen-by">
                            Chosen by {{ mapSelection.competitorName }}
                        </div>
                    </template>
                </div>
            </div>
        </transition>
        <score-alert v-if="scoreAlert" :score-alert="scoreAlert" @finished-alert="$emit('finished-score-alert')" />
    </div>
</template>

<script>
import GameIcon from "@/components/GameIcon.vue";
import OneTarget from "@/components/MatchOverlay/TargetDisplayHandlers/OneTarget.vue";
import ThreeTargets from "@/components/MatchOverlay/TargetDisplayHandlers/ThreeTargets.vue";
import InnerTimer from "@/components/MatchOverlay/InnerTimer.vue";
import FiveTargets from "@/components/MatchOverlay/TargetDisplayHandlers/FiveTargets.vue";
import FourTargets from "@/components/MatchOverlay/TargetDisplayHandlers/FourTargets.vue";
import TwoTargets from "@/components/MatchOverlay/TargetDisplayHandlers/TwoTargets.vue";
import PretimeCountdown from "@/components/MatchOverlay/PretimeCountdown.vue";
import Locations from "@/components/MatchOverlay/Locations";
import ScoreAlert from "@/components/MatchOverlay/ScoreAlert.vue";

export default {
    name: 'LowerThird',
    components: {
        ScoreAlert,
        GameIcon,
        PretimeCountdown, OneTarget, ThreeTargets, InnerTimer, FiveTargets, FourTargets, TwoTargets},
    props: {
        tourneyId: Number,
        spinData: null,
        pretime: null,
        remainingTimeInSeconds: null,
        elapsedTimeInSeconds: null,
        mapSelections: Array,
        competitors: Array,
        playerOneName: null,
        playerTwoName: null,
        playerOneScore: 0,
        playerTwoScore: 0,
        objectives: Object,
        pointsForVictory: Number,
        mapStats: null,
        scoreAlert: null,
        stageType: null
    },
    data() {
        return {
            lowerThirdBackgroundInfo: {
                backgroundCss: 'background: rgba(255, 255, 255, .7)',
                location: null
            },
            potentialDeciders: [],
            matchHistory: [],
            currentRecordInSeconds: 0
        };
    },
    computed: {
        Locations() {
            return Locations;
        },
        showTimer() {
            return this.spinData.timer.startTime !== null & this.spinData.timer.endTime !== null;
        },
        matchOver() {
            if (this.pointsForVictory === Number.MAX_SAFE_INTEGER) {
                return !this.mapSelections.some(x => x.state !== 'Complete');
            }

            return this.playerOneScore >= this.pointsForVictory ||
                this.playerTwoScore >= this.pointsForVictory ||
                (this.stageType === 'swiss' && this.mapSelections.every(x => x.state === 'Complete'));
        },
        // tslint:disable-next-line
        progressColor() {
            if (this.spinData.timer.matchDurationInMinutes === null) {
                return '';
            }

            const halfTime = this.spinData.timer.matchDurationInMinutes * 30; // 60 / 2
            const nearEnd = this.spinData.timer.matchDurationInMinutes * 10; // 60 / 6

            if (this.remainingTimeInSeconds > halfTime) {
                return 'green';
            }
            if (this.remainingTimeInSeconds > nearEnd) {
                return 'yellow';
            }
            if (this.remainingTimeInSeconds > 60) {
                return 'red';
            }
            if (this.remainingTimeInSeconds > 0) {
                return 'red flash';
            }

            return 'red';
        },
        // tslint:disable-next-line
        progressPercentage() {
            if (this.spinData.timer.matchDurationInMinutes === null || this.remainingTimeInSeconds <= 0) {
                return '0%';
            }

            const duration = this.spinData.timer.matchDurationInMinutes * 60;
            const percentage = (this.remainingTimeInSeconds / duration * 100).toFixed(2);

            return `${percentage}%`;
        },
        worldRecordPercentage() {
            if (!this.mapStats) {
                return '0%';
            }

            const duration = this.spinData.timer.matchDurationInMinutes * 60;
            const percentage = ((duration - this.mapStats.mapRecord.time) / duration * 100).toFixed(2);
            return `${percentage}%`;
        },
        recordStillPossible() {
            if (!this.mapStats || this.spinData.timer.matchDurationInMinutes === null) {
                return false;
            }

            return parseInt(this.elapsedTimeInSeconds) <= this.mapStats.mapRecord.time;
        },
        currentMap() {
            if (!this.mapSelections?.length) {
                return '';
            }

            return this.mapSelections.find(x => x.state === 'Ready');
        },
        currentMapJson() {
            if (!this.currentMap || !this.currentMap.mapJson) {
                return null;
            }

            return JSON.parse(this.currentMap.mapJson);
        }
    },
    methods: {
        getMapState(mapSelection) {
            if (mapSelection.state === 'Complete') {
                return 'previously';
            }

            const nextMap = this.mapSelections.find(x => x.state !== 'Complete');

            return nextMap === mapSelection ?
                'current-map' :
                'later-on';
        },
        formatLocationName(location) {
            return location.toLowerCase()
                .replace(/[ ]/g, '-')
                .replace('à', 'a');
        },
        getBackgroundUrlForLocation(mapSelection, nextUp) {
            if (!mapSelection) {
                return '';
            }

            /* tslint:disable */
            const incompleteStyling = "linear-gradient(90deg, rgba(255,255,255,0) 0%, " +
                "rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.4) 60%, rgba(255,255,255,0) 100%), ";
            const completeStyling = "linear-gradient(90deg, rgba(255,255,255,0) 0%, " +
                "rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%, rgba(255,255,255,0) 100%), ";
            const locationBackground = (nextUp ? incompleteStyling : completeStyling) +
                "url('https://media.hitmaps.com/img/hitmaps-roulette/artbook-levels/{locationFilename}.png') center " +
                "center / cover no-repeat";
            /* tslint:enable */

            return locationBackground.replace(
                '{locationFilename}',
                this.formatLocationName(mapSelection.location)
            );
        },
        moreThanFourPicks() {
            return this.mapSelections.filter(x => x.competitorId !== null && x.selectionType === 'Pick').length > 4;
        },
        onlyOnePickPerCompetitor() {
            const chosenByNames = this.mapSelections.map(x => x.competitorName);
            const chosenByNamesToCounts = {};
            for (const name of chosenByNames) {
                if (!chosenByNamesToCounts[name]) {
                    chosenByNamesToCounts[name] = 0;
                }
                chosenByNamesToCounts[name]++;
            }

            return chosenByNamesToCounts[this.playerOneName] === 1 && chosenByNamesToCounts[this.playerTwoName] === 1;
        },
        getCompletedMaps() {
            return this.mapSelections.filter(mapSelection => mapSelection.state === 'Complete' ||
                (!this.matchOver && (mapSelection.competitorName || this.getMapState(mapSelection) === 'current-map')));
        }
    }
};
</script>

<style lang="scss" scoped>
.map-selections {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    flex-grow: 1;

    .selection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 3rem;
        text-shadow: 2px 2px #000;

        .draw {
            font-size: 2rem;
        }
    }

    .player-avatar {
        > div {
            background: rgba(0, 0, 0, 0.3);
            flex-grow: 1;
            margin-left: -15px;
            margin-right: -15px;
            text-align: right;
            padding-right: 15px;
        }
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: white;
        font-size: 2rem;
        text-shadow: 2px 2px #000;
    }
}

.lower-third {
    overflow: hidden;
    font-family: 'nimbus_sans_lbold', 'Arial', sans-serif;

    .spin-panel {
        position: absolute;
        top: 0;
        left: 0;
        /* wtf */
        height: 261px;
        width: 1920px;

        &.conditions {
            z-index: 4;
        }

        &.pretime {
            z-index: 2;
        }

        &.rng-animation {
            z-index: 1;
            animation: from-top 1s;
            overflow: hidden;
        }

        &.idler {
            z-index: 1;
            animation: from-top 1s;
            overflow: hidden;
            display: flex;
            align-items: center;

            &.finals {
                flex-direction: column;

                .selection {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                }
            }

            .logo-cycle {
                width: 960px;
                text-align: center;

                &.full {
                    width: 1920px;
                }

                img {
                    height: 230px;
                    width: 852px;
                }
            }

            .next-map {
                &.current-map {
                    flex-grow: 1;
                }

                &.previously {
                    flex-direction: column;
                    color: white;
                    width: 295px;

                    img {
                        width: 128px;
                        height: 128px;
                    }

                    .draw-text {
                        line-height: 113px;
                        font-size: 30px;
                    }

                    .location-text {
                        font-size: 27px;
                    }

                    .chosen-by {
                        width: 100%;
                        text-align: center;
                        margin-top: 10px;
                        color: white;
                        border-top: solid 1px #fff;
                        border-bottom: solid 1px #fff;
                    }
                }

                &.later-on {
                    flex-direction: column;

                    .chosen-by {
                        width: 100%;
                        text-align: center;
                        margin-top: 10px;
                        color: white;
                        border-top: solid 1px #fff;
                        border-bottom: solid 1px #fff;
                    }
                }

                &.later-on,
                &.previously {
                    background-color: #fff;
                    background-blend-mode: luminosity;
                }

                display: flex;
                justify-content: center;
                text-shadow: 2px 2px #000;
                height: 261px;
                align-items: center;
                padding-left: 40px;
                padding-right: 40px;

                .heading-and-location {
                    display: flex;
                }

                .travel-icon {
                    i {
                        color: white;
                        font-size: 105px;
                    }
                }

                .travel-text {
                    margin-left: 10px;
                    color: white;
                    h2 {
                        margin-bottom: 0;
                        font-size: 2.5rem;
                    }

                    h1 {
                        font-size: 3rem;
                        margin-bottom: 0;
                    }
                }
            }

            &.match-over {
                .next-map {
                    flex-grow: 1;
                }
            }
        }

        &.drop-away-leave-active {
            animation: slide-down 1s;
        }
    }

    .timer-parent {
        font-family: 'Teko', 'Arial', sans-serif;
        font-weight: 400;
        width: 1920px;
        height: 74px;
        position: relative;
        text-align: center;
        color: #fff;
        -webkit-text-stroke: 2px #2488c7;
        background: #2488c7;

        .text {
            font-size: 85px;
            line-height: 85px;
        }

        &.targets-5,
        &.targets-4,
        &.targets-2,
        &.targets-1 {
            animation: 1s ease-in-out 0s 1 slideFromBottom;
        }

        &.targets-3 {
            animation: 3s ease-in-out 0s 1 flashIntoView;
        }

        .wr-indicator {
            position: absolute;
            top: 0;
            left: 0;
            width: 1920px;
            height: 74px;
            font-size: 35px;
            line-height: 74px;
            overflow: hidden;
            z-index: 1;
            border-right: solid 2px #2488c7;
            -webkit-text-stroke: 0 #000;
            color: #2488c7;
            text-align: right;
            padding-right: 5px;
            opacity: 0;
            transition: opacity .3s ease-in-out;

            &.record-possible {
                opacity: 100%;
            }
        }

        .overlay-timer {
            position: absolute;
            top: 0;
            left: 0;
            transition: background .3s ease-in-out, width .3s ease-in-out;
            color: #fff;
            -webkit-text-stroke: 2px #2488c7;
            width: 1920px;
            height: 74px;
            font-size: 70px;
            line-height: 70px;
            overflow: hidden;

            &.green {
                background: #4cc4f0;
            }

            &.yellow {
                background: orange;
            }

            &.red {
                background: red;
            }
        }
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes flashIntoView {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes from-top {
    0% {
        height: 0;
    }
    100% {
        height: 260px;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(260px);
    }
}
</style>
