<template>
    <div class="map-pick-display" :class="{ 'banned': banned }">
        <div>
            <span class="ban-icon left" v-if="banned">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" style="vertical-align: -0.125em;"
                    width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
                    <path stroke="#fff" stroke-width="10" fill="#fff" d="M224 113.889a73.235 73.235 0 0 1 26.423-56.413a8.707 8.707 0 0 1 11.154 0A73.235 73.235 0 0 1 288 113.889v92l165.914 82.957l-2.671 13.354l-86.936-11.339l37.114 37.112l75.336 9.827l13.329-66.646L320 186.111v-72.222a105.155 105.155 0 0 0-37.937-81a40.705 40.705 0 0 0-52.126 0a105.155 105.155 0 0 0-37.937 81v4.675l32 32z"/>
                    <path stroke="#fff" stroke-width="10" fill="#fff" d="M38.517 16H16.029v22.655L173 195.613L21.914 271.154L35.243 337.8l157.189-20.5l7.735 81.224L128 429.45V496h256v-66.55l-72.167-30.929l5.571-58.507L473.4 496H496v-22.542zM352 450.55V464H160v-13.45l74.238-31.817L224 311.24v-30.332L60.757 302.2l-2.671-13.354l138.762-69.381L288 310.611v.629l-10.238 107.493z"/>
                </svg>
            </span>
            <country-flag v-else-if="locationFilename !== 'ambrose-island'" :country="Locations.getCountryCode(locationFilename)" size="normal" />
            <span style="transform: scale(1.4); padding-left: 5px;" v-else>🏴‍☠️</span>
            <div class="location-name">
                {{ Locations.getAbbreviation(locationFilename) }}
            </div>
<!--            <span class="ban-icon right" v-if="banned && align === 'left'">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" style="vertical-align: -0.125em;"
                     width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
                    <path stroke="#fff" stroke-width="10" fill="#fff" d="M224 113.889a73.235 73.235 0 0 1 26.423-56.413a8.707 8.707 0 0 1 11.154 0A73.235 73.235 0 0 1 288 113.889v92l165.914 82.957l-2.671 13.354l-86.936-11.339l37.114 37.112l75.336 9.827l13.329-66.646L320 186.111v-72.222a105.155 105.155 0 0 0-37.937-81a40.705 40.705 0 0 0-52.126 0a105.155 105.155 0 0 0-37.937 81v4.675l32 32z"/>
                    <path stroke="#fff" stroke-width="10" fill="#fff" d="M38.517 16H16.029v22.655L173 195.613L21.914 271.154L35.243 337.8l157.189-20.5l7.735 81.224L128 429.45V496h256v-66.55l-72.167-30.929l5.571-58.507L473.4 496H496v-22.542zM352 450.55V464H160v-13.45l74.238-31.817L224 311.24v-30.332L60.757 302.2l-2.671-13.354l138.762-69.381L288 310.611v.629l-10.238 107.493z"/>
                </svg>
            </span>-->
        </div>
    </div>
</template>

<script>
    import Locations from "@/components/MatchOverlay/Locations";
    export default {
        name: 'MapPickDisplay',
        props: {
            location: String,
            index: Number,
            banned: Boolean
        },
        computed: {
            Locations() {
                return Locations
            },
            locationFilename() {
                if (!this.location) {
                    return '';
                }

                return this.location ?
                    this.location.toLowerCase()
                        .replace(/[ ]/g, '-')
                        .replace('à', 'a') :
                    '';
            }
        }
    };
</script>

<style scoped lang="scss">
    .map-pick-display {
        height: 20px;
        width: 105px;
        color: white;
        margin-bottom: 5px;

        &.banned {
            /*text-decoration: line-through;
            text-decoration-thickness: 2px;
            text-decoration-color: white;*/
            color: rgba(255, 255, 255, .8)
        }

        > div {
            position: relative;
            flex-grow: 1;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            font-family: "nimbus_sans_lbold", sans-serif;
            height: 20px;
            background: rgba(0,0,0,.2);

            .location-name {
                margin-left: 15px;
            }

            .normal-flag {
                margin: 0 -.9em 0 0;
            }


            .ban-icon {
                /*position: absolute;
                top: 7px;

                &.left {
                    left: 10px;
                }

                &.right {
                    right: 10px;
                }*/
                margin-left: .6rem;
                font-size: 1.2rem;
                z-index: 1;
            }
        }
    }
</style>
