<script>
import {defineComponent} from 'vue'
import TimerHandler from "@/components/TimerHandler";
import Locations from "@/components/MatchOverlay/Locations";

export default defineComponent({
    name: "ScoreAlert",
    props: {
        scoreAlert: Object
    },
    data() {
        return {
            active: false,
            slideAway: false,
            displayedScores: [null, null],
            flashLeft: false,
            flashRight: false,
            text: '',
            showText: false,
            completionTime: ''
        }
    },
    watch: {
        scoreAlert(newAlert, oldAlert) {
            if ((!newAlert || !oldAlert) || newAlert === oldAlert) {
                return;
            }

            this.resetState();
            setTimeout(this.handleAlert, 1000);
        }
    },
    mounted() {
        this.handleAlert();
    },
    computed: {
        fontSize() {
            if (!this.scoreAlert) {
                return '80px';
            }

            if (this.scoreAlert.competitors[0].name.length > 10 || this.scoreAlert.competitors[1].name.length > 10) {
                return '60px';
            }

            return '80px';
        }
    },
    methods: {
        resetState() {
            this.active = false;
            this.slideAway = false;
            this.displayedScores = [null, null];
            this.flashLeft = false;
            this.flashRight = false;
            this.text = '';
            this.showText = false;
            this.completionTime = '';
        },
        handleAlert() {
            TimerHandler.setTimeout(() => this.active = true, 300);

            TimerHandler.setTimeout(() => {
                this.displayedScores = [this.scoreAlert.competitors[0].oldScore, this.scoreAlert.competitors[1].oldScore];
                this.flashLeft = this.scoreAlert.competitors[0].oldScore !== this.scoreAlert.competitors[0].newScore;
                this.flashRight = this.scoreAlert.competitors[1].oldScore !== this.scoreAlert.competitors[1].newScore;

                if (this.flashLeft && this.flashRight) {
                    this.text = `${Locations.getAbbreviation(this.formatLocationName(this.scoreAlert.location))} ended in a tie`;
                } else if (this.flashLeft) {
                    this.text = `${this.getFirstThreeLetters(this.scoreAlert.competitors[0].name)} won ${Locations.getAbbreviation(this.formatLocationName(this.scoreAlert.location))}`;
                } else if (this.flashRight) {
                    this.text = `${this.getFirstThreeLetters(this.scoreAlert.competitors[1].name)} won ${Locations.getAbbreviation(this.formatLocationName(this.scoreAlert.location))}`;
                }

                if (this.scoreAlert.timeInSeconds) {
                    const minutes = parseInt(this.scoreAlert.timeInSeconds / 60);
                    const seconds = parseInt(this.scoreAlert.timeInSeconds - (minutes * 60));
                    const displaySeconds = seconds < 10 ? `0${seconds}` : `${seconds}`;
                    this.completionTime = ` in ${minutes}:${displaySeconds}`;
                }
            }, 3000);

            // Stop flashing, switch to new score
            TimerHandler.setTimeout(() => {
                this.flashLeft = false;
                this.flashRight = false;

                this.displayedScores[0] = this.scoreAlert.competitors[0].newScore;
                this.displayedScores[1] = this.scoreAlert.competitors[1].newScore;
                this.showText = true;

                // Tell the main overlay we've displayed this
                TimerHandler.setTimeout(() => {
                    this.slideAway = true;
                    setTimeout(() => {
                        this.active = false;
                        this.$emit('finished-alert');
                    }, 1_500);
                }, 3_000);
            }, 6_000);
        },
        getFirstThreeLetters(name) {
            if (name.length < 3) {
                return name.toUpperCase();
            }

            return name.substring(0, 3).toUpperCase();
        },
        formatLocationName(location) {
            return location.toLowerCase()
                .replace(/[ ]/g, '-')
                .replace('à', 'a');
        }
    }
})
</script>

<template>
    <div class="score-alert" :class="{ active: active, 'slide-away': slideAway }">
        <div class="text">
            <transition name="fade">
                <div class="header" v-if="displayedScores[0] === null">
                    Scoring Update
                </div>
                <div class="scores" :style="`font-size: ${fontSize}`" v-else>
                    <div class="inner-scores">
                        <div class="left">
                            <div class="name">{{ scoreAlert.competitors[0].name }}</div>
                            <div class="score" :class="flashLeft ? 'flash' : ''">{{ displayedScores[0] }}</div>
                        </div>
                        <div class="right">
                            <div class="score" :class="flashRight ? 'flash' : ''">{{ displayedScores[1] }}</div>
                            <div class="name">{{ scoreAlert.competitors[1].name }}</div>
                        </div>
                    </div>
                    <div class="score-text" :class="showText ? 'shown' : ''">
                        {{ text }}{{ completionTime }}
                    </div>
                </div>
            </transition>
        </div>

    </div>
</template>

<style scoped lang="scss">
.score-alert {
    position: absolute;
    font-family: 'Teko', 'Arial', sans-serif;
    font-weight: 400;
    text-align: center;
    -webkit-text-stroke: 2px silver;
    color: #000;
    background: #fff;
    z-index: 4;

    width: 1920px;
    height: 73px;
    font-size: 80px;
    line-height: 90px;
    bottom: -73px;

    transition: bottom 2s linear;

    &.active {
        animation: slide-up 1s;
        animation-fill-mode: forwards;
    }

    &.slide-away {
        animation: slide-down 1s;
        animation-fill-mode: forwards;
    }

    .text {
        position: relative;
        width: 100%;

        .header, .scores {
            position: absolute;
            display: flex;
            width: 100%;
            justify-content: center;

            .inner-scores {
                display: flex;
                flex-grow: 1;
                justify-content: center;

                .flash {
                    animation-delay: 1s;
                    animation: 1s flash linear infinite;
                }

                .left {
                    display: flex;
                    margin-right: 150px;

                    .score {
                        padding-left: 20px;
                        padding-right: 20px;
                        margin-left: 40px;
                        margin-right: 40px;
                    }
                }
                .right {
                    display: flex;

                    .score {
                        padding-left: 20px;
                        padding-right: 20px;
                        margin-right: 30px;
                    }
                }
            }

            .score-text {
                justify-content: center;
                flex-grow: 1;
                opacity: 0;

                &.shown {
                    animation: 1s fade-in;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

.fade-leave-active {
    /*display: none;*/
    animation: fade-away 2s;
}

.fade-enter-active {
    display: flex;
    animation: fade-in 2s;
}

@keyframes slide-up {
    0% {
        bottom: -73px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes slide-down {
    0% {
        bottom: 0;
    }

    100% {
        bottom: -73px;
    }
}

@keyframes fade-away {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        background: transparent;
    }
    49% {
        background: transparent;
    }
    50% {
        background: gray;
    }

    100% {
        background: gray;
    }
}
</style>