<template>
    <div class="stream-embed" v-if="streamUrl">
        <iframe v-if="streamEmbedUrl !== null"
                ref="iframe"
                width="960"
                height="540"
                allow="autoplay; encrypted-media"
                :src="streamEmbedUrl">
        </iframe>
        <div class="embed-error" style="background: red;" v-else>
            <game-icon icon="warning" font-style="solid"/>
            <p>Could not determine streaming platform!  Please use a manual OBS browser source for this participant.</p>
        </div>
    </div>
</template>
<script>
import {defineComponent} from 'vue'
import GameIcon from "@/components/GameIcon.vue";

export default defineComponent({
    name: "StreamEmbed",
    components: {GameIcon},
    props: {
        streamUrl: String
    },
    computed: {
        isTwitchStream: function() {
            return this.getTwitchRegex().test(this.streamUrl);
        },
        isYouTubeStream: function() {
            return this.getYouTubeRegex().test(this.streamUrl);
        },
        streamEmbedUrl: function() {
            let matches = []
            if (this.isTwitchStream) {
                matches = this.getTwitchRegex().exec(this.streamUrl);
                return this.getTwitchEmbedFormat()
                    .replace('{0}', matches[1])
                    .replace('{1}', window.location.hostname);
            } else if (this.isYouTubeStream) {
                matches = this.getYouTubeRegex().exec(this.streamUrl);
                return this.getYouTubeEmbedFormat().replace('{0}', matches[4]);
            }

            return null;
        }
    },
    methods: {
        getTwitchRegex() {
            return /^(?:https?:\/\/)?(?:www\.|go\.)?twitch\.tv\/([a-z0-9_]+)($|\?)/g;
        },
        getTwitchEmbedFormat() {
            return 'https://player.twitch.tv/?channel={0}&autoplay=true&parent={1}';
        },
        getYouTubeRegex() {
            return /(https?:\/\/)?(www\.)?youtube\.com\/(channel|user)\/([\w-]+)/g;
        },
        getYouTubeEmbedFormat() {
            return 'https://www.youtube.com/embed/live_stream?channel={0}&autoplay=1';
        },
        reload() {
            // noinspection SillyAssignmentJS
            this.$refs.iframe.src = this.$refs.iframe.src;
        }
    }
})
</script>

<style scoped lang="scss">
    .stream-embed {
        height: 540px;
        width: 960px;

        iframe {
            border: none;
        }

        .embed-error {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 540px;
            width: 960px;
            background: red;
            color: black;
            font-family: monospace;
        }
    }
</style>