<script>
import {defineComponent} from 'vue'
import Modal from "@/components/Modal.vue";
import ToggleButton from "@/components/ToggleButton.vue";
import GameButton from "@/components/GameButton.vue";
import GameIcon from "@/components/GameIcon.vue";
import {useCookies} from "vue3-cookies";
import {v4 as uuidv4} from "uuid";

export default defineComponent({
    name: "CompetitorHomeSettings",
    components: {GameIcon, GameButton, ToggleButton, Modal},
    setup() {
        const { cookies } = useCookies();
        const uid = uuidv4();
        return {
            cookies,
            uid
        };
    },
    data() {
        return {
            metaSettings: {
                announcerAudioLevel: {
                    name: 'Announcer Audio Level',
                    description: 'Set the audio level for the announcer (spin countdown, victory / defeat, etc.)',
                    type: 'percentage|100'
                },
                showLocationBackground: {
                    name: 'Location Background',
                    description: 'Controls whether or not to show the background of the mission being played. ' +
                        'Consider disabling this on poor / metered internet connections.',
                    type: 'boolean'
                }
            },
            settings: {
                announcerAudioLevel: -1,
                showLocationBackground: false
            }
        }
    },
    watch: {
        settings: {
            deep: true,
            handler() {
                this.cookies.set('competitor-settings', JSON.stringify(this.settings), '1y');
                this.$emit('settings-change', this.settings);
            }
        }
    },
    created() {
        if (this.cookies.isKey('competitor-settings')) {
            this.settings = this.cookies.get('competitor-settings');
        } else {
            this.settings.announcerAudioLevel = 100;
            this.settings.showLocationBackground = true;
        }

        this.$emit('settings-change', this.settings);
    },
    methods: {
        showModal() {
            document.getElementById(`element-${this.uid}`).click();
        }
    }
})
</script>

<template>
<div class="content">
    <div :id="`element-${uid}`" data-toggle="modal" :data-target="`#settings-modal-${uid}`" style="display: none">
        (Placeholder div to toggle modal, so don't mess with this directly.)
    </div>
    <modal modal-title="Settings" :id="`settings-modal-${uid}`">
        <div class="row">
            <template v-for="(value, propertyName) in metaSettings">
                <div class="col-lg-3 col-6">
                    <div class="setting-name">{{ value.name }}</div>
                    <div class="setting-description">{{ value.description }}</div>
                </div>
                <div class="col-lg-3 col-6">
                    <template v-if="value.type.indexOf('percentage') !== -1">
                        <input type="range" min="0" max="100" v-model="settings[propertyName]">
                        {{ settings[propertyName] }}%
                    </template>
                    <template v-else-if="value.type === 'boolean'">
                        <toggle-button v-model="settings[propertyName]"/>
                    </template>
                </div>
            </template>
        </div>
        <template v-slot:modal-footer>
            <game-button data-dismiss="modal">
                <game-icon icon="failed" font-style="normal" />
                Close
            </game-button>
        </template>
    </modal>
</div>
</template>

<style scoped lang="scss">
.content {
    .setting-description {
        font-style: italic;
        font-size: .8rem;
    }

    .btn-h3red {
        color: #fff;
        background: $game-button-background;
        border: solid 1px $game-button-background-hover;

        &.active {
            background: $game-button-background-hover;
            border: solid 1px $game-button-background-hover;
        }
    }
}
</style>