<script>
import {defineComponent} from 'vue'
import GameIcon from "@/components/GameIcon.vue";

export default defineComponent({
    name: "CompetitorHomeSettingsButton",
    components: {GameIcon}
})
</script>

<template>
<div class="content" @click="$emit('show-modal')">
    <game-icon icon="settings" font-style="normal"/>
    <div>Settings</div>
</div>
</template>

<style scoped lang="scss">
.content {
    display: flex;
    align-items: center;

    div {
        margin-left: 10px;
    }
}
</style>