<template>
    <bar :data="data" :options="options" />
</template>

<script>
    import 'chart.js/auto';
    import { Bar } from 'vue-chartjs';

    export default {
        name: 'BarChart',
        components: { Bar },
        props: {
            data: null,
            options: null
        }
    };
</script>

<style scoped>

</style>