<template>
    <doughnut :data="data" :options="options" />
</template>

<script>
    import 'chart.js/auto';
    import { Doughnut } from 'vue-chartjs';

    export default {
        name: 'DonutChart',
        components: { Doughnut },
        props: {
            data: null,
            options: null
        }
    };
</script>

<style scoped>

</style>