<template>
    <!-- L must be uppercase for... reasons -->
    <Line :data="data" :options="options" />
</template>

<script>
    import 'chart.js/auto';
    import { Line } from 'vue-chartjs';

    export default {
        name: 'LineChart',
        components: { Line },
        props: {
            data: Object,
            options: Object
        }
    };
</script>

<style scoped>

</style>