<script>
import {defineComponent} from 'vue'
import 'brackets-viewer/dist/brackets-viewer.min.js'
import 'brackets-viewer/dist/brackets-viewer.min.css'
import Loader from "@/components/Loader.vue";

export default defineComponent({
    name: "BracketPreviewer",
    components: {Loader},
    props: {
        stageId: Number
    },
    data() {
        return {
            bracketData: null
        }
    },
    mounted() {
        this.refreshPreview();
    },
    methods: {
        refreshPreview() {
            this.bracketData = null;
            this.$http.get(`${this.$apiDomain}/api/stages/${this.stageId}/bracket-preview`).then(resp => {
                this.bracketData = resp.data;
                this.$nextTick(() => {
                    window.bracketsViewer.render({
                        stages: this.bracketData.stage,
                        matches: this.bracketData.match,
                        matchGames: this.bracketData.match_game,
                        participants: this.bracketData.participant
                    }, {
                        selector: `#previewer-${this.stageId}`,
                        clear: true
                    });
                })
            });
        }
    }
})
</script>

<template>
    <div class="content">
        <loader v-if="bracketData === null" />
        <div v-else :id="`previewer-${stageId}`" class="brackets-viewer"><!-- Filled by viewer --></div>
    </div>
</template>

<style scoped lang="scss">
.content {
    &:deep(.brackets-viewer) {
        --primary-background: transparent;


        .participant {
            color: #fff;

            &.hover {
                /* Underlying library does an !important, so gotta do it here :( */
                background-color: rgba(0,0,0,.3) !important;
            }
        }

        h1 {
            display: none;
        }
    }
}
</style>