/* Cards */
$card-footer-background: rgba(29, 40, 52, .7);
$card-footer-background-hover: #fb0111;
$card-footer-text: #fff;

/* Elusives */
$elusive-countdown-header: #fff;
$elusive-countdown: #fff;

/* Modals */
$modal-background: #1d2834;
$modal-text-color: #fff;

/* Game Buttons */
$game-button-background: #2d2f39;
$game-button-background-disabled: rgba(255, 255, 255, .3);
$game-button-background-hover: #fb0111;
$game-button-text: #fff;
$game-button-disabled-background: #ddd;
$game-button-disabled-text: #333;

/* Content Pages */
$content-background: #2d2f39;
$content-text: #fff;

/* Buttons */
$button-background: rgba(29, 40, 52, 0.8);
$button-background-hover: #424649;
