<script setup>
import GameButton from "@/components/GameButton.vue";
import GameIcon from "@/components/GameIcon.vue";
import Alert from "@/components/Alert.vue";
import RoundCompetitor from "@/components/swiss/RoundCompetitor.vue";
import axios from "axios";
import {inject, ref} from "vue";
import {useCookies} from "vue3-cookies";
import Utils from "@/components/Utils";

const toastr = inject('toastr');
const apiDomain = inject('apiDomain');
const { cookies } = useCookies();

const props = defineProps({
    stage: {
        type: Object,
        required: true
    },
    roundNumber: {
        type: Number,
        required: true
    },
    roundCompetitors: {
        type: Array,
        required: true
    },
    competitors: {
        type: Array,
        required: true
    },
    canStartRound: {
        type: Boolean,
        required: true
    }
});

const disableStartRoundButton = ref(false);

function startRound() {
    disableStartRoundButton.value = true;
    axios.post(`${apiDomain}/api/stages/${props.stage.id}/swiss/rounds`, {
        round: props.roundNumber
    }, Utils.getDiscordHeader(cookies))
        .then(_ => toastr.s("Request received. It may take up to a minute for matches to be generated. Refresh at will."))
        .catch(err => {
            toastr.e(`An error occurred while sending your request (${err})`);
            disableStartRoundButton.value = false;
        });
}
</script>

<template>
    <alert type="info">Here you can add or remove players for a given round. A checkmark indicates that the player will be included in the round.</alert>
    <div class="row">
        <round-competitor v-for="competitor in competitors" :competitor="competitor" :round-competitors="roundCompetitors" :round-number="roundNumber" :stage-id="stage.id" />
    </div>
    <game-button @click="startRound" :disabled="disableStartRoundButton" v-if="canStartRound">
        <game-icon icon="arrow-right" font-style="normal" />
        Start Round {{ roundNumber }}
    </game-button>
</template>

<style scoped lang="scss">
.row {
    color: white;
}
</style>