<script setup>
import GameButton from "@/components/GameButton.vue";
import GameIcon from "@/components/GameIcon.vue";
import {ref, inject} from "vue";
import axios from 'axios'
import ArrayHelpers from "@/components/ArrayHelpers";
import Utils from "@/components/Utils";
import {useCookies} from "vue3-cookies";

const toastr = inject('toastr');
const apiDomain = inject('apiDomain');
const { cookies } = useCookies();

const props = defineProps({
    stageId: {
        type: Number,
        required: true
    },
    roundNumber: {
        type: Number,
        required: true
    },
    roundCompetitors: {
        type: Array,
        required: true
    },
    competitor: {
        type: Object,
        required: true
    }
});
const disabled = ref(false);

function togglePlayer(competitor) {
    disabled.value = true;

    axios.patch(`${apiDomain}/api/stages/${props.stageId}/swiss/players`, {
        round: props.roundNumber,
        competitorId: competitor.id,
        participating: !currentlyParticipating(competitor)
    }, Utils.getDiscordHeader(cookies)).then(_ => {
        if (currentlyParticipating(competitor)) {
            ArrayHelpers.deleteElement(props.roundCompetitors, competitor.id);
        } else {
            props.roundCompetitors.push(competitor.id);
        }
        toastr.s('Changes successfully saved!');
        disabled.value = false;
    }).catch(err => {
        toastr.e(`An error occurred while saving changes: (${err})`);
        disabled.value = false;
    });
}

function currentlyParticipating(competitor) {
    return props.roundCompetitors.some(x => x === competitor.id);
}
</script>

<template>
    <div class="col-9 col-md-4 col-lg-3 col-xl-2 competitor-name">{{ competitor.challongeName }}</div>
    <div class="col-3 col-md-2 col-lg-1 col-xl-1 competitor-status">
        <game-button @click="togglePlayer(competitor)" :disabled="disabled">
            <game-icon :extra-classes="currentlyParticipating(competitor) ? 'check' : 'failed'"
                       :icon="currentlyParticipating(competitor) ? 'check' : 'failed'"
                       font-style="normal" />
        </game-button>
    </div>
</template>

<style scoped lang="scss">
.competitor-name {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.competitor-status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

    &:deep(.game-button) {
        margin: 0;
        text-align: center;
    }

    &:deep(.game-icon.check) {
        background: white;
        color: black;
    }
}
</style>