<script>
import {defineComponent} from 'vue'
import Matchup from "@/components/Matchup.vue";
import Alert from "@/components/Alert.vue";
import Bracket from "@/components/BracketManager/Bracket.vue";
import Utils from "@/components/Utils";
import RoundCompetitors from "@/components/swiss/RoundCompetitors.vue";
import GroupStageStandings from "@/components/GroupStageStandings.vue";
import SwissStandings from "@/components/SwissStandings.vue";

export default defineComponent({
    name: "SwissStage" ,
    components: {SwissStandings, GroupStageStandings, RoundCompetitors, Bracket, Alert, Matchup},
    props: {
        stage: Object,
        admin: Boolean,
        eventSlug: String,
        bracketData: Object,
        bracket: Object,
        userContext: Object|null,
        possibleShoutcasters: Array,
        possibleMatchAdmins: Array,
        filters: Object
    },
    data() {
        return {
            standings: null
        }
    },
    methods: {
        getSortedRoundNumbers() {
            return [...new Set(this.stage.settings.rounds.map(x => x.number))].sort((x, y) => {
                if (x === y) {
                    return 0;
                }

                if (x > 0 && y < 0) {
                    return -1;
                }

                return x > y ? 1 : -1;
            });
        },
        getUnfilteredMatchesForRound(roundNumber) {
            return this.stage.matches.filter(x => x.round === roundNumber);
        },
        getMatchesForRound(roundNumber) {
            return this.getUnfilteredMatchesForRound(roundNumber)
                .filter(x => (this.filters.includeCompletedMatches && x.state === 'Complete') ||
                    (this.filters.includeScheduledMatches && x.matchScheduledAt && x.state !== 'Complete') ||
                    (this.filters.includeUnscheduledMatches && !x.matchScheduledAt && x.state !== 'Complete'));
        },
        resyncMatches() {
            this.$http.get(`${this.$apiDomain}/api/stages/${this.stage.id}/match-sync`, Utils.getDiscordHeader(this.cookies))
                .then(_ => this.$toastr.s('Request submitted. Refresh the page in about a minute to see updated matches.'))
                .catch(err => this.$toastr.e(`Unable to trigger a match sync (${err})`));
        },
        canStartRound(roundNumber) {
            // For round 1, if it hasn't started yet, it can start.
            if (roundNumber === 1) {
                return !this.stage.settings.rounds.find(x => x.number === roundNumber).locked;
            }

            const previousRound = this.stage.settings.rounds.find(x => x.number === roundNumber - 1);

            // Can't start this round if the previous one hasn't started yet
            if (!previousRound.locked) {
                return false;
            }

            // Can't start if previous round's matches haven't been complete yet, or if no matches exist yet (due to background job running)
            const previousRoundMatches = this.getMatchesForRound(roundNumber - 1);
            return !(previousRoundMatches.length && previousRoundMatches.some(x => x.state !== 'Complete'));
        },
        getStandings() {
            if (this.stage.state === 'Pending') {
                return;
            }

            this.$http.get(`${this.$apiDomain}/api/stages/${this.stage.id}/swiss/standings`)
                .then(resp => this.standings = resp.data)
                .catch(err => this.$toastr.e(`Failed to fetch standings (${err})`));
        }
    },
    mounted() {
        this.getStandings();
    }
})
</script>

<template>
    <div>
        <ul class="nav nav-pills mb-3" :id="`standings-tab-${stage.id}`" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="pill" :href="`#stage-${stage.id}-standings`"
                   role="tab" :aria-controls="`stage-${stage.id}-standings`">Standings</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="pill" :href="`#stage-${stage.id}-matches`"
                   role="tab" :aria-controls="`stage-${stage.id}-matches`">Match Table</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent2">
            <div class="tab-pane fade show active" :id="`stage-${stage.id}-standings`" role="tabpanel">
                <swiss-standings v-if="standings !== null" :standings="standings" />
            </div>
            <div class="tab-pane fade" :id="`stage-${stage.id}-matches`" role="tabpanel">
                <template v-for="roundNumber in getSortedRoundNumbers()">
                    <div class="match-header">
                        <div class="row">
                            <div class="col-12">
                                <div class="round-header">Round {{ roundNumber }}</div>
                            </div>
                        </div>
                    </div>
                    <template v-if="!getMatchesForRound(roundNumber).length && !stage.settings.rounds.find(x => x.number === roundNumber).locked">
                        <round-competitors v-if="admin"
                                           :competitors="bracketData.competitors"
                                           :stage="stage"
                                           :round-number="roundNumber"
                                           :round-competitors="stage.settings.rounds.find(x => x.number === roundNumber).competitors"
                                           :can-start-round="canStartRound(roundNumber)" />
                        <p v-else>Round not yet ready</p>
                    </template>
                    <matchup v-for="match in getMatchesForRound(roundNumber)"
                             :key="match.id"
                             :event-slug="eventSlug"
                             :rounds-to-victory-points="stage.pointsForVictory"
                             :match="match"
                             :competitors="bracketData.competitors"
                             :stage-id="stage.id"
                             :bracket-id="bracket.id"
                             :maps="bracket.maps"
                             :all-maps="bracket.maps"
                             :user-context="userContext"
                             :possible-shoutcasters="possibleShoutcasters"
                             :possible-match-admins="possibleMatchAdmins"
                             :admin="admin" />
                </template>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.nav-item:not(:first-child) {
    margin-left: 5px;
}

.nav-link {
    background: #1d2834;
    color: #fff;
    fill: #fff;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;

    &.active {
        background: #fb0111;
    }
}

.round-header {
    font-weight: bolder;
    color: #000;
    background-color: rgba(255, 255, 255, .9);
    padding-left: 10px;

    .group-header {
        display: flex;
        align-items: center;

        > div {
            margin-right: 20px;
        }

        li a {
            color: black;

            &:hover {
                background: rgba(0,0,0,.2);
            }

            &.active {
                background: $button-background;
                color: $card-footer-text;
            }

        }
    }
}

p {
    color: white;
    font-style: italic;
}
</style>