<script>
import {defineComponent} from 'vue'
import Alert from "@/components/Alert.vue";
import {useCookies} from "vue3-cookies";
import TimerHandler from "@/components/TimerHandler";
import PlayerTile from "@/components/MatchAdmin/PlayerTile.vue";
import InnerTimer from "@/components/MatchAdmin/InnerTimer.vue";
import SvgFontIcon from "@/components/SvgFontIcon.vue";

export default defineComponent({
    name: "MatchStatus",
    setup() {
        const { cookies } = useCookies();
        return {
            cookies
        };
    },
    emits: ['process-completion', 'remove-last-result'],
    components: {SvgFontIcon, InnerTimer, PlayerTile, Alert},
    props: {
        lockHubActions: false,
        eventSlug: String,
        matchId: Number,
        competitors: Array,
        mapSelections: Array,
        currentMap: Object|null,
        matchComplete: Boolean,
        timerDelta: Number,
        timer: Object,
        matchHub: Object
    },
    data() {
        return {
            pretime: {
                inPretime: false,
                remainingPretimeInSeconds: 0
            },
            remainingTimeInSeconds: 0,
            elapsedTimeInSeconds: 0,
            currentTime: null,
            timerInterval: null
        }
    },
    mounted() {
        TimerHandler.setInterval(this.retrieveCompetitorStatuses, 2000);
    },
    methods: {
        getHistoryDisplay(map) {
            if (map.winnerId === null) {
                return `${map.mapName} ended in a draw | 1 - 1`;
            }

            const firstCompetitorWon = map.winnerId === this.competitors[0].id;
            if (firstCompetitorWon) {
                return `${this.competitors[0].name} won ${map.mapName} | 2 - 0`;
            } else {
                return `${this.competitors[1].name} won ${map.mapName} | 0 - 2`;
            }
        },
        getTimeDifference() {
            if (this.competitors[0].completeTime && this.competitors[1].completeTime) {
                const timeDifference = Math.abs((new Date(this.competitors[0].completeTime).getTime() -
                    new Date(this.competitors[1].completeTime)) / 1000);
                const locale = new Intl.NumberFormat().resolvedOptions().locale;

                return new Intl.NumberFormat(locale, { maximumFractionDigits: 2 }).format(timeDifference);
            }
        },
        finalizeMatch() {
            this.$emit('finalize-match');
        },
        retrieveCompetitorStatuses() {
            for (const competitor of this.competitors) {
                competitor.status = this.getStatusForCompetitor(new Date(competitor.lastPing));
            }
        },
        getStatusForCompetitor(lastPing) {
            const currentTime = Date.now();
            if (currentTime - lastPing < 6_000) {
                return {
                    color: 'green',
                    text: 'Online'
                };
            }

            if (currentTime - lastPing < 15_000) {
                return {
                    color: 'orange',
                    text: 'Connection Issues'
                };
            }

            return {
                color: 'red',
                text: 'Offline'
            };
        },
        getPlayerScore(competitor) {
            const numberOfWins = this.mapSelections.filter(x => x.winnerId === competitor.id && x.state === 'Complete').length;
            const numberOfDraws = this.mapSelections.filter(x => x.winnerId === null && x.state === 'Complete').length;

            return (numberOfWins * 2) + numberOfDraws;
        },
        updateMessageAckStatus(message) {
            this.$refs[`playerTile${message.competitorId}`][0].clearPendingMessageIndicator();
        },
        updateTimer() {
            this.currentTime = new Date(new Date().getTime() + this.timerDelta);

            // tslint:disable-next-line
            this.pretime.inPretime = new Date(this.timer.startTime).getTime() - this.currentTime.getTime() > 0;
            this.pretime.remainingPretimeInSeconds = this.getRemainingPretimeInSeconds();
            this.remainingTimeInSeconds = this.getRemainingTimeInSeconds();
            this.elapsedTimeInSeconds = this.getElapsedTimeInSeconds();
            this.timerInterval = TimerHandler.setTimeout(this.updateTimer, 100);
        },
        getRemainingTimeInSeconds() {
            if (this.timer.endTime === null) {
                return null;
            }

            const diff = new Date(this.timer.endTime).getTime() - this.currentTime.getTime();
            return diff / 1000;
        },
        getElapsedTimeInSeconds() {
            const diff = this.currentTime.getTime() - new Date(this.timer.startTime).getTime();
            return diff / 1000;
        },
        getRemainingPretimeInSeconds() {
            return (new Date(this.timer.startTime).getTime() - this.currentTime.getTime()) / 1000;
        }
    }
})
</script>

<template>
    <div class="match-status" v-if="competitors.length">
        <div class="row">
            <div class="col-lg-3 col-12">
                <h3>Score Manager</h3>
                <div v-if="!matchComplete">
                    <div class="dropdown d-grid">
                        <button class="btn btn-block btn-dark draw dropdown-toggle" type="button" id="force-score-button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Issue Draw / Override Score
                        </button>
                        <div class="dropdown-menu" aria-labelledby="force-score-button">
                            <a href="javascript:" class="dropdown-item"
                               :class="{ 'disabled': lockHubActions }"
                               @click="$emit('process-completion', { playerIndex: null, state: 'Draw' })">
                                <svg-font-icon icon="plus-or-minus" />
                                Call a Draw
                            </a>
                            <template v-for="(competitor, index) in competitors">
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">
                                    <img class="discord-avatar" :src="competitor.avatarUrl" alt="">
                                    {{ competitor.name }}
                                </h6>
                                <a href="javascript:" class="dropdown-item"
                                   :class="{ 'disabled': lockHubActions }"
                                   @click="$emit('process-completion', { playerIndex: index, state: 'Accept' })">
                                    <i class="fas fa-trophy"></i>
                                    Issue Victory for {{ currentMap.mapName }}
                                </a>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="d-grid">
                    <button class="btn btn-block hitmaps-red" @click="finalizeMatch" :disabled="!matchComplete || lockHubActions">
                        <i class="fas fa-flag-checkered"></i>
                        Finalize Match
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 player-tile" v-for="(competitor, index) in competitors">
                <player-tile :index="index" :competitor="competitor" :event-slug="eventSlug" :match-id="matchId"
                             :finished="competitor.completeTime" :score="getPlayerScore(competitor)" :ref="`playerTile${competitor.id}`"
                             :lock-hub-actions="lockHubActions"
                             :match-hub="matchHub"
                             @process-completion="$emit('process-completion', $event)" />
            </div>
            <div class="col-lg-3 col-12 match-history">
                <h3>Match History</h3>
                <div class="history" v-for="map in mapSelections.filter(x => x.state === 'Complete')">
                    {{ getHistoryDisplay(map) }}
                </div>
                <div class="d-grid">
                    <button class="btn btn-sm btn-block btn-danger"
                            :class="{ 'disabled': lockHubActions }"
                            v-if="mapSelections.some(x => x.state === 'Complete') && !competitors.some(x => x.completeTime)"
                            @click="$emit('remove-last-result')">
                        <i class="fas fa-trash"></i> Remove Most Recent Result
                    </button>
                </div>
            </div>
        </div>
        <div class="row photo-finish" v-if="getTimeDifference()">
            <div class="col-lg-6 offset-lg-3 col-md-12">
                <alert type="info">
                    <i class="fas fa-exclamation-triangle"></i>
                    Players finished <b>{{ getTimeDifference() }}</b> seconds apart
                </alert>
            </div>
        </div>
        <div class="timer-parent">
            <template v-if="pretime.inPretime">Round begins in: </template>
            <template v-else-if="timer.endTime">Timer expires in: </template>
            <inner-timer v-if="timer.startTime"
                         :remaining-time-in-seconds="pretime.inPretime ? (pretime.remainingPretimeInSeconds + 1) : remainingTimeInSeconds"
                         :elapsed-time-in-seconds="elapsedTimeInSeconds"
                         :show-timer="timer.endTime !== null" />
        </div>
    </div>
    <div class="match-status" style="min-height: 50px;" v-else>
        <div class="row">
            <div class="col-12">
                LOADING
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.match-status {
    .hitmaps-red {
        background: #e81a22;
        border: none;
        color: white;

        &:hover {
            background: #b6151b;
        }
    }

    .player-tile {
        display: flex;
    }

    .photo-finish {
        margin-top: 10px;
    }

    .score-history {
        text-align: right;
    }

    .dropdown-menu {
        background: #1d2834;
        color: #fff;
        min-width: 100%;

        .discord-avatar {
            width: 16px;
            height: 16px;
        }

        h6 {
            color: #fff;
            font-family: 'nimbus_sans_lbold', sans-serif;
            text-transform: uppercase;

            img {
                vertical-align: top;
            }
        }

        a {
            color: #fff;

            &:hover,
            &:focus,
            &:active {
                background: #fb0111;
            }
        }
    }

    padding: 15px;
    color: #fff;
    background: #2d2f39;

    h3 {
        font-family: 'nimbus_sans_lbold', sans-serif;
        text-transform: uppercase;
    }

    .draw {
        margin-bottom: 10px;
    }

    .challonge-orange {
        background: #FF7324;
        border-color: #FF7324;
        color: #fff;

        &:disabled:hover {
            background: #FF7324;
            border-color: #FF7324;
            color: #fff;
            cursor: not-allowed;
        }

        &:hover {
            background: #f05700;
            border-color: #e65300;
            color: #fff;
        }
    }

    .finished {
    }

    .match-history {
        display: flex;
        flex-direction: column;

        .history {
            flex-grow: 1;
        }
    }

    .timer-parent {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        margin-top: 15px;

        .text {
            font-size: 1rem;
            height: inherit;
            width: inherit;
            line-height: inherit;
        }
    }
}

@keyframes flash {
    0%,
    49% {
        visibility: hidden;
    }
    50%,
    100% {
        visibility: visible;
    }
}

.flash {
    animation: flash 2s linear infinite;
}
</style>