<script>
import {defineComponent} from 'vue'
import Alert from "@/components/Alert.vue";
import Modal from "@/components/Modal.vue";
import GameIcon from "@/components/GameIcon.vue";
import GameButton from "@/components/GameButton.vue";
import Utils from "../Utils";
import {useCookies} from "vue3-cookies";
import { v4 as uuidv4 } from 'uuid';

export default defineComponent({
    name: "PlayerTile",
    computed: {
        Utils() {
            return Utils
        }
    },
    setup() {
        const { cookies } = useCookies();
        const uid = uuidv4();
        return {
            cookies,
            uid
        };
    },
    components: {GameButton, GameIcon, Modal, Alert},
    props: {
        lockHubActions: false,
        eventSlug: String,
        matchId: Number,
        competitor: Object,
        index: Number,
        finished: String,
        score: Number,
        matchHub: Object
    },
    data() {
        return {
            rejecting: false,
            message: '',
            pendingMessage: null
        }
    },
    mounted() {
        this.fetchUnreadMessage();
    },
    methods: {
        fetchUnreadMessage() {
            this.matchHub.competitorCheckMessages(this.matchId, this.competitor.publicId)
                .then(resp => {
                    this.pendingMessage = resp === null ? null : resp.id;
                });
        },
        clearPendingMessageIndicator() {
            this.pendingMessage = null;
        },
        composeRejectionMessage() {
            this.rejecting = true;
        },
        sendMessage() {
            this.matchHub.adminSendMessage(this.matchId, this.getDiscordToken(), this.competitor.id, this.message)
                .then(resp => {
                    this.pendingMessage = resp.id;

                    if (this.rejecting) {
                        this.$emit('process-completion', { playerIndex: this.index, state: 'Reject' });
                        this.rejecting = false;
                    }
                    this.closeModal();
                }).catch(_ => this.$toastr.e('Failed to send message'));
        },
        copyCompetitorLink() {
            Utils.copyToClipboard(`${this.$vueDomain}/events/${this.eventSlug}/matches/${this.matchId}/${this.competitor.publicId}#${this.competitor.name.replace(' ', '-')}`)
                .then(() => this.$toastr.s('Copied competitor link to clipboard'));
        },
        closeModal() {
            // Clear everything out and close the modal
            document.getElementById(`close-modal-${this.uid}`).click();
            this.message = '';
        },
        getDiscordToken() {
            return `${this.cookies.get('discord-token-type')} ${this.cookies.get('discord-access-token')}`;
        }
    }
})
</script>

<template>
<div class="player-tile">
    <h3>
        <img :src="competitor.avatarUrl" alt="">
        {{ competitor.name }}
        <i class="fas fa-circle" :style="`color: ${competitor.status.color}`" :title="competitor.status.text"></i>
    </h3>
    <div class="player-score">{{ score }}</div>
    <div class="row finished" v-if="finished">
        <div class="col-12">
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-2x fa-exclamation-triangle flash"></i>
                </div>
                <div class="col-9 text-left">
                    {{ competitor.name }} has finished at {{ Utils.formatDateTime(finished, 'HH:mm:ss') }}!  Please confirm.
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 col-12 d-grid">
                    <button class="btn btn-xs btn-block btn-success"
                            :disabled="lockHubActions"
                            @click="$emit('process-completion', { playerIndex: index, state: 'Accept' })">
                        <i class="fas fa-check"></i>
                        Accept
                    </button>
                </div>
                <div class="col-md-6 col-12 d-grid">
                    <button class="btn btn-xs btn-block btn-danger"
                            :disabled="lockHubActions"
                            data-toggle="modal" :data-target="`#send-message-${uid}`" @click="composeRejectionMessage">
                        <i class="fas fa-times"></i>
                        Reject
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="player-link" v-else>
        <div class="row">
            <div class="col-md-6 col-12">
                <button class="btn btn-xs btn-block btn-light" @click="copyCompetitorLink">
                    <i class="fas fa-clipboard"></i>
                    Copy Competitor Link to Clipboard
                </button>
            </div>
            <div class="col-md-6 col-12">
                <button class="btn btn-xs btn-block btn-dark" data-toggle="modal" :data-target="`#send-message-${uid}`" :disabled="pendingMessage || lockHubActions">
                    <i class="fas fa-envelope"></i>
                    <template v-if="!pendingMessage"> Send Message to Competitor</template>
                    <template v-else> Message sent, waiting for acknowledgement</template>
                </button>
            </div>
        </div>
    </div>
    <modal class="reject-modal" :id="`send-message-${uid}`" :modal-title="`Send Message to ${competitor.name}`">
        <alert type="danger" v-if="rejecting">
            A message is required when rejecting a spin.
        </alert>
        <textarea class="form-control" v-model="message" placeholder="Type your message here"></textarea>
        <template v-slot:modal-footer>
            <game-button @click="sendMessage" :disabled="message.trim() === ''">
                <game-icon icon="arrow-right" font-style="normal"/>
                Send Message
            </game-button>
            <game-button @click="closeModal" v-if="!rejecting">
                <game-icon icon="failed" font-style="normal"/>
                Cancel
            </game-button>
            <button :id="`close-modal-${uid}`" style="display: none" data-dismiss="modal">
                (This button controls closing the modal pragmatically. Please don't mess with this directly!)
            </button>
        </template>
    </modal>
</div>
</template>

<style scoped lang="scss">
.player-tile {
    text-align: center;
    display: flex;
    flex-direction: column;

    h3 {
        font-family: "nimbus_sans_lbold", sans-serif;
        font-size: 1.75rem;
        text-transform: uppercase;
    }

    img {
        width: 28px;
        height: 28px;
        vertical-align: top;
    }

    .player-score {
        font-size: 2rem;
        flex-grow: 1;
        font-family: 'nimbus_sans_lbold', sans-serif;
    }

    .reject-modal {
        text-align: left;

        textarea {
            background: transparent;
            color: #fff;
        }
    }

    .btn-xs {
        --bs-btn-padding-y: .25rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: .9rem;
    }
}
</style>