<script>
import {defineComponent} from 'vue'
import UtilityButton from "@/components/UtilityButton.vue";
import GameIcon from "@/components/GameIcon.vue";
import DatePicker from 'vue-datepicker-next';
import 'vue-datepicker-next/index.css';
import Utils from "../Utils";

export default defineComponent({
    name: "UtilityButtons",
    computed: {
        Utils() {
            return Utils
        }
    },
    emits: ['regenerate', 'stream-overlay-button-clicked', 'clear-spin', 'send-spin', 'match-duration', 'match-time'],
    components: {GameIcon, UtilityButton, DatePicker},
    props: {
        disableSpinButton: Boolean,
        lockHubActions: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
            matchDuration: 30,
            matchTime: this.getCurrentTimeAtZeroSeconds()
        }
    },
    methods: {
        getCurrentTimeAtZeroSeconds() {
            const current = new Date();
            current.setUTCSeconds(0, 0);
            current.setUTCMinutes(current.getUTCMinutes());

            return current;
        }
    }
})
</script>

<template>
    <div class="row utilities">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <utility-button small :disabled="disableSpinButton || lockHubActions" theme="dark" @click="$emit('regenerate')">
                        <game-icon icon="reset" font-style="solid" />
                        Regenerate
                    </utility-button>
                </div>
                <div class="col-12">
                    <utility-button small @click="$emit('stream-overlay-button-clicked')" theme="dark">
                        <game-icon icon="online" font-style="solid" />
                        Copy Shoutcast Overlay Link
                    </utility-button>
                </div>
                <div class="col-12">
                    <utility-button small theme="dark" @click="$emit('clear-spin')" :disabled="lockHubActions">
                        <game-icon icon="trash" font-style="solid" />
                        Clear Spin
                    </utility-button>
                </div>
            </div>

        </div>
        <div class="col match-duration">
            <utility-button theme="light" no-hover>
                <game-icon font-style="solid" icon="timed" />
                <div class="row" style="font-size: 1.4rem; text-transform: uppercase">
                    <div class="col">
                        <div class="header">Match Length</div>
                        <select v-model="matchDuration" @change="$emit('match-duration', matchDuration)">
                            <option :value="60">1 hour</option>
                            <option :value="47">47 minutes</option>
                            <option :value="45">45 minutes</option>
                            <option :value="30">30 minutes</option>
                            <option :value="20">20 minutes</option>
                            <option :value="-1">No time limit</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="header">
                            Match Time <span class="timezone">({{ Utils.formatDateTime(new Date(), 'z') }})</span>
                        </div>
                        <date-picker type="datetime"
                                     :disabled-date="(date) => date <= new Date().setDate(new Date().getDate() - 1)"
                                     :show-second="false"
                                     format="YYYY-MM-DD HH:mm"
                                     @change="$emit('match-time', matchTime)"
                                     v-model:value="matchTime"
                                     :clearable="false" />
                        <span class="help-block">To display the spin immediately, select a time in the past</span>
                    </div>
                </div>
            </utility-button>
        </div>
        <div class="col">
            <utility-button theme="dark" @click="$emit('send-spin')" :disabled="lockHubActions">
                <game-icon icon="play" font-style="solid" />
                Send Spin
            </utility-button>
        </div>
    </div>
    <div class="row utilities">
    </div>
</template>

<style scoped lang="scss">
.col-12 + .col-12 {
    margin-top: 10px;
}

.match-duration {
    text-align: center;

    .header {
        font-size: .9rem;

        .timezone {
            font-size: .8rem;
        }
    }

    .help-block {
        display: block;
        font-size: .7rem;
        font-style: italic;
    }
}

i {
    font-size: 5em;
}
</style>