<template>
    <div class="body" :style="`background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('${Utils.getCdnFriendlyUrl(backgroundUrl)}') no-repeat center center fixed`"
         v-if="loadedEvent">
        <div class="header">
            <img :src="Utils.getCdnFriendlyUrl(logoUrl)" alt="Event Logo">
        </div>
        <div class="bracket-challonge">
            <div style="color: white" class="bracket-output" v-if="challongeBracket" v-html="challongeBracket"></div>
            <div class="platform-select" v-else-if="platforms !== null && !loadingBracket && !selectedPlatform">
                <div class="platform" v-for="platform in platforms" @click="getBracketForPlatform(platform)">
                    <platform-icon :platforms="platform.platformIcons"/>
                    <h1>{{ platform.name }}</h1>
                </div>
            </div>
            <div class="self-hosted-bracket" v-else-if="selfHostedBracket">
                <bracket :stage-id="selectedPlatform.activeStageId" />
            </div>
            <loader v-else/>
        </div>
    </div>
</template>

<script>
    import Loader from '@/components/Loader.vue';
    import PlatformIcon from '@/components/PlatformIcon.vue';
    import Utils from "@/components/Utils";
    import Bracket from "@/components/BracketManager/Bracket.vue";
    export default {
        name: 'BracketOverlay',
        components: {Bracket, PlatformIcon, Loader},
        props: {
            eventSlug: {
                type: String,
                required: true,
            },
        },
        data() {
            return {
                platforms: null,
                challongeBracket: null,
                loadingBracket: false,
                backgroundUrl: null,
                logoUrl: null,
                selfHostedBracket: false,
                selectedPlatform: null
            };
        },
        computed: {
            Utils() {
                return Utils
            },
            loadedEvent() {
                return this.backgroundUrl !== null && this.logoUrl !== null;
            }
        },
        mounted() {
            this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}`)
                .then(resp => {
                    this.platforms = [];
                    this.backgroundUrl = resp.data.event.overlayBackgroundUrl;
                    this.logoUrl = resp.data.event.overlayLogoUrl;
                    for (const tournament of resp.data.brackets) {
                        this.platforms.push({
                            name: tournament.platform,
                            platformIcons: tournament.platformIcons,
                            bracketId: tournament.id,
                            activeStageId: tournament.stages.find(x => x.state === 'Underway')?.id,
                            activeStageType: tournament.stages.find(x => x.state === 'Underway')?.type
                        });
                    }

                    if (this.platforms.length === 1) {
                        this.getBracketForPlatform(this.platforms[0]);
                    }
                });
        },
        methods: {
            getBracketForPlatform(platform) {
                this.selectedPlatform = platform;
                if (platform.activeStageType === 'challonge') {
                    this.loadingBracket = true;
                    this.$http.get(`${this.$apiDomain}/api/brackets/${platform.bracketId}/visual-bracket`)
                        .then(resp => {
                            this.challongeBracket = resp.data;
                            this.loadingBracket = false;
                        });
                } else {
                    this.selfHostedBracket = true;
                }
            }
        }
    };
</script>

<style lang="scss">
    .body {
        width: 1920px;
        height: 100vh;

        .bracket-challonge {
            width: 1920px;
            height: 1080px;

            .platform-select {
                display: flex;
                .platform {
                    margin: 10px;
                    flex-basis: 0;
                    flex-grow: 1;
                    max-width: 100%;
                    background: rgba(255, 255, 255, .5);
                    border-radius: 5px;
                    filter: drop-shadow(2px 2px 4px #000);
                    font-size: 2.5rem;

                    &:hover {
                        cursor: pointer;
                        background: rgba(255, 255, 255, .6);
                    }
                }
            }

            svg {
                margin-top: -110px;
            }
            #Layer_1 {
                display: none;
            }

            .title {
                display: none;
            }

            .round-label {
                rect {
                    fill: rgba(0, 0, 0, .5);
                    filter: drop-shadow(0 0 7px rgba(0,0,0,1));
                }

                text {
                    fill: white;
                }
            }

            .match--base-background {
                fill: rgba(0, 0, 0, .5);
            }

            .match--player-background {
                fill: transparent;
            }

            .match--seed-background {
                fill: transparent;
            }

            .match--seed {
                fill: transparent;
            }

            .match--player-name {
                fill: white;
            }

            .match--player-score-background {
                fill: transparent;

                &.-winner {
                    fill: rgba(255, 255, 255);
                }
            }

            .match--player-score {
                fill: white;

                &.-winner {
                    fill: black;
                }
            }

            .bracket-line {
                stroke: white;
            }

            .match--identifier {
                fill: white;
            }
        }
    }
</style>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        width: 1920px;
        height: 1080px;
        text-align: center;
        background-size: cover;
        overflow: auto;

        .header {
            color: #fff;
            font-family: 'nimbus_sans_lbold', sans-serif;

            h1 {
                font-size: 3rem;
            }

            img {
                height: 119px;
            }
        }

        .self-hosted-bracket {
            :deep(.brackets-viewer) {
                align-items: center;
                --match-width: 200px;

                .opponents {
                    background: rgba(0,0,0,.6);
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #aaa;
    }

    ::-webkit-scrollbar-track {
        background-color: #ccc;
    }
</style>
