<template>
    <div v-if="event" class="wrapper">
        <div class="content">
            <nav-header :tournament-event="event" :user-context="userContext" @logout="logout" />
            <registration-open v-if="event.state === 'Pending' && new Date(event.isoRegistrationEndDate) > new Date()"
                               :tournament-event="event"
                               :user-context="userContext" />
            <event-pending-start v-else-if="event.state === 'Pending'"
                                 :tournament-event="event"
                                 :brackets="brackets"
                                 :user-context="userContext" />
            <template v-else>
                <div class="row matches">
                    <ul class="nav nav-pills mb-3" id="platforms-tab" role="tablist" v-if="brackets.length > 1">
                        <li class="nav-item" role="presentation" v-for="(bracketInfo, index) in brackets">
                            <a class="nav-link" :class="index === 0 ? 'active': ''" data-toggle="pill"
                               :href="`#bracket-${bracketInfo.platform}`" role="tab"
                               :aria-controls="`bracket-${bracketInfo.platform}`">
                                <platform-icon :platforms="bracketInfo.platformIcons"></platform-icon>
                                {{ bracketInfo.platform }}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <template v-for="(bracketInfo, index) in brackets">
                            <div class="tab-pane fade" :class="index === 0 ? 'show active' : ''"
                                 :id="`bracket-${bracketInfo.platform}`" role="tabpanel">
                                <tournament :event-slug="eventSlug"
                                            :background="background"
                                            :bracket="bracketInfo"
                                            :admin="eventAdmin"
                                            :possible-shoutcasters="possibleShoutcasters"
                                            :possible-match-admins="possibleMatchAdmins"
                                            :showFinishedMatches="showFinishedMatches"
                                            :user-context="userContext"></tournament>
                            </div>
                        </template>
                    </div>
                </div>
            </template>

        </div>
    </div>

</template>

<style lang="scss" scoped>
    .blurple {
        background: #7289da;
        color: #fff;
        border: none;

        &:hover {
            background: #6073bf;
        }
    }

    .wrapper {
        min-height: 100vh;

        background: url('https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg') no-repeat center center fixed;
        background-size: cover;

        .registration-header {
            margin: 30px 30px 0 30px;
            height: 100px;
        }

        .registration-body {
            margin: 0 30px 30px 30px;
            background: #fff;

            .registration-info {
                padding: 20px;

                h1 {
                    text-transform: uppercase;
                }
            }

            .registration-form {
                font-family: "Arial", "Helvetica", sans-serif;

                .platform {
                    border-radius: 5px;
                    border: solid 2px #ccc;
                    background: #fcfcfc;

                    &:hover {
                        cursor: pointer;
                    }

                    &.selected {
                        background: rgba(255, 0, 60, .3);
                        border: solid 2px #ff003c;
                    }

                    .participant-count {
                        font-size: 1rem;
                    }
                }
            }
        }

        .matches {
            display: block;
            padding: 10px;
            margin: 10px;

            .nav-item:not(:first-child) {
                margin-left: 5px;
            }

            .nav-link {
                background: #1d2834;
                color: #fff;
                fill: #fff;
                border-radius: 0;
                text-transform: uppercase;
                text-align: center;

                &.active {
                    background: #fb0111;
                }
            }
        }
    }
</style>

<script>
    import Tournament from '@/components/Tournament.vue';
    import Event from '@/components/Event.ts';
    import PlatformIcon from '@/components/PlatformIcon.vue';
    import Utils from '@/components/Utils.ts';
    import ClassicHeader from '@/components/ClassicHeader.vue';
    import UserContext from '@/components/UserContext.ts';
    import {useCookies} from "vue3-cookies";
    import NavHeader from "@/components/NavHeader.vue";
    import Alert from "@/components/Alert.vue";
    import RegistrationOpen from "@/components/event/RegistrationOpen.vue";
    import EventPendingStart from "@/components/event/EventPendingStart.vue";
    import Bracket from "@/components/Bracket";

    export default {
        name: 'Event',
        setup() {
            const { cookies } = useCookies();
            return {
                cookies
            }
        },
        components: {
            EventPendingStart,
            RegistrationOpen,
            Alert,
            NavHeader,
            ClassicHeader,
            PlatformIcon,
            Tournament
        },
        props: {
            eventSlug: ''
        },
        data() {
            return {
                event: null,
                fetchingDiscordInfo: false,
                brackets: [],
                userContext: null,
                possibleShoutcasters: [],
                possibleMatchAdmins: []
            };
        },
        computed: {
            showFinishedMatches() {
                return new Date() > new Date(this.event.isoEventEndDate);
            },
            eventAdmin() {
                return this.userContext?.serverRoles.some(x => this.event.adminRoles.includes(x));
            }
        },
        methods: {
            logout() {
                this.userContext = null;
                this.cookies.remove('discord-token-type');
                this.cookies.remove('discord-access-token');
            },
            processCookies() {
                if (!this.cookies.isKey('discord-token-type') || !this.cookies.isKey('discord-access-token')) {
                    return;
                }

                this.fetchingDiscordInfo = true;
                this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}/@me`, {
                    headers: {
                        'x-discord-token': `${this.cookies.get('discord-token-type')} ${this.cookies.get('discord-access-token')}`
                    }
                }).then(resp => {
                    this.userContext = new UserContext(resp.data);
                    this.fetchingDiscordInfo = false;
                }).catch(err => {
                    alert(err);
                    this.fetchingDiscordInfo = false;
                });
            },
            fetchPossibleShoutcasters() {
                this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}/casters`,
                    Utils.getDiscordHeader(this.cookies))
                    .then(resp => this.possibleShoutcasters = resp.data.data)
                    .catch(console.err);
            },
            fetchPossibleMatchAdmins() {
                this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}/admins`,
                    Utils.getDiscordHeader(this.cookies))
                    .then(resp => this.possibleMatchAdmins = resp.data.data)
                    .catch(console.err);
            }
        },
        mounted() {
            this.processCookies();
            this.fetchPossibleShoutcasters();
            this.fetchPossibleMatchAdmins();

            this.$http
                .get(this.$apiDomain + '/api/events/' + this.eventSlug)
                .then(resp => {
                    this.event = new Event(resp.data.event);
                    this.event.adminRoles = resp.data.adminRoles;
                    this.brackets = resp.data.brackets.map(x => new Bracket(x));
                });
        }
    };
</script>
