<template>
    <div class="body"
         :style="`background: url('${backgroundUrl}') no-repeat center center / cover fixed`"
         v-if="eventLoaded">
        <div class="header">
            <img :src="logoUrl" alt="Logo">
            <h1>CURRENT STANDINGS</h1>
        </div>
        <div class="matchups">
            <div class="row">
                <div class="col matchup" v-for="group in groups"
                     :class="selectedGroup == group ? 'selected' : ''"
                     :id="`group-button-${group}`"
                     @click="selectedGroup = group">
                    <span>Group {{ group }}</span>
                </div>
            </div>
            <div class="matchup heading">
                <div class="col status" v-if="matchesForGroup?.participants?.some(x => x.advanced || x.eliminated)">
                    &nbsp;
                </div>
                <div class="col">
                    Rank
                </div>
                <div class="col">
                    Participant
                </div>
                <div class="col">
                    Points
                </div>
                <div class="col">
                    Win %
                </div>
                <div class="col">
                    W - L - T
                </div>
            </div>
            <div class="matchup row" style="color: black" v-if="sortedStandingsByGroup === null">
                <loader/>
            </div>
            <div class="matchup row" :class="{ eliminated: result.eliminated, advanced: result.advanced, 'clinched-none': result.advanced }" v-for="(result, index) in matchesForGroup.participants">
                <div class="col status" v-if="matchesForGroup?.participants?.some(x => x.advanced || x.eliminated)">
                    <i class="fas fa-fw fa-check" v-if="result.advanced"></i>
                    <i class="fas fa-fw fa-times" v-else-if="result.eliminated"></i>
                    <template v-if="result.advanced">Advanced</template>
                    <template v-if="result.eliminated">Eliminated</template>
                </div>
                <div class="col">
                    {{ index + 1 }}
                </div>
                <div class="col">
                    {{ result.name }}
                </div>
                <div class="col">
                    {{ result.points }}
                </div>
                <div class="col">
                    {{ Math.round(result.winningPercentage * 100) }}%
                </div>
                <div class="col">
                    {{ result.wins }} - {{ result.losses }} - {{ result.ties }}
                </div>
            </div>
            <div class="row legend" v-if="false">
                <div class="col">
                    <div class="matchup advanced row clinched-first">
                        <div class="col">
                            Secured 1st Place
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="matchup advanced row clinched-second">
                        <div class="col">
                            Secured 2nd Place
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="matchup advanced row clinched-none">
                        <div class="col">
                            Secured Knockout Stage Berth
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" v-if="!anyoneClinched && !anyTiedAdvancements">
            <p id="phantom-complete" style="display: none" v-if="sortedStandingsByGroup !== null">&nbsp;</p>
            <h1>View the complete list of standings at <span style="text-transform: none; display: block">{{ $domain }}/events/{{ eventSlug }}</span></h1>
        </div>
        <div class="footer" v-if="anyTiedAdvancements">
            <p></p>
            <h3>Standings may not accurately reflect participants who are advancing and have equal number of points</h3>
        </div>
    </div>
</template>

<script>
    import Loader from '@/components/Loader.vue';
    import Bracket from "@/components/Bracket";
    export default {
        name: 'GroupStandingsOverlay',
        components: {Loader},
        props: {
            eventSlug: String
        },
        data() {
            return {
                event: null,
                brackets: null,
                sortedStandingsByGroup: null,
                groups: [],
                selectedGroup: null,
                backgroundUrl: null,
                logoUrl: null
            };
        },
        computed: {
            eventLoaded() {
                return this.backgroundUrl !== null && this.logoUrl !== null;
            },
            matchesForGroup() {
                if (!this.selectedGroup) {
                    return [];
                }

                return this.sortedStandingsByGroup.find(x => x.groupName === this.selectedGroup);
            },
            anyoneClinched() {
                return false;
                if (!this.selectedGroup) {
                    return false;
                }

                return this.sortedStandingsByGroup[this.selectedGroup].some(x => x.status === 'advanced');
            },
            anyTiedAdvancements() {
                if (!this.selectedGroup) {
                    return false;
                }

                const advancements = this.sortedStandingsByGroup.find(x => x.groupName === this.selectedGroup).participants.filter(x => x.advanced);
                const points = advancements.map(x => x.points);

                return [...new Set(points)].length !== points.length;
            }
        },
        mounted() {
            this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}`)
                .then(resp => {
                    this.backgroundUrl = resp.data.event.overlayBackgroundUrl;
                    this.logoUrl = resp.data.event.overlayLogoUrl;
                    this.event = resp.data.event;
                    this.brackets = resp.data.brackets.map(x => new Bracket(x));
                    const stageId = this.brackets[0].stages.find(x => x.type.includes('group-stage')).id;

                    this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}/group-stage/${stageId}/standings`)
                        .then(resp => {
                            this.sortedStandingsByGroup = resp.data;
                            this.groups = this.sortedStandingsByGroup.map(x => x.groupName);
                        });
                });
        },
        methods: {
            getSortedTheoreticalsForGroup(group) {
                const theoreticals = group.map(x => x.theoreticalMaxPoints);

                return theoreticals.sort();
            }
        }
    };
</script>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        width: 1920px;
        height: 1080px;
        text-align: center;
        background: url('https://media.hitmaps.com/img/hitmaps-tournaments/rrwc-background.png') no-repeat center center / cover;

        .header {
            color: #fff;
            font-family: 'nimbus_sans_lbold', sans-serif;

            h1 {
                font-size: 3rem;
            }

            img {
                height: 194px;
            }
        }

        .matchups {
            flex-grow: 1;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 50px;
            margin-right: 50px;
            text-align: left;

            .row {
                margin-left: 0;
                margin-right: 0;

                .col {
                    &.matchup {
                        cursor: pointer;

                        span {
                            transform: skew(15deg);
                        }

                        &.selected {
                            background: rgba(255, 255, 255, .5);
                            filter: drop-shadow(0 0 7px rgba(255,255,255,1));
                            color: #000;
                        }
                    }
                }
            }


            .matchup {
                display: flex;
                justify-content: center;
                /* Black on White */
                /*background: rgba(255, 255, 255, .5);
                filter: drop-shadow(0 0 7px rgba(255,255,255,1));*/

                /* White on Black */
                background: rgba(0, 0, 0, .5);
                filter: drop-shadow(0 0 7px rgba(0,0,0,1));
                color: #fff;
                padding: 20px;
                margin-bottom: 2px;
                transform: skew(-15deg);

                &.heading {
                    font-family: 'nimbus_sans_lbold', sans-serif;
                    font-weight: bolder;
                }

                .col {
                    transform: skew(15deg);

                    &.status {
                        text-transform: uppercase;

                        i {
                            margin-right: 10px;
                        }
                    }
                }

                &.eliminated {
                    color: rgba(255, 255, 255, 0.6);
                }

                &.advanced {
                    background: rgb(0, 0, 0);

                    &.clinched-first {
                        filter: drop-shadow(0 0 7px gold);
                    }

                    &.clinched-second {
                        filter: drop-shadow(0 0 7px white);
                    }

                    &.clinched-none {
                        filter: drop-shadow(0 0 7px blue);
                    }
                }
            }
        }

        .legend {
            margin-top: 40px;
        }

        .footer {
            text-align: center;
            background: rgba(0,0,0,.3);
            color: #fff;
            text-transform: uppercase;
            padding-bottom: 20px;
            font-family: 'nimbus_sans_lbold', sans-serif;

            img {
                height: 56px;
                width: 56px;
                vertical-align: text-bottom;
            }
        }
    }
</style>
