<template>
    <div class="content">
        <div class="header">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <img src="/img/hitmaps-tournaments.png" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="tournaments">
            <div class="row" v-if="events === undefined">
                <div class="col loading">
                    <p>Loading...</p>
                </div>
            </div>
            <div class="row" v-else>
                <div class="tournament col-md-12" :class="new Date() < new Date(event.isoEventEndDate) ? 'col-lg-8' : 'col-lg-4'"  v-for="event in events" :key="event.id">
                    <event-tile :event="event"/>
                </div>
                <div class="tournament col-lg-4 col-md-12" v-if="false">
                    <add-event-tile/>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .content {
        background: url('https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg') 50%/cover no-repeat fixed;
    }

    .header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .loading {
        background: white;
        padding: 20px;
    }

    .tournament {
        display: flex;
        flex-direction: column;
        color: #fff;
        height: 500px;
    }
</style>

<script>
    import Tournament from '@/components/Tournament.vue';
    import EventTile from '@/components/EventTile.vue';
    import Event from '@/components/Event.ts';
    import AddEventTile from '@/components/AddEventTile.vue';

    export default {
        name: 'Home',
        components: {
            AddEventTile,
            EventTile,
            Tournament
        },
        data() {
            return {
                events: undefined,
                authentication: {
                    name: '',
                    discriminator: '',
                    admin: false
                }
            };
        },
        methods: {
        },
        mounted() {
            this.$http
                .get(this.$apiDomain + '/api/events')
                .then(resp => {
                    this.events = [];
                    for (const event of resp.data) {
                        this.events.push(new Event(event));
                    }
                });
        }
    };
</script>
