<template>
    <div v-if="event" class="wrapper" :style="'background: url(' + background + ') no-repeat center center fixed; background-size: cover'">
        <div class="content">
            <nav-header :tournament-event="event" :user-context="userContext" @logout="logout" />
            <div class="container">
                <div class="tournament">
                    <div class="tournament-info">
                        <div class="row matches">
                            <div class="row table-header d-none d-md-flex">
                                <div class="col-md-2">
                                    Country
                                </div>
                                <div class="col-md-4">
                                    Name
                                </div>
                                <div class="col-md-4">
                                    Stream URL
                                </div>
                                <div class="col-md-2" v-if="eventAdmin">
                                    Actions
                                </div>
                            </div>
                            <div class="row match" v-for="competitor in competitors">
                                <div class="col-md-2">
                                    {{ competitor.countryCode }}
                                </div>
                                <div class="col-md-4">
                                    {{ competitor.challongeName }}
                                </div>
                                <div class="col-md-4">
                                    {{ competitor.streamUrl }}
                                </div>
                                <div class="col-md-2" v-if="eventAdmin">
                                    <button class="btn btn-dark action-button" @click="editCompetitor(competitor)">
                                        <i class="fas fa-pencil"></i> Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal id="edit-competitor-modal" ref="editUserModal" v-if="editingCompetitor" modal-title="Edit Competitor">
            <div class="mb-3">
                <label for="edit-country" class="form-label">Country</label>
                <country-select id="edit-country" v-model="editingCompetitor.countryCode" class="form-select" :country="editingCompetitor.countryCode" :autocomplete="true" />
            </div>
            <div class="mb-3">
                <label for="edit-name" class="form-label">Name</label>
                <input type="text" id="edit-name" v-model="editingCompetitor.challongeName" class="form-control">
            </div>
            <div class="mb-3">
                <label for="edit-streamurl" class="form-label">Stream URL</label>
                <input type="text" id="edit-streamurl" v-model="editingCompetitor.streamUrl" class="form-control">
            </div>
            <template v-slot:modal-footer>
                <game-button ref="submitButton" @click="saveCompetitor">
                    <game-icon icon="arrow-right" font-style="normal"/>
                    Save
                </game-button>
                <game-button @click="this.$refs.editUserModal.hideModal()">
                    <game-icon icon="failed" font-style="normal"/>
                    Cancel
                </game-button>
            </template>
        </modal>
    </div>
</template>

<style lang="scss" scoped>
    .blurple {
        background: #7289da;
        color: #fff;
        border: none;

        &:hover {
            background: #6073bf;
        }
    }

    .wrapper {
        min-height: 100vh;

        .registration-header {
            margin: 30px 30px 0 30px;
            height: 100px;
        }

        .registration-body {
            margin: 0 30px 30px 30px;
            background: #fff;

            .registration-info {
                padding: 20px;

                h1 {
                    text-transform: uppercase;
                }
            }

            .registration-form {
                font-family: "Arial", "Helvetica", sans-serif;

                .platform {
                    border-radius: 5px;
                    border: solid 2px #ccc;
                    background: #fcfcfc;

                    &:hover {
                        cursor: pointer;
                    }

                    &.selected {
                        background: rgba(255, 0, 60, .3);
                        border: solid 2px #ff003c;
                    }

                    .participant-count {
                        font-size: 1rem;
                    }
                }
            }
        }

        .matches {
            display: block;
            padding: 10px;
            margin: 10px;

            .nav-item:not(:first-child) {
                margin-left: 5px;
            }

            .nav-link {
                background: #1d2834;
                color: #fff;
                fill: #fff;
                border-radius: 0;
                text-transform: uppercase;
                text-align: center;

                &.active {
                    background: #fb0111;
                }
            }
        }
    }

    .tournament {
        padding: 10px;
        background: rgba(29, 40, 52, .8);

        .match-header {
            color: #fff;
        }

        .table-header {
            color: #fff;
            font-weight: bolder;
            font-size: 1.3rem;
        }

        .round-header {
            font-weight: bolder;
            color: #000;
            background-color: rgba(255, 255, 255, .9);
            padding-left: 10px;
        }
    }

    .match {
        background: rgba(29, 40, 52, .8);
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #fff;
    }
</style>

<script>
    import Tournament from '@/components/Tournament.vue';
    import Event from '@/components/Event.ts';
    import PlatformIcon from '@/components/PlatformIcon.vue';
    import Utils from '@/components/Utils.ts';
    import ClassicHeader from '@/components/ClassicHeader.vue';
    import UserContext from '@/components/UserContext.ts';
    import {useCookies} from "vue3-cookies";
    import NavHeader from "@/components/NavHeader.vue";
    import Modal from "@/components/Modal.vue";
    import GameButton from "@/components/GameButton.vue";
    import GameIcon from "@/components/GameIcon.vue";

    export default {
        name: 'PlayerManager',
        setup() {
            const { cookies } = useCookies();
            return {
                cookies
            }
        },
        components: {
            GameIcon, GameButton,
            Modal,
            NavHeader,
            ClassicHeader,
            PlatformIcon,
            Tournament
        },
        props: {
            eventSlug: ''
        },
        data() {
            return {
                event: null,
                userContext: null,
                competitors: [],
                editingCompetitor: null
            };
        },
        computed: {
            background() {
                if (this.event?.overlayBackgroundUrl) {
                    return this.event.overlayBackgroundUrl;
                }
                return 'https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg';
            },
            eventAdmin() {
                return this.userContext?.serverRoles.some(x => this.event.adminRoles.includes(x));
            }
        },
        methods: {
            logout() {
                this.userContext = null;
                this.cookies.remove('discord-token-type');
                this.cookies.remove('discord-access-token');
            },
            processCookies() {
                if (!this.cookies.isKey('discord-token-type') || !this.cookies.isKey('discord-access-token')) {
                    return;
                }

                this.fetchingDiscordInfo = true;
                this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}/@me`, {
                    headers: {
                        'x-discord-token': `${this.cookies.get('discord-token-type')} ${this.cookies.get('discord-access-token')}`
                    }
                }).then(resp => {
                    this.userContext = new UserContext(resp.data);
                    this.fetchingDiscordInfo = false;
                }).catch(err => {
                    alert(err);
                    this.fetchingDiscordInfo = false;
                });
            },
            editCompetitor(competitor) {
                this.editingCompetitor = JSON.parse(JSON.stringify(competitor));
                this.$nextTick(() => {
                    this.$refs.editUserModal.showModal();
                });

            },
            saveCompetitor() {
                this.$refs.submitButton.disabled = true;
                this.$http.put(`${this.$apiDomain}/api/events/${this.eventSlug}/competitors/${this.editingCompetitor.id}`, {
                    country: this.editingCompetitor.countryCode,
                    name: this.editingCompetitor.challongeName,
                    streamUrl:  this.editingCompetitor.streamUrl,
                }, {
                    headers: {
                        'x-discord-token': `${this.cookies.get('discord-token-type')} ${this.cookies.get('discord-access-token')}`
                    }
                }
                ).then(_ => {
                    const originalCompetitor = this.competitors.find(x => x.id === this.editingCompetitor.id);
                    originalCompetitor.countryCode = this.editingCompetitor.countryCode;
                    originalCompetitor.challongeName = this.editingCompetitor.challongeName;
                    originalCompetitor.streamUrl = this.editingCompetitor.streamUrl;
                    this.$toastr.s('Competitor saved!');
                    this.$refs.submitButton.disabled = false;
                    this.$refs.editUserModal.hideModal();
                }).catch(err => {
                    this.$toastr.e(err);
                    this.$refs.submitButton.disabled = false;
                });
            }
        },
        mounted() {
            this.processCookies();
            this.$http
                .get(this.$apiDomain + '/api/events/' + this.eventSlug)
                .then(resp => {
                    this.event = new Event(resp.data.event);
                    this.event.adminRoles = resp.data.adminRoles;
                });
            this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}/competitors`)
                .then(resp => this.competitors = resp.data.data);
        }
    };
</script>
