<template>
    <div v-if="event" class="wrapper" :style="'background: url(' + event.overlayBackgroundUrl + ') no-repeat center center fixed; background-size: cover'">
        <div class="content">
            <div class="row registration-body loading" v-if="event === null">
                <div class="col registration-info">
                    <h1>Loading...</h1>
                </div>
            </div>
            <div class="row registration-body" v-else-if="!registrationOpen">
                <div class="col">
                    <div class="registration-info">
                        <h1>Registration Closed</h1>
                        <div class="logged-in">
                            Registration has closed for this tournament.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row registration-body" v-else>
                <div class="col">
                    <div class="registration-info">
                        <h1>Registration</h1>
                        <div class="login" v-if="!userContext && !fetchingDiscordInfo">
                            <p>Please log in with Discord to continue.</p>
                            <a class="btn btn-dark blurple" @click="beginDiscordLogin">
                                <i class="fab fa-discord"></i>
                                Login with Discord
                            </a>
                        </div>
                        <div class="logged-in" v-else>
                            <template v-if="userContext">
                                <p>Logged in as {{ userContext.name }}<template v-if="userContext.discriminator !== '0000'">#{{ userContext.discriminator }}</template></p>
                                <a class="btn btn-dark blurple" style="margin-bottom: 10px" @click="logout">
                                    <i class="fab fa-discord"></i>
                                    Logout
                                </a>
                            </template>
                            <div class="checking-server-state" v-if="!userContext && fetchingDiscordInfo">
                                <p>Verifying Discord authentication. Please wait...</p>
                            </div>
                            <div class="not-in-server" v-else-if="userContext.serverMember === false">
                                <p>You must be a member of Frote's Speedrun Community in order to register for this tournament. Please click the button below to join. Once you have joined, refresh the page.</p>
                                <a href="https://discord.gg/FVxTKdU" class="btn btn-dark blurple" target="_blank">
                                    <i class="fab fa-discord"></i>
                                    Join Frote's Speedrun Community
                                </a>
                            </div>
                            <div class="not-in-server" v-else-if="userContext.tourneyBanned">
                                <alert type="danger">
                                    <p>You are currently prohibited from participating in this tournament.  If you believe this to be in error, contact a server admin.</p>
                                    <p>Attempting to circumvent this ban may result in being permanently banned from the server.</p>
                                </alert>
                            </div>
                            <div class="not-in-server" v-else-if="new Date(event.isoRegistrationStartDate) > new Date() && !userContext.eventAdmin">
                                <alert type="warning">
                                    Registration has yet to open for this tournament.
                                </alert>
                            </div>
                            <div class="registration-form" v-else>
                                <template v-if="event.eventType !== 'speedrun-competition'">
                                    <p>Registration is now open for {{ event.name }}! Registration is open for all platforms. Some things to consider:</p>
                                    <ul>
                                        <li v-if="participantLimitEnforced()">This tournament has a participant limit on some platforms, indicated below the platform name.
                                            <ul>
                                                <li>If a platform is not full, you are permitted to sign-up.</li>
                                                <li>If a platform is full, you are still permitted to sign-up. However, you will be placed on a waitlist. Waitlisted participants will be added to the bracket if another participant withdraws from the tournament before registration ends.</li>
                                            </ul>
                                        </li>
                                        <li>Please ensure that you have read the tournament rules in the Discord server prior to registering. <b>By registering, you understand the rules and agree to abide by them at all time.</b></li>
                                        <li>Do not register unless you plan on competing in this tournament.</li>
                                        <li v-if="brackets.length > 1">If you are interested in competing in multiple platforms, please fill out the form once for each platform.</li>
                                        <li v-if="event.usesChallonge">You will automatically be seeded into the related Challonge bracket. However, your placement in the brackets may change prior to the tournament's start if an admin chooses to do so.</li>
                                        <li>All fields in the form below are <i>required</i>.</li>
                                    </ul>
                                </template>
                                <template v-else>
                                    <p>Registration is now open for {{ event.name }}! While there are no brackets for this tournament, sign-ups are still recommended to access the exclusive competitor channel. Some things to consider:</p>
                                    <ul>
                                        <li>This tournament does not have a participation limit.</li>
                                        <li>Please ensure that you have read the tournament rules in the Discord server prior to registering. <b>By registering, you understand the rules and agree to abide by them at all time.</b></li>
                                        <li>All fields in the form below are <i>required</i>.</li>
                                    </ul>
                                </template>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <h3>Select A Platform</h3>
                                    </div>
                                </div>
                                <div class="row" style="text-align: center; font-size: 3rem;">
                                    <div class="col-md-6 col-sm-12" v-for="tournament in brackets">
                                        <div class="platform" :class="form.platform === tournament.platform ? 'selected' : ''" @click="setPlatform(tournament.platform)">
                                            <platform-icon :platforms="tournament.platformIcons" />
                                            <p class="platform-names">{{ getPlatformNames(tournament) }}</p>
                                            <p><b>{{ tournament.platform }}</b></p>
                                            <p class="registered" :class="registeredForPlatform(tournament.platform) ? '' : 'unregistered'">REGISTERED</p>
                                            <p class="participant-count">
                                                <i class="fas fa-users"></i>
                                                {{ tournament.currentParticipantCount }} Registered <template v-if="tournament.participantLimit > 0">/ {{ tournament.participantLimit }} Maximum</template>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <form class="form" v-if="form.platform !== '' && !registeredForPlatform(form.platform) && !retrievingPreviousRegistration">
                                    <template v-if="event.eventType !== 'speedrun-competition'">
                                        <div class="form-group">
                                            <label for="name-input">Name</label>
                                            <input type="text" class="form-control" id="name-input" v-model="form.name">
                                            <small class="form-text text-muted">The name that will appear on the bracket.</small>
                                        </div>
                                        <template v-if="event.eventType !== 'roulette-rivals'">
                                            <div class="form-group" v-if="form.platform === 'PC'">
                                                <label for="platformname-input">Steam Profile URL</label>
                                                <!--suppress XmlDuplicatedId -->
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="platformname-input" v-model="form.platformProfileName" placeholder="https://steamcommunity.com/..." @keyup="handleSteamProfile">
                                                </div>
                                                <small class="form-text text-muted">Your Steam URL that points to your profile page. Please provide the ENTIRE Steam URL.</small>
                                            </div>
                                            <div class="form-group" v-else-if="form.platform === 'playstation'">
                                                <label for="platformname-input">PS4 Profile Name</label>
                                                <!--suppress XmlDuplicatedId -->
                                                <input type="text" class="form-control" id="platformname-input" v-model="form.platformProfileName">
                                                <small class="form-text text-muted">Your PS4 profile name</small>
                                            </div>
                                            <div class="form-group" v-else-if="form.platform === 'xbox'">
                                                <label for="platformname-input">Xbox Gamertag</label>
                                                <!--suppress XmlDuplicatedId -->
                                                <input type="text" class="form-control" id="platformname-input" v-model="form.platformProfileName">
                                                <small class="form-text text-muted">Your Xbox Gamertag</small>
                                            </div>
                                        </template>
                                        <div class="form-group">
                                            <label for="name-input">Country</label>
                                            <country-select v-model="form.country" class="form-control" :country="form.country" :autocomplete="true" />
                                            <small class="form-text text-muted">Your country of residence. This may be displayed on HITMAPS.com, depending on the event.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="streaming-platform-input">Streaming Platform</label>
                                            <select id="streaming-platform-input" class="form-control" v-model="form.streamPlatform">
                                                <option v-for="connection in connections" :value="`${connection.type}||${connection.id}||${connection.name}`">
                                                    {{ connection.type[0].toUpperCase() + connection.type.substr(1, connection.type.length) }} -
                                                    {{ connection.name }}
                                                </option>
                                            </select>
                                            <small class="form-text text-muted">YouTube or Twitch account missing? Add it to your Discord profile under "Connections" and then refresh this page.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="timezone-input">Time Zone</label>
                                            <select id="timezone-input" class="form-control" v-model="form.timezone">
                                                <option v-for="timezone in timezones" :value="timezone.name">
                                                    {{ timezone.name }}
                                                    <template v-if="timezone.displayOffsetHours !== '0.0'">
                                                        (GMT{{ timezone.displayOffsetHours > 0 ? `+${timezone.displayOffsetHours}` : timezone.displayOffsetHours }})
                                                    </template>
                                                </option>
                                            </select>
                                            <small class="form-text text-muted">Your time zone has been selected based on browser settings.  Only change this value if the time zone detected is incorrect.</small>
                                        </div>
                                    </template>
                                    <div class="form-group">
                                        <label>Rules</label>
                                        <div class="rules" v-html="event.formattedRules"></div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="Y" id="rules-checkbox" v-model="form.acceptedRules">
                                            <label class="form-check-label" for="rules-checkbox">
                                                I understand the rules and agree to abide by them throughout the entire tournament
                                            </label>
                                        </div>
                                    </div>
                                    <button id="submit-button" type="button" class="btn btn-primary" @click="submit('REGISTER')">Submit</button>
                                    <small class="form-text text-muted">Once you submit, you will not be able to make additional changes.</small>
                                </form>
                                <div v-else-if="form.platform !== '' && registeredForPlatform(form.platform)">
                                    <p>You have already registered for the {{ form.platform }} bracket.</p>
                                    <button class="btn btn-danger" @click="submit('WITHDRAW')">
                                        <i class="fas fa-portal-exit"></i>
                                        Withdraw
                                    </button>
                                    <small>If you are no longer able to compete, or do not wish to compete, click this button to withdraw.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<style lang="scss" scoped>
    .wrapper {
        min-height: 100vh;

        .content {
            padding-top: 20px;

            .header {
                text-align: center;
                color: #000;
                background: #fff;

                h1, h2 {
                    text-transform: uppercase;
                    font-weight: bolder;
                }
            }

            .registration-header {
                margin: 0 30px 0 30px;
                padding-top: 30px;
                height: 100px;
            }

            .registration-body {
                margin: 0 30px 30px 30px;
                background: rgba(0, 0, 0, .7);
                color: #fff;

                &.loading {
                    margin-top: 20px;
                }

                .registration-info {
                    h1 {
                        text-transform: uppercase;
                    }

                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                .registration-form {
                    font-family: "Arial", "Helvetica", sans-serif;

                    .platform {
                        border-radius: 5px;
                        border: solid 2px #1d2834;
                        background: #1d2834;
                        fill: white;
                        margin-bottom: 20px;

                        &:hover {
                            cursor: pointer;
                        }

                        &.selected {
                            background: #fb0111;
                            border: solid 2px #fb0111;
                            color: white;
                            fill: white;

                            .registered {
                                color: white;
                            }
                        }

                        .participant-count {
                            font-size: 1rem;
                        }

                        .platform-names {
                            font-size: 1rem;
                        }

                        .registered {
                            color: green;
                            font-size: 1.2rem;

                            &.unregistered {
                                visibility: hidden;
                            }
                        }
                    }

                    form {
                        input:not([type="checkbox"]), select {
                            background: #1d2834;
                            color: #fff;
                        }

                        .input-group-text {
                            background: #101521;
                            color: #fff;
                        }

                        .text-muted {
                            color: #fff !important;
                        }
                    }

                    .rules {
                        border-radius: 3px;
                        padding: .375rem .75rem;
                        border: solid 1px #ddd;
                        max-height: 400px;
                        overflow: auto;
                    }
                }
            }
        }
    }

    .blurple {
        background: #7289da;
        color: #fff;
        border: none;

        &:hover {
            background: #6073bf;
        }
    }
</style>

<script>
    import Tournament from '@/components/Tournament.vue';
    import Event from '@/components/Event.ts';
    import PlatformIcon from '@/components/PlatformIcon.vue';
    import Utils from '@/components/Utils.ts';
    import UserContext from '@/components/UserContext.ts';
    import {useCookies} from "vue3-cookies";
    import Alert from "@/components/Alert.vue";

    export default {
        name: 'Register',
        setup() {
            const { cookies } = useCookies();
            return {
                cookies
            }
        },
        components: {
            Alert,
            PlatformIcon,
            Tournament
        },
        props: {
            eventSlug: ''
        },
        data() {
            return {
                event: null,
                brackets: [],
                registeredBrackets: [],
                userContext: null,
                fetchingDiscordInfo: false,
                retrievingPreviousRegistration: false,
                timezones: [],
                form: {
                    name: '',
                    platform: '',
                    platformProfileName: '',
                    streamPlatform: '',
                    acceptedRules: false,
                    snowflake: '',
                    country: '',
                    timezone: ''
                }
            };
        },
        computed: {
            registrationOpen() {
                return new Date().getTime() < new Date(this.event.isoRegistrationEndDate).getTime();
            },
            connections() {
                if (!this.userContext) {
                    return [];
                }

                return this.userContext.connections.filter(x => x.type === 'twitch' || x.type === 'youtube');
            }
        },
        methods: {
            beginDiscordLogin() {
                Utils.beginDiscordLogin(this.cookies, this.$domain);
            },
            logout() {
                this.userContext = null;
                this.cookies.remove('discord-token-type');
                this.cookies.remove('discord-access-token');
            },
            setPlatform(platform) {
                this.form.platform = platform;

                if (this.event.eventType !== 'speedrun-competition') {
                    this.retrievingPreviousRegistration = true;
                    this.$http
                        .get(`${this.$apiDomain}/api/competitors/recent-registration?snowflake=${this.userContext.snowflake}&platform=${this.form.platform}`)
                        .then((resp) => {
                            this.retrievingPreviousRegistration = false;
                            if (resp.data) {
                                const connection = this.connections.find(x =>
                                    (x.type === 'twitch' && resp.data.streamUrl.includes('www.twitch.tv')) ||
                                    (x.type === 'youtube' && resp.data.streamUrl.includes('www.youtube.com')));
                                if (connection) {
                                    this.form.streamPlatform = `${connection.type}||${connection.id}||${connection.name}`;
                                }
                                this.form.platformProfileName = resp.data.challongeName;
                                this.form.country = resp.data.countryCode.toUpperCase();
                                this.form.name = resp.data.challongeName;

                                this.$toastr.i('It looks like you signed up for a tournament in the past. Therefore, your previous registration has been pre-populated below.',
                                               'Previous Registration Found');
                            } else {
                                this.form.streamPlatform = '';
                                this.form.platformProfileName = '';
                            }
                        })
                        .catch(err => {
                            this.retrievingPreviousRegistration = false;
                            console.error(err);
                        });
                } else {
                    this.form.name = this.userContext.name;
                }
            },
            getPlatform(platform) {
                switch (platform) {
                    case 'steam':
                        return 'PC';
                    case 'playstation':
                        return 'PS4';
                    case 'xbox':
                        return 'Xbox';
                    case 'console':
                        return 'Console';
                    case 'all':
                        return 'All Platforms';
                    default:
                        return 'Unknown';
                }
            },
            getPlatformIcons(platformIconsString) {
                const platformToFontIcon = {
                    steam: '<i class="fab fa-fw fa-steam"></i>',
                    playstation: '<i class="fab fa-fw fa-playstation"></i>',
                    xbox: '<i class="fab fa-fw fa-xbox"></i>',
                    stadia: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M.271 11.557a.631.631 0 0 0-.271.521v.005c0 .089.021.172.052.255l3.068 6.938a.646.646 0 0 0 .802.349c2.005-.719 8.948-2.979 13.443-1.76c0 0-4.51.26-8.583 3.458a.647.647 0 0 0-.193.76l1.375 3.104l.526 1.234a.398.398 0 0 0 .703.063c.953-1.432 2.557-2.146 4.099-2.771a23.227 23.227 0 0 1 4.906-1.401a21.538 21.538 0 0 1 5.427-.224a.634.634 0 0 0 .667-.443l1.385-4.427a.628.628 0 0 0-.234-.703c-1.542-1.12-7.656-4.875-18.401-3.365c0 0 9.167-5.271 20.813.521a.643.643 0 0 0 .896-.385l1.219-3.901a.531.531 0 0 0 .031-.182v-.021a.649.649 0 0 0-.323-.547c-1.464-.823-6.411-3.302-13.214-3.302c-5.219 0-11.526 1.453-18.193 6.224z" /></svg>',
                    epic: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M4.719 0C2.886 0 2.214.677 2.214 2.505v22.083c0 .209.011.401.027.579c.047.401.047.792.421 1.229c.036.052.412.328.412.328c.203.099.343.172.572.265l11.115 4.656c.573.261.819.371 1.235.355h.005c.421.016.667-.093 1.24-.355l11.109-4.656c.235-.093.369-.167.577-.265c0 0 .376-.287.412-.328c.375-.437.375-.828.421-1.229c.016-.177.027-.369.027-.573V2.506c0-1.828-.677-2.505-2.505-2.505zm17.808 4.145h.905c1.511 0 2.251.735 2.251 2.267v2.505H23.85V6.51c0-.489-.224-.713-.699-.713h-.312c-.489 0-.713.224-.713.713v7.749c0 .489.224.713.713.713h.349c.468 0 .692-.224.692-.713v-2.771h1.833v2.86c0 1.525-.749 2.276-2.265 2.276h-.921c-1.521 0-2.267-.756-2.267-2.276V6.425c0-1.525.745-2.281 2.267-2.281zm-16.251.106h4.151v1.703H8.14v3.468h2.204v1.699H8.14v3.697h2.319v1.704H6.276zm5.088 0h2.928c1.515 0 2.265.755 2.265 2.28v3.261c0 1.525-.751 2.276-2.265 2.276h-1.057v4.453h-1.871zm6.037 0h1.864v12.271h-1.864zm-4.172 1.65v4.52H14c.469 0 .693-.228.693-.719V6.619c0-.489-.224-.719-.693-.719zM8.088 19.437h.276l.063.011h.1l.052.016h.052l.047.015l.052.011l.041.011l.093.021l.053.015l.036.011l.041.016l.052.016l.036.015l.053.021l.047.021l.041.025l.047.021l.036.025l.053.027l.041.025l.041.021l.041.031l.043.027l.036.031l.125.095l-.032.041l-.036.036l-.032.037l-.036.041l-.025.036l-.032.037l-.036.036l-.032.041l-.025.036l-.037.043l-.031.036l-.036.041l-.032.037l-.025.041l-.037.036l-.031.043l-.036.036l-.032.036l-.036-.025l-.041-.037l-.043-.025l-.077-.052l-.047-.027l-.043-.025l-.047-.027l-.036-.021l-.041-.02l-.084-.032l-.052-.009l-.041-.011l-.047-.011l-.053-.011l-.052-.005h-.052l-.061-.011h-.1l-.052.005h-.052l-.052.016l-.041.011l-.047.016l-.047.009l-.043.021l-.052.021l-.072.052l-.043.025l-.036.032l-.036.025l-.037.032l-.025.036l-.043.036l-.052.073l-.025.041l-.021.047l-.025.037l-.027.047l-.016.047l-.02.041l-.016.052l-.005.052l-.015.048l-.011.052v.052l-.005.052v.12l.005.052v.041l.005.052l.009.047l.016.041l.005.053l.016.041l.015.036l.021.052l.027.052l.02.037l.052.083l.032.041l.025.037l.043.031l.025.036l.036.032l.084.063l.036.02l.041.027l.048.021l.052.02l.036.021l.104.031l.047.005l.052.016l.052.005h.224l.063-.005h.047l.053-.021l.052-.005l.052-.015l.041-.011l.047-.021l.041-.02l.047-.021l.032-.021l.041-.025v-.464h-.735v-.744h1.661v1.667l-.036.025l-.036.031l-.037.027l-.041.031l-.041.021l-.036.032l-.084.052l-.052.025l-.083.052l-.053.021l-.041.02l-.047.021l-.104.041l-.041.021l-.095.031l-.047.011l-.047.016l-.052.016l-.041.009l-.156.032l-.048.005l-.104.011l-.057.005l-.052.004l-.057.005h-.26l-.052-.009h-.052l-.052-.011h-.047l-.052-.016l-.152-.031l-.041-.016l-.047-.005l-.052-.021l-.095-.031l-.093-.041l-.052-.021l-.036-.021l-.052-.02l-.037-.032l-.052-.02l-.031-.027l-.041-.025l-.084-.063l-.041-.027l-.032-.031l-.041-.032l-.068-.067l-.036-.032l-.031-.036l-.037-.037l-.025-.041l-.032-.031l-.025-.043l-.032-.041l-.025-.036l-.027-.041l-.025-.048l-.021-.041l-.021-.047l-.02-.041l-.041-.095l-.016-.036l-.021-.047l-.011-.047l-.009-.041l-.011-.052l-.016-.048l-.011-.052l-.005-.041l-.009-.052l-.011-.093l-.011-.104v-.276l.011-.053v-.052l.016-.052v-.052l.015-.047l.016-.052l.021-.093l.015-.052l.016-.047l.063-.141l.02-.041l.021-.047l.027-.048l.02-.041l.027-.036l.052-.084l.031-.041l.032-.036l.025-.041l.068-.068l.031-.037l.037-.036l.031-.036l.043-.032l.072-.063l.041-.031l.043-.027l.036-.031l.041-.027l.043-.02l.047-.027l.052-.025l.036-.027l.052-.02l.047-.021l.047-.025l.043-.011l.052-.016l.041-.021l.047-.009l.047-.016l.052-.011l.043-.016l.052-.011h.052l.047-.015h.052L8 19.444h.047zm15.985.011h.276l.063.011h.099l.052.015h.057l.052.016l.093.021l.052.011l.047.009l.053.016l.047.016l.041.011l.047.015l.052.016l.041.021l.052.02l.048.021l.047.027l.036.02l.047.027l.047.02l.043.027l.047.031l.036.027l.084.063l.041.025l-.032.041l-.025.043l-.031.036l-.032.041l-.025.047l-.027.043l-.031.036l-.032.041l-.025.043l-.032.041l-.025.036l-.032.041l-.025.048l-.032.041l-.031.036l-.032.041l-.025.043l-.041-.032l-.048-.025l-.036-.027l-.041-.025l-.047-.021l-.043-.027l-.047-.02l-.036-.021l-.052-.02l-.037-.021l-.041-.016l-.093-.031l-.104-.032l-.156-.031l-.052-.005l-.095-.011h-.109l-.057.011l-.052.011l-.047.011l-.041.02l-.037.021l-.041.036l-.031.047l-.021.048v.124l.027.057l.02.032l.032.031l.052.027l.041.025l.047.021l.052.02l.068.016l.036.016l.043.011l.052.011l.041.015l.047.011l.057.016l.052.016l.057.015l.057.011l.047.016l.057.015l.052.011l.047.011l.157.047l.041.016l.052.016l.047.02l.052.027l.104.041l.047.027l.084.052l.077.057l.048.031l.036.036l.036.043l.037.036l.025.036l.037.052l.025.037l.021.052l.02.031l.016.052l.016.043l.011.047l.02.104l.005.052l.005.047v.125l-.005.057l-.011.104l-.011.052l-.015.047l-.011.052l-.016.052l-.015.047l-.021.037l-.021.047l-.025.041l-.032.037l-.052.083l-.063.073l-.036.025l-.041.037l-.032.031l-.041.031l-.041.021l-.041.032l-.048.025l-.093.047l-.052.021l-.047.02l-.052.016l-.047.016l-.043.011l-.104.02l-.036.011l-.052.011h-.052l-.047.011h-.052l-.052.011h-.371l-.156-.016l-.052-.011l-.047-.005l-.104-.02l-.057-.011l-.047-.011l-.052-.016l-.053-.011l-.047-.015l-.052-.016l-.052-.021l-.041-.015l-.052-.016l-.052-.021l-.037-.02l-.052-.016l-.041-.027l-.052-.02l-.041-.027l-.037-.025l-.052-.027l-.036-.02l-.041-.032l-.041-.025l-.043-.032l-.036-.031l-.041-.032l-.037-.025l-.041-.037l.032-.041l.036-.036l.031-.037l.037-.041l.025-.036l.032-.041l.036-.037l.031-.036l.037-.041l.025-.037l.037-.036l.031-.041l.032-.037l.036-.041l.025-.036l.037-.037l.036-.041l.036.032l.048.031l.036.031l.052.027l.036.027l.047.031l.043.027l.047.02l.036.027l.047.015l.052.021l.043.021l.047.015l.041.021l.052.016l.047.015l.052.016l.052.005l.048.016l.052.005h.057l.047.015h.281l.047-.009l.052-.011l.036-.005l.043-.016l.036-.02l.047-.032l.027-.036l.02-.041l.016-.048v-.12l-.021-.047l-.025-.041l-.032-.031l-.047-.032l-.036-.015l-.047-.021l-.052-.021l-.057-.025l-.037-.011l-.041-.011l-.052-.016l-.036-.009l-.052-.016l-.052-.005l-.053-.021l-.052-.005l-.057-.015l-.047-.011l-.052-.016l-.052-.011l-.052-.015l-.047-.016l-.052-.011l-.041-.016l-.095-.031l-.052-.021l-.052-.015l-.104-.043l-.047-.025l-.052-.027l-.036-.025l-.048-.027l-.036-.025l-.047-.027l-.068-.068l-.036-.031l-.063-.073l-.027-.036l-.02-.036l-.032-.048l-.015-.036l-.048-.125l-.009-.052l-.011-.047v-.047l-.011-.052v-.213l.011-.104l.011-.043l.009-.047l.016-.041l.011-.052l.021-.036l.02-.053l.021-.041l.02-.052l.027-.036l.036-.041l.027-.043l.041-.036l.031-.036l.032-.043l.047-.036l.032-.027l.041-.031l.083-.052l.047-.027l.095-.047l.041-.015l.047-.016l.052-.021l.052-.015l.037-.011l.047-.011l.041-.011l.047-.011l.052-.011l.104-.009l.048-.005zm-12.318.036h.943l.043.095l.02.041l.016.052l.021.047l.015.041l.027.047l.031.095l.027.047l.041.093l.011.041l.083.188l.016.047l.021.043l.025.047l.011.047l.027.052l.009.047l.048.093l.02.037l.021.052l.016.052l.015.036l.027.052l.016.043l.02.052l.016.036l.021.052l.047.093l.015.047l.011.048l.021.047l.025.041l.021.052l.021.047l.015.041l.043.095l.015.047l.021.047l.016.047l.02.041l.027.048l.02.047l.021.041l.011.052l.041.093l.021.043l.015.047l.043.093l.025.052l.011.041l.027.053l.009.036l.021.052l.027.052l.02.036l.016.052l.021.043l.015.052l.027.036l.031.104l.021.037l.02.052l.027.041l.021.052l.009.047l.016.041l.021.047l.025.043h-1.041l-.025-.043l-.016-.047l-.021-.047l-.02-.052l-.011-.041l-.043-.093l-.015-.043l-.041-.093l-.016-.041l-.021-.052l-.031-.095l-.021-.041h-1.448l-.02.047l-.016.043l-.021.052l-.02.047l-.011.041l-.021.052l-.02.041l-.016.047l-.021.043l-.02.052l-.016.036l-.021.052l-.015.052l-.021.037l-.016.052h-1.031l.015-.048l.043-.093l.015-.052l.016-.041l.027-.047l.02-.047l.021-.043l.011-.047l.02-.052l.027-.041l.02-.047l.032-.095l.047-.093l.016-.047l.02-.041l.016-.048l.063-.14l.021-.052l.015-.041l.016-.047l.027-.043l.02-.052l.016-.047l.016-.041l.02-.052l.027-.037l.016-.052l.02-.041l.016-.047l.021-.052l.025-.041l.016-.052l.02-.037l.016-.052l.021-.052l.02-.036l.021-.052l.016-.043l.02-.052l.016-.036l.027-.052l.02-.052l.021-.041l.011-.047l.02-.048l.027-.047l.02-.041l.011-.052l.021-.047l.021-.043l.041-.093l.015-.041l.043-.104l.02-.037l.021-.052l.016-.041l.015-.052l.021-.047l.027-.041l.02-.052l.016-.037l.016-.052l.02-.041l.027-.047l.016-.052l.015-.043l.021-.052l.02-.036l.027-.052l.016-.052l.015-.036l.021-.052zm2.928.027h1.031l.032.041l.052.084l.025.047l.027.036l.025.047l.027.041l.025.048l.027.041l.025.036l.027.047l.025.043l.037.041l.015.041l.032.047l.025.043l.032.036l.021.047l.025.041l.032.043l.015.041l.037.047l.077.125l.021.041l.031.041l.027.041l.025.048l.079.124l.025.048l.027.041l.031-.041l.021-.053l.031-.036l.027-.047l.025-.036l.021-.052l.036-.037l.027-.047l.021-.036l.025-.043l.032-.047l.025-.036l.027-.052l.025-.036l.032-.048l.02-.036l.027-.052l.025-.031l.027-.043l.031-.052l.027-.036l.02-.047l.032-.037l.025-.052l.027-.031l.031-.041l.027-.052l.025-.037l.027-.047l.025-.036l.027-.052l.031-.037l.021-.047l.027-.036h1.047v3.719h-.98V21.04l-.025.037l-.032.052l-.025.031l-.032.041l-.02.052l-.032.037l-.025.036l-.032.052l-.052.073l-.031.041l-.027.052l-.031.037l-.027.036l-.02.052l-.032.036l-.025.037l-.032.052l-.025.036l-.032.041l-.025.047l-.021.037l-.031.041l-.027.047l-.031.036l-.032.043l-.02.041l-.027.047l-.031.037l-.032.041l-.02.052l-.037.031l-.02.041l-.032.053l-.025.036H16.6l-.031-.047l-.027-.043l-.025-.047l-.027-.036l-.031-.047l-.027-.041l-.031-.043l-.027-.041l-.025-.047l-.027-.036l-.036-.048l-.021-.041l-.031-.047l-.027-.036l-.025-.047l-.032-.043l-.025-.052l-.032-.036l-.025-.047l-.027-.043l-.025-.047l-.032-.036l-.025-.047l-.032-.041l-.02-.043l-.032-.041l-.025-.047l-.032-.036l-.025-.048l-.032-.041l-.02-.047l-.037-.036l-.02-.048l-.032-.041v2.193h-.963v-3.683zm4.624 0h2.933v.839h-1.959v.599h1.76v.792h-1.76v.635h1.984v.844h-2.953v-3.677zm-7.094 1.14l-.016.047l-.015.043l-.021.052l-.021.047l-.015.047l-.043.093l-.02.052l-.016.043l-.016.052l-.02.036l-.016.052l-.021.052l-.02.037l-.016.052l-.02.041l-.016.052l-.027.047l-.011.041l-.02.052l-.021.048l-.016.041l-.02.052h.859l-.02-.052l-.016-.047l-.041-.095l-.016-.047l-.021-.041l-.015-.052l-.021-.047l-.016-.047l-.02-.043l-.016-.047l-.021-.052l-.015-.041l-.043-.093l-.009-.048l-.021-.047l-.021-.052l-.015-.036l-.043-.104l-.015-.047zm-1.53 6.964h10.681l-5.452 1.797z" /></svg>'
                };

                const platformIcons = platformIconsString.split('|');
                const fontIcons = [];

                for (const platformIcon of platformIcons) {
                    fontIcons.push(platformToFontIcon[platformIcon]);
                }

                let retVal = '';
                fontIcons.forEach(x => retVal += x + ' ');

                return retVal;
            },
            getPlatformNames(tournament) {
                const names = [];
                tournament.platformIcons.split('|').forEach(icon => {
                    let name = icon[0].toUpperCase() + icon.substr(1, icon.length);

                    if (tournament.platform === 'PC' && icon === 'xbox') {
                        name = 'PC Game Pass';
                    }
                    names.push(name);
                });

                return names.join(', ');
            },
            registeredForPlatform(platform) {
                return this.registeredBrackets.some(x => x.platform === platform);
            },
            handleSteamProfile() {
                const regex = /(http(s)?:\/\/)?(www\.)?steamcommunity\.com\/(id|profile)\//gi;

                return regex.test(this.form.platformProfileName);
            },
            submit(action) {
                if (action === 'REGISTER') {
                    const missingFields = [];

                    if (this.form.platform === '') {
                        missingFields.push('- Platform is required');
                    }
                    if (this.form.name === '') {
                        missingFields.push('- Name is required');
                    }

                    if (this.event.eventType !== 'speedrun-competition' && this.form.platform !== 'all') {
                        if (this.event.eventType !== 'roulette-rivals') {
                            if (this.form.platformProfileName === '') {
                                missingFields.push('- Steam URL / PS4 Profile Name / Xbox Gamertag is required');
                            } else if (this.form.platform === 'steam' && !this.handleSteamProfile()) {
                                missingFields.push('- Steam URL must be the full URL; not just your profile name');
                            }
                        }
                        if (this.form.streamPlatform === '') {
                            missingFields.push('- Streaming platform is required');
                        }
                        if (this.form.country === '') {
                            missingFields.push('- Country is required');
                        }
                        if (!this.form.acceptedRules) {
                            missingFields.push('- You must accept the rules');
                        }
                    }

                    if (missingFields.length) {
                        alert('Please fix the following issues:\n' + missingFields.join('\n'));
                        return;
                    }
                    this.form.snowflake = this.userContext.snowflake;

                    if (this.event.eventType === 'roulette-rivals') {
                        this.form.platformProfileName = '';
                    }

                    document.getElementById('submit-button').disabled = true;
                    this.$http
                        .post(`${this.$apiDomain}/api/events/${this.eventSlug}/register`, this.form, {
                            headers: {
                                'x-discord-token': `${this.cookies.get('discord-token-type')} ${this.cookies.get('discord-access-token')}`
                            }
                        })
                        .then(() => this.$router.go())
                        .catch(err => console.error(err));
                } else if (action === 'WITHDRAW') {
                    this.$http
                        .post(`${this.$apiDomain}/api/events/${this.eventSlug}/withdraw`, {
                            platform: this.form.platform
                        }, {
                            headers: {
                                'x-discord-token': `${this.cookies.get('discord-token-type')} ${this.cookies.get('discord-access-token')}`
                            }
                        })
                        .then(() => this.$router.go())
                        .catch(err => console.error(err));
                } else {
                    console.error(`submit(): Invalid action ${action}`);
                }
            },
            participantLimitEnforced() {
                return this.brackets.some(x => x.participantLimit > 0);
            }
        },
        mounted() {
            this.timezones = Utils.getTimeZones();
            this.form.timezone = Utils.guessUserTimeZone();

            if (this.cookies.isKey('discord-token-type') && this.cookies.isKey('discord-access-token')) {
                this.fetchingDiscordInfo = true;
                this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}/@me`, {
                    headers: {
                        'x-discord-token': `${this.cookies.get('discord-token-type')} ${this.cookies.get('discord-access-token')}`
                    }
                }).then(resp => {
                    this.userContext = new UserContext(resp.data);
                    this.registeredBrackets = resp.data.registeredBrackets;
                    this.fetchingDiscordInfo = false;
                }).catch(err => {
                    alert(err);
                    this.fetchingDiscordInfo = false;
                });
            }

            this.$http
                .get(`${this.$apiDomain}/api/events/${this.eventSlug}`)
                .then(resp => {
                    this.event = new Event(resp.data.event);
                    this.event.adminRoles = resp.data.adminRoles;
                    this.brackets = resp.data.brackets;
                });
        }
    };
</script>
