<template>
    <div class="body"
         :style="`background: url('${backgroundUrl}') no-repeat center center / cover fixed`"
         v-if="eventLoaded">
        <div class="header">
            <img :src="logoUrl" alt="Logo">
            <h1>CURRENT STANDINGS</h1>
        </div>
        <div class="matchups">
            <div v-if="stagesWithProgress.length > 1 && !selectedStage" class="row">
                <stage-select :stages="stagesWithProgress" @select-stage="selectStage" />
            </div>

            <swiss-standings v-if="stageType === 'swiss'" :stage="selectedStage" />
            <round-robin-standings v-else-if="stageType === 'round-robin'" :stage="selectedStage" />
            <bracket-standings v-else-if="['single-elimination', 'double-elimination'].includes(stageType)" :stage="selectedStage" />

            <div class="row legend" v-if="false">
                <div class="col">
                    <div class="matchup advanced row clinched-first">
                        <div class="col">
                            Secured 1st Place
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="matchup advanced row clinched-second">
                        <div class="col">
                            Secured 2nd Place
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="matchup advanced row clinched-none">
                        <div class="col">
                            Secured Knockout Stage Berth
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" v-if="!anyoneClinched && !anyTiedAdvancements">
            <p id="phantom-complete" style="display: none" v-if="sortedStandings !== null">&nbsp;</p>
            <h1>View the complete list of standings at <span style="text-transform: none; display: block">{{ $domain }}/events/{{ eventSlug }}</span></h1>
        </div>
        <div class="footer" v-if="anyTiedAdvancements">
            <p></p>
            <h3>Standings may not accurately reflect participants who are advancing and have equal number of points</h3>
        </div>
    </div>
</template>

<script>
    import Loader from '@/components/Loader.vue';
    import Stage from "@/components/Stage";
    import StageSelect from "@/components/Standings/StageSelect.vue";
    import SwissStandings from "@/components/Standings/SwissStandings.vue";
    import GroupStageStandings from "@/components/GroupStageStandings.vue";
    import RoundRobinStandings from "@/components/Standings/RoundRobinStandings.vue";
    import BracketStandings from "@/components/Standings/BracketStandings.vue";
    export default {
        name: 'StandingsOverlay',
        components: {BracketStandings, RoundRobinStandings, GroupStageStandings, SwissStandings, StageSelect, Loader},
        props: {
            eventSlug: String
        },
        data() {
            return {
                event: null,
                backgroundUrl: null,
                logoUrl: null,
                stagesWithProgress: null,
                selectedStage: null,
                loading: false,
                sortedStandings: null
            };
        },
        computed: {
            eventLoaded() {
                return this.backgroundUrl !== null && this.logoUrl !== null;
            },
            stageType() {
                if (this.selectedStage === null) {
                    return null;
                }

                const stageType = this.selectedStage.type;
                if (stageType.split('--').length > 1) {
                    return stageType.split('--')[1];
                }

                return stageType;
            },
            anyoneClinched() {
                if (!this.sortedStandings) {
                    return false;
                }

                return this.sortedStandings.participants.some(x => x.status === 'advanced');
            },
            anyTiedAdvancements() {
                if (!this.sortedStandings) {
                    return false;
                }

                const advancements = this.sortedStandings.participants.filter(x => x.advanced);
                const points = advancements.map(x => x.points);

                return [...new Set(points)].length !== points.length;
            }
        },
        mounted() {
            this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}`)
                .then(resp => {
                    this.backgroundUrl = resp.data.event.overlayBackgroundUrl;
                    this.logoUrl = resp.data.event.overlayLogoUrl;
                    this.event = resp.data.event;

                    this.stagesWithProgress = resp.data.brackets.flatMap(x => x.stages).filter(x => x.state !== 'Waiting').map(x => new Stage(x));
                    if (this.stagesWithProgress.length === 1) {
                        this.selectStage(this.stagesWithProgress[0]);
                    }
                });
        },
        methods: {
            selectStage(stage) {
                this.selectedStage = stage;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        width: 1920px;
        min-height: 1080px;
        text-align: center;

        .header {
            color: #fff;
            font-family: 'nimbus_sans_lbold', sans-serif;

            h1 {
                font-size: 3rem;
            }

            img {
                margin-top: 5px;
                height: 50px;
            }
        }

        .matchups {
            flex-grow: 1;
            margin: 10px;
            text-align: left;
        }

        .legend {
            margin-top: 40px;
        }

        .footer {
            text-align: center;
            background: rgba(0,0,0,.3);
            color: #fff;
            text-transform: uppercase;
            padding-bottom: 20px;
            font-family: 'nimbus_sans_lbold', sans-serif;

            img {
                height: 56px;
                width: 56px;
                vertical-align: text-bottom;
            }
        }
    }
</style>
