<template>
    <div v-if="event">
        <nav-header :tournament-event="event" :user-context="userContext" @logout="logout" />
        <br>
        <div class="row">
            <div class="col">
                <alert type="info">
                    Interested in cross-tournament statistics? Check out <a href="https://rrstats.currymaker.net" target="_blank">https://rrstats.currymaker.net</a>
                </alert>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12 stats">
                <map-selections :event-slug="eventSlug" stat-key="MapPicks" />
            </div>
            <div class="col-md-6 col-12 stats">
                <map-selections :event-slug="eventSlug" stat-key="MapBans" />
            </div>
            <div class="col-md-6 col-12 stats">
                <random-map-count :event-slug="eventSlug" />
            </div>
            <div class="col-md-6 col-12 stats">
                <shoutcast-frequency :event-slug="eventSlug" />
            </div>
            <div class="col-md-6 col-12 stats">
                <match-admin-frequency :event-slug="eventSlug" />
            </div>
        </div>
        <div class="row">
            <div class="col stats">
                <alert type="info">
                    Is there a stat you want tracked that isn't listed here? Let MrMike know and he can (possibly) add it in!
                </alert>
            </div>
        </div>
    </div>
</template>

<script>
    import BarChart from '../components/charts/BarChart.vue';
    import LineChart from '../components/charts/LineChart.vue';
    import Loader from '../components/Loader.vue';
    import ClassicHeader from '../components/ClassicHeader.vue';
    import Alert from '../components/Alert.vue';
    import DonutChart from '../components/charts/DonutChart.vue';
    import MapSelections from "../components/statistics/MapSelections.vue";
    import RandomMapCount from "../components/statistics/RandomMapCount.vue";
    import ShoutcastFrequency from "../components/statistics/ShoutcastFrequency.vue";
    import MatchAdminFrequency from "@/components/statistics/MatchAdminFrequency.vue";
    import NavHeader from "@/components/NavHeader.vue";
    import Event from "@/components/Event";
    import Bracket from "@/components/Bracket";
    import UserContext from "@/components/UserContext";
    import {useCookies} from "vue3-cookies";
    export default {
        name: 'Statistics',
        setup() {
            const { cookies } = useCookies();
            return {
                cookies
            }
        },
        components: {
            NavHeader,
            MatchAdminFrequency,
            ShoutcastFrequency,
            RandomMapCount, MapSelections, DonutChart, Alert, ClassicHeader, Loader, LineChart, BarChart},
        props: {
            eventSlug: ''
        },
        data() {
            return {
                event: null,
                userContext: null
            }
        },
        methods: {
            logout() {
                this.userContext = null;
                this.cookies.remove('discord-token-type');
                this.cookies.remove('discord-access-token');
            },
            processCookies() {
                if (!this.cookies.isKey('discord-token-type') || !this.cookies.isKey('discord-access-token')) {
                    return;
                }

                this.fetchingDiscordInfo = true;
                this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}/@me`, {
                    headers: {
                        'x-discord-token': `${this.cookies.get('discord-token-type')} ${this.cookies.get('discord-access-token')}`
                    }
                }).then(resp => {
                    this.userContext = new UserContext(resp.data);
                    this.fetchingDiscordInfo = false;
                }).catch(err => {
                    alert(err);
                    this.fetchingDiscordInfo = false;
                });
            }
        },
        mounted() {
            this.processCookies();
            this.$http
                .get(this.$apiDomain + '/api/events/' + this.eventSlug)
                .then(resp => {
                    this.event = new Event(resp.data.event);
                    this.event.adminRoles = resp.data.adminRoles;
                });
        }
    };
</script>

<style lang="scss" scoped>
    .btn-dark {
        margin-left: 10px;
    }
    .stats {
        background: white;

        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .duration {
            font-size: 3rem;
        }
    }
</style>
