<template>
    <div class="body"
         :style="`background: url('${cdnFriendlyBackgroundUrl}') no-repeat center center / cover fixed`"
         v-if="eventLoaded">
        <div class="header">
            <img :src="cdnFriendlyLogoUrl" alt="Event Logo">
            <h1>UPCOMING MATCHES</h1>
        </div>
        <div class="matchups">
            <div class="matchup heading">
                <div class="names">
                    <i class="fas fa-swords"></i> Competitors
                </div>
                <div class="maps">
                    <i class="far fa-map"></i> Maps
                </div>
                <div class="date-time">
                    <i class="far fa-clock"></i> Time
                </div>
                <div class="shoutcaster">
                    <i class="fas fa-microphone"></i> Shoutcaster(s)
                </div>
            </div>
            <div class="matchup" style="color: black" v-if="upcomingMatches === null || !hitmapsLoadDone">
                <loader/>
            </div>
            <div class="matchup" v-else-if="!upcomingMatches.length">
                No upcoming matches
            </div>
            <div class="matchup" :class="index === 0 ? 'next' : ''" v-for="(matchup, index) in upcomingMatches" v-else>
                <div class="names">
                    <template v-for="(competitor, index) in matchup.competitors">
                        {{ competitor.challongeName }}
                        <template v-if="index !== matchup.competitors.length - 1"> / </template>
                    </template>
                </div>
                <div class="maps">
                    {{ getMaps(matchup, 'Pick').join(', ') }}
                </div>
                <div class="date-time">
                    <template v-if="index === 0">
                        <countdown v-if="isMatchWithinADay(matchup.matchScheduledAt)" :date="matchup.matchScheduledAt"/>
                        <template v-else>
                            {{ Utils.formatDateTime(matchup.matchScheduledAt, 'ddd, DD MMM | HH:mm zz', 'Europe/Amsterdam') }}
                        </template>
                    </template>
                    <template v-else>
                        {{ Utils.formatDateTime(matchup.matchScheduledAt, 'ddd, DD MMM | HH:mm zz', 'Europe/Amsterdam', getRelativeFormat(matchup.matchScheduledAt)) }}
                    </template>
                </div>
                <div class="shoutcaster">
                    <i v-if="matchup.cast" class="fab" :class="getCastLogo(matchup.cast)"></i>
                    {{ getShoutcasters(matchup.cast) }}
                </div>
            </div>
            <div class="matchup" v-if="extraMatchesNotShown > 0">
                <div class="minimal-width">
                    <i>+{{ extraMatchesNotShown }} additional {{ extraMatchesNotShown === 1 ? 'match' : 'matches' }}</i>
                </div>
            </div>
        </div>
        <div class="footer">
            <h1>View the complete list of upcoming matches at <img src="https://www.hitmaps.com/android-chrome-192x192.png" alt="HITMAPS logo"> HITMAPS.com</h1>
        </div>
    </div>
</template>

<script>
import Loader from '@/components/Loader.vue';
import Utils from "../components/Utils";
import Countdown from "@/components/Countdown.vue";
export default {
    name: 'UpcomingMatchesOverlay',
    components: {Countdown, Loader},
    props: {
        eventSlug: String
    },
    data() {
        return {
            upcomingMatches: null,
            extraMatchesNotShown: 0,
            backgroundUrl: null,
            logoUrl: null,
            hitmapsMissionInfo: {},
            hitmapsGamesLoaded: 0
        };
    },
    computed: {
        Utils() {
            return Utils
        },
        hitmapsLoadDone() {
            return this.hitmapsGamesLoaded === 3;
        },
        eventLoaded() {
            return this.backgroundUrl !== null && this.logoUrl !== null;
        },
        cdnFriendlyBackgroundUrl() {
            return this.backgroundUrl;
        },
        cdnFriendlyLogoUrl() {
            return this.logoUrl;
        }
    },
    mounted() {
        this.fetchHitmapsMissionInfo();
        this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}`)
            .then(resp => {
                this.backgroundUrl = resp.data.event.overlayBackgroundUrl;
                this.logoUrl = resp.data.event.overlayLogoUrl;
            });

        this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}/upcoming-matches`)
            .then(resp => {
                this.upcomingMatches = resp.data.data;

                if (this.upcomingMatches.length > 7) {
                    this.extraMatchesNotShown = this.upcomingMatches.length - 7;
                    this.upcomingMatches = this.upcomingMatches.slice(0, 7);
                }
            });
    },
    methods: {
        getMaps(matchup, selectionType) {
            const maps = [];
            for (const mapSelection of matchup.maps) {
                if (mapSelection.selectionType !== selectionType) {
                    continue;
                }

                maps.push(this.hitmapsMissionInfo[mapSelection.mapSlug].location);
            }

            return maps;
        },
        fetchHitmapsMissionInfo() {
            for (const game of ['hitman', 'hitman2', 'hitman3']) {
                this.$http.get(`${this.$hitmapsDomain}/api/games/${game}/locations`).then(resp => {
                    for (const location of resp.data) {
                        for (const mission of location.missions) {
                            this.hitmapsMissionInfo[mission.slug] = {
                                location: location.destination,
                                mission: mission.name,
                                backgroundUrl: mission.backgroundUrl
                            };
                        }
                    }
                    this.hitmapsGamesLoaded++;
                });
            }
        },
        getCastLogo(cast) {
            if (cast.mainCasterUrl.includes('twitch')) {
                return 'fa-twitch';
            }
            if (cast.mainCasterUrl.includes('youtube')) {
                return 'fa-youtube';
            }

            return '';
        },
        getShoutcasters(cast) {
            if (cast === null) {
                return '';
            }

            let display = `${cast.mainCaster.name}`;

            for (const cocaster of cast.cocasters) {
                display += `, ${cocaster.name}`;
            }

            return display;
        },
        isMatchWithinADay(scheduledAt) {
            const twentyFourHoursInMilliseconds = 24 * 60 * 60 * 1000;

            return (new Date(scheduledAt) - new Date()) < twentyFourHoursInMilliseconds;
        },
        getRelativeFormat(scheduledAt) {
            const twentyFourHoursInMilliseconds = 24 * 60 * 60 * 1000;

            return (new Date(scheduledAt) - new Date()) < twentyFourHoursInMilliseconds ? 'HH:mm zz' : '';
        }
    }
};
</script>

<style lang="scss" scoped>
.body {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 1080px;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: 'nimbus_sans_lbold', sans-serif;

        h1 {
            font-size: 3rem;
        }

        img {
            height: 119px;
            /*filter: drop-shadow(0 0 7px rgba(255,255,255,1));*/
        }
    }

    .matchups {
        flex-grow: 1;
        margin: 20px 50px;
        text-align: left;
        font-size: 16px;

        .matchup {
            display: flex;
            justify-content: center;
            /* Black on White */
            /*background: rgba(255, 255, 255, .5);
            filter: drop-shadow(0 0 7px rgba(255,255,255,1));*/

            /* White on Black */
            background: rgba(0, 0, 0, .5);
            filter: drop-shadow(0 0 7px rgba(0,0,0,1));
            color: #fff;
            margin-top: 20px;
            padding: 20px;

            &.next {
                font-size: 30px;
            }

            &.heading {
                font-family: 'nimbus_sans_lbold', sans-serif;
                font-weight: bolder;
            }

            > div {
                width: 455px;

                &.minimal-width {
                    width: inherit;
                }
            }
        }
    }

    .footer {
        text-align: center;
        /*background: rgba(0,0,0,.3);*/
        color: #fff;
        text-transform: uppercase;
        padding-bottom: 20px;
        font-family: 'nimbus_sans_lbold', sans-serif;

        img {
            height: 56px;
            width: 56px;
            vertical-align: text-bottom;
        }
    }
}
</style>