<script>
import {defineComponent} from 'vue'
import Alert from "@/components/Alert.vue";
import BracketPreviewer from "@/components/BracketManager/BracketPreviewer.vue";
import ArrayHelpers from "@/components/ArrayHelpers";
import {useCookies} from "vue3-cookies";
import Utils from "@/components/Utils";
import GameButton from "@/components/GameButton.vue";
import GameIcon from "@/components/GameIcon.vue";

export default defineComponent({
    name: "BracketEliminationStagePrep",
    setup() {
        const { cookies } = useCookies();
        return {
            cookies
        };
    },
    components: {GameIcon, GameButton, BracketPreviewer, Alert},
    props: {
        stage: Object,
        admin: Boolean
    },
    data() {
        return {
            seedings: null,
            beginButtonDisabled: false
        }
    },
    mounted() {
        this.fetchSeedings();
    },
    methods: {
        fetchSeedings() {
            this.$http.get(`${this.$apiDomain}/api/stages/${this.stage.id}/seedings`)
                .then(resp => {
                    this.seedings = resp.data;
                }).catch(err => this.$toastr.e(`An error occurred while fetching seedings (${err})`));
        },
        adjustSeeding(index, direction) {
            const newIndex = direction === 'DOWN' ? index + 1 : index - 1;
            ArrayHelpers.moveElement(this.seedings, index, newIndex);
            for (let i = 0; i < this.seedings.length; i++) {
                this.seedings[i].seed = i + 1;
            }

            document.querySelectorAll('td.action-buttons > button').forEach(button => button.disabled = true);
            this.$http.put(`${this.$apiDomain}/api/stages/${this.stage.id}/seedings`,
                this.seedings,
                Utils.getDiscordHeader(this.cookies))
                .then(_ => {
                    this.$refs.bracketPreviewer.refreshPreview();
                    document.querySelectorAll('td.action-buttons > button').forEach(button => button.disabled = false);
                })
                .catch(err => this.$toastr.e(err));
        },
        beginStage() {
            if (this.beginButtonDisabled) {
                return;
            }

            this.beginButtonDisabled = true;
            this.$http.patch(`${this.$apiDomain}/api/stages/${this.stage.id}`, {
                state: 'Underway'
            }, Utils.getDiscordHeader(this.cookies)).then(_ => window.location.reload())
                .catch(err => {
                    this.beginButtonDisabled = false;
                    this.$toastr.e(`An error occurred while beginning the stage (${err})`)
                });
        }
    }
})
</script>

<template>
    <alert type="info" v-if="!admin">
        {{ stage.name }} is currently being prepared. Come back soon!
    </alert>
    <template v-else>
        <alert type="info" :alert-heading="`${stage.name} Preparation`">
            Confirm the seedings below. A preview of the bracket is also available.
        </alert>
        <div class="row">
            <div class="col-md-4 col-sm-12 seedings-table">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <td>Seed</td>
                        <td>Name</td>
                        <td>&nbsp;</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(seeding, index) in seedings">
                        <td>{{ seeding.seed }}</td>
                        <td>{{ seeding.name }}</td>
                        <td class="action-buttons">
                            <button class="btn btn-light text-primary"
                                    @click="adjustSeeding(index, 'UP')"
                                    :style="{ 'visibility': index !== 0 ? 'visible' : 'hidden' }">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                            <button class="btn btn-light text-primary"
                                    @click="adjustSeeding(index, 'DOWN')"
                                    :style="{ 'visibility': index !== seedings.length - 1 ? 'visible' : 'hidden' }">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8 col-sm-12 bracket">
                <bracket-previewer ref="bracketPreviewer" :stage-id="stage.id" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 start-button">
                <game-button :disabled="beginButtonDisabled" @click="beginStage">
                    <game-icon icon="arrow-right" font-style="normal"/>
                    Begin {{ stage.name }}
                </game-button>
            </div>
        </div>
    </template>
</template>

<style scoped lang="scss">
.action-buttons {
    display: flex;

    button + button {
        margin-left: 5px;
    }
}
</style>