<script setup>
import Alert from "@/components/Alert.vue";
import {computed, ref} from "vue";
import GroupStageRoundRobinPrep from "@/components/event/GroupStageRoundRobinPrep.vue";

const props = defineProps({
    tournamentEvent: Object,
    brackets: Array,
    userContext: Object|null
});

const firstStage = ref(null);
if (props.brackets.length && props.brackets[0].stages) {
    firstStage.value = props.brackets[0].stages[0];
}

const eventAdmin = computed(() => {
    if (!props.userContext) {
        return false;
    }

    return props.userContext.serverRoles.some(x => props.tournamentEvent.adminRoles.includes(x));
})
</script>

<template>
    <div class="container" v-if="eventAdmin">
        <template v-if="firstStage.type === 'group-stage--round-robin'">
            <alert type="info" alert-heading="Group Stage Preparation">
                <p>Please add players to each group below.  Once complete, click the "Start Group Stage" button.</p>
            </alert>
            <group-stage-round-robin-prep :tournament-event="tournamentEvent"
                                          :user-context="userContext"
                                          :players-per-group="firstStage.settings.playersPerGroup"
                                          :stage="firstStage" />
        </template>
        <template v-else>
            <alert type="info" alert-heading="Verify End of Registration">
                <p>Registration has closed. Verify that the list of participants looks correct via the <router-link :to="{ name: 'PlayerManager' }">player manager</router-link> and then click the button below to begin setting up the first stage.</p>
                <button @click="alert('Allan add details')" class="btn btn-dark">Start Tournament</button>
            </alert>
        </template>
    </div>
    <div class="container" v-else>
        <alert type="info" alert-heading="Tournament Being Prepared">
            <p>The tournament is currently being prepared. Come back soon!</p>
        </alert>
    </div>
</template>

<style scoped lang="scss">

</style>