<script>
import {defineComponent} from 'vue'
import Group from "@/components/event/Group";
import Modal from "@/components/Modal.vue";
import GameIcon from "@/components/GameIcon.vue";
import GameButton from "@/components/GameButton.vue";
import ArrayHelpers from "@/components/ArrayHelpers";

export default defineComponent({
    name: "GroupStageRoundRobinPrep",
    components: {GameButton, GameIcon, Modal},
    props: {
        tournamentEvent: Object,
        stage: Object,
        playersPerGroup: Number,
        userContext: Object|null
    },
    data() {
        return {
            competitors: [],
            groups: [],
            //region Modal Data
            selectedGroup: null,
            modalSearch: '',
            modalResults: []
            //endregion
        }
    },
    computed: {
        allPlayersAssigned() {
            return this.competitors.length === this.groups.flatMap(x => x.members).length;
        }
    },
    mounted() {
        this.$http.get(`${this.$apiDomain}/api/events/${this.tournamentEvent.slug}/competitors`)
            .then(resp => {
                this.competitors = resp.data.data;
                this.buildEmptyGroups();
            });
    },
    methods: {
        buildEmptyGroups() {
            const filledGroupsCount = parseInt(this.competitors.length / this.playersPerGroup);

            const groupCount = this.competitors.length % this.playersPerGroup === 0 ?
                filledGroupsCount :
                filledGroupsCount + 1;
            for (let i = 0; i < groupCount; i++) {
                this.groups.push(new Group({
                    number: i
                }));
            }
        },
        getLetterForGroup(groupNumber) {
            return String.fromCharCode(65 + parseInt(groupNumber));
        },
        prepAddCompetitor(group) {
            this.selectedGroup = group;
            this.modalSearch = '';
            this.updateModalResults();
        },
        updateModalResults() {
            const groupedMembers = this.groups.flatMap(x => x.members).map(x => x.id);
            this.modalResults = this.competitors.filter(x => !groupedMembers.includes(x.id));

            if (this.modalSearch.trim() !== '') {
                this.modalResults = this.modalResults.filter(x => x.challongeName.toLowerCase().startsWith(this.modalSearch.trim().toLowerCase()));
            }

            this.modalResults = this.modalResults.sort((a, b) => a.challongeName.toLowerCase() > b.challongeName.toLowerCase() ?
                1 :
                -1);
        },
        addCompetitorToGroup(competitor) {
            this.selectedGroup.members.push(competitor);
            document.getElementById('close-competitor-modal-button').click();
        },
        adjustSeeding(group, index, direction) {
            if (direction === 'DOWN') {
                ArrayHelpers.moveElement(group.members, index, index + 1);
            } else if (direction === 'UP') {
                ArrayHelpers.moveElement(group.members, index, index - 1);
            }
        },
        removeSeeding(group, index) {
            ArrayHelpers.deleteElementByIndex(group.members, index);
        },
        startGroupStage() {
            const requestModel = this.groups.map(x => {
                return {
                    groupId: x.number,
                    competitorIds: x.members.map(y => y.id)
                }
            });

            this.$refs['startGroupStageButton'].disabled = true;
            this.$http.post(`${this.$apiDomain}/api/stages/${this.stage.id}/group-stage`, {
                groups: requestModel
            }).then(_ => {
                window.location.reload();
                this.$refs['startGroupStageButton'].disabled = false;
            }).catch(err => {
                this.$toastr.e(`An error occurred when building the group stage (${err})`);
                this.$refs['startGroupStageButton'].disabled = false;
            });
        }
    }
})
</script>

<template>
    <div class="row">
        <div class="col-md-6 col-sm-12" v-for="group in groups">
            <table class="table table-dark">
                <thead>
                <tr class="text-center">
                    <th colspan="3" scope="col">Group {{ getLetterForGroup(group.number) }}</th>
                </tr>
                <tr>
                    <th scope="col">Order</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="!group.members.length" class="text-center">
                    <td colspan="3"><i>No competitors in group</i></td>
                </tr>
                <tr v-for="(member, index) in group.members">
                    <td>{{ index + 1 }}</td>
                    <td class="name">{{ member.challongeName }}</td>
                    <td class="action-buttons">
                        <button class="btn btn-light text-primary"
                                @click="adjustSeeding(group, index, 'UP')"
                                :style="{ 'visibility': index !== 0 ? 'visible' : 'hidden' }">
                            <i class="fas fa-arrow-up"></i>
                        </button>
                        <button class="btn btn-light text-primary"
                                @click="adjustSeeding(group, index, 'DOWN')"
                                :style="{ 'visibility': index !== group.members.length - 1 ? 'visible' : 'hidden' }">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                        <button class="btn btn-light text-danger" @click="removeSeeding(group, index)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot v-if="!allPlayersAssigned">
                <tr>
                    <th colspan="3">
                        <game-button @click="prepAddCompetitor(group)"
                                     ref="show-add-competitor-button"
                                     data-toggle="modal"
                                     data-target="#add-competitor">
                            <game-icon icon="add-to-list" font-style="normal"/>
                            Add Competitor
                        </game-button>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row" v-if="allPlayersAssigned">
        <div class="col-xs-12 start-button">
            <game-button @click="startGroupStage" ref="startGroupStageButton">
                <game-icon icon="check" font-style="normal" />
                Start Group Stage
            </game-button>
        </div>
    </div>
    <modal modal-title="Add Competitor" id="add-competitor">
        <input type="text" class="form-control" v-model="modalSearch" @keyup="updateModalResults" placeholder="Search">
        <div class="players">
            <div class="player-name"
                 @click="addCompetitorToGroup(searchResult)"
                 v-for="searchResult in modalResults">{{ searchResult.challongeName }}</div>
        </div>
        <template v-slot:modal-footer>
            <game-button id="close-competitor-modal-button" data-dismiss="modal">
                <game-icon icon="failed" font-style="normal"/>
                Cancel
            </game-button>
        </template>
    </modal>
</template>

<style scoped lang="scss">
.table {
    .name {
        width: 100%;
    }

    .action-buttons {
        display: flex;

        button + button {
            margin-left: 5px;
        }
    }
}

.players {
    max-height: 400px;
    overflow: auto;
}

.player-name {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;

    &:hover {
        cursor: pointer;
        background: rgba(0,0,0,.2);
    }
}
</style>