<script setup>
import Alert from "@/components/Alert.vue";

const props = defineProps({
    tournamentEvent: Object,
    userContext: Object|null
});
</script>

<template>
    <div class="registration-open">
        <div class="container">
            <alert type="info">
                Registration is currently open for {{ tournamentEvent.name }}.<br><br>
                <router-link v-if="userContext" class="btn btn-dark" :to="{ name: 'PlayerManager' }">View / Manage Participants</router-link>&nbsp;
                <router-link class="btn btn-dark" :to="{ name: 'Register' }">View Registration Page</router-link>
            </alert>
        </div>
    </div>
</template>

<style scoped lang="scss">

</style>