<script>
import {defineComponent} from 'vue'
import Alert from "@/components/Alert.vue";
import BracketPreviewer from "@/components/BracketManager/BracketPreviewer.vue";
import ArrayHelpers from "@/components/ArrayHelpers";
import {useCookies} from "vue3-cookies";
import Utils from "@/components/Utils";
import GameButton from "@/components/GameButton.vue";
import GameIcon from "@/components/GameIcon.vue";

export default defineComponent({
    name: "SwissStagePrep",
    setup() {
        const { cookies } = useCookies();
        return {
            cookies
        };
    },
    components: {GameIcon, GameButton, BracketPreviewer, Alert},
    props: {
        stage: Object,
        admin: Boolean
    },
    data() {
        return {
            beginButtonDisabled: false
        }
    },
    methods: {
        beginStage() {
            if (this.beginButtonDisabled) {
                return;
            }

            this.beginButtonDisabled = true;
            this.$http.patch(`${this.$apiDomain}/api/stages/${this.stage.id}`, {
                state: 'Underway'
            }, Utils.getDiscordHeader(this.cookies)).then(_ => window.location.reload())
                .catch(err => {
                    this.beginButtonDisabled = false;
                    this.$toastr.e(`An error occurred while beginning the stage (${err})`)
                });
        }
    }
})
</script>

<template>
    <alert type="info" v-if="!admin">
        {{ stage.name }} is currently being prepared. Come back soon!
    </alert>
    <template v-else>
        <alert type="info" :alert-heading="`${stage.name} Preparation`">
            Confirm that the list of participants in the <router-link :to="{ name: 'PlayerManager' }">player manager</router-link> is correct, then click the button below to start the stage.
        </alert>
        <div class="row">
            <div class="col-12 start-button">
                <game-button :disabled="beginButtonDisabled" @click="beginStage">
                    <game-icon icon="arrow-right" font-style="normal"/>
                    Begin {{ stage.name }}
                </game-button>
            </div>
        </div>
    </template>
</template>

<style scoped lang="scss">
.action-buttons {
    display: flex;

    button + button {
        margin-left: 5px;
    }
}
</style>