<template>
    <div class="background" :style="'background: url(https://media.hitmaps.com/img/gamemodes/tile_multiplayer_invite.jpg) no-repeat center center / cover'">
        <a href="javascript:" @click="showCreateModal">
            <div class="ended">
                <p>
                    <i class="far fa-plus-square"></i>
                </p>
            </div>
            <div class="game-info">
                <div class="image">
                    <img :src="`/img/game-icons/modal-continue.png`" alt="Add Icon" class="normal img-fluid">
                    <img :src="`/img/game-icons/modal-continue-inverted.png`" alt="Add Icon" class="inverted img-fluid">
                </div>
                <div class="text">
                    <h2>Add</h2>
                    <h1>Create New Event</h1>
                </div>
            </div>
        </a>
        <modal modal-title="Create Event"
               id="create-modal"
               tabindex="-1"
               dismissable>
            <p>TODO</p>
        </modal>
    </div>
</template>

<script>
    import Modal from '@/components/Modal.vue';
    export default {
        name: 'AddEventTile',
        components: {Modal},
        computed: {
            formattedEventType() {
                switch (this.event.eventType) {
                    case 'ghost-mode':
                        return 'Ghost Mode';
                    case 'roulette-rivals':
                        return 'Roulette Rivals';
                    default:
                        return this.event.eventType;
                }
            }
        },
        methods: {
            showCreateModal(e) {
                e.preventDefault();
                $('#create-modal').modal('show');
            }
        }
    };
</script>

<style lang="scss" scoped>
    .background {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 20px;

        &:hover {
            .game-info {
                color: #fff;
                background: #fc003b;

                .image {
                    .normal {
                        display: none;
                    }

                    .inverted {
                        display: block;
                    }
                }

                .text {
                    h2 {
                        color: #fff;
                    }
                }
            }
        }

        > a {
            display: flex;
            flex-direction: column;
            height: 100%;
            text-decoration: none;

            > div:first-child {
                display: inline-flex;
                flex-grow: 1;
                margin-bottom: 0;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                &.ended {
                    background: rgba(0,0,0,.5);
                    text-transform: uppercase;
                }

                p {
                    font-size: 7rem;
                    text-align: center;
                    color: rgba(255,255,255,.8);
                }
            }
        }
    }

    .countdown {
        padding: 15px 15px 0;
        padding-bottom: 1rem;

        img {
            width: 48px;
            height: 48px;
            margin-right: 5px;
        }

        .timer {
            display: inline-block;
            vertical-align: middle;

            .target-arrives {
                color: #fff;
                line-height: 0;
                display: none;
            }

            .elusive-countdown {
                color: #fef30a;
                font-size: 2rem;
                vertical-align: middle;
                font-weight: 600;
                text-transform: uppercase;
            }

            &.not-playable {
                vertical-align: bottom;

                .target-arrives {
                    display: block;
                    text-transform: uppercase;
                }

                .elusive-countdown {
                    line-height: 33px;
                    margin-top: 7px;
                }
            }
        }
    }

    .game-info {
        padding: 15px;
        background: #fff;
        color: #000;
        text-shadow: none;

        .image {
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;

            img {
                height: 48px;
                width: 48px;
            }

            .normal {
                display: block;
            }

            .inverted {
                display: none;
            }
        }

        .text {
            display: inline-block;
            text-transform: uppercase;

            h2 {
                font-size: 1rem;
                margin-bottom: 0;
                color: #fc003b;
            }

            h1 {
                font-size: 1.5rem;
                margin-bottom: 0;
            }
        }
    }
</style>
