<template>
    <div :class="[`alert alert-${type}`, {'dismissable': dismissable}]">
        <h4
            class="alert-heading"
            v-if="alertHeading !== undefined"
            v-html="alertHeading"
        ></h4>
        <button
                type="button"
                class="btn-close"
                data-dismiss="alert"
                aria-label="Close"
                v-if="dismissable"
        >
        </button>
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: 'Alert',
    props: {
        type: String,
        alertHeading: String,
        dismissable: Boolean
    }
};
</script>

<style lang="scss" scoped>
.alert {
    border: none;
    border-radius: 0;

    &.alert-success {
        border-left: solid 6px green;
    }

    &.alert-danger {
        border-left: solid 6px #d00000;
    }

    &.alert-info {
        border-left: solid 6px #0000ff;
    }

    &.alert-warning {
        border-left: solid 6px orange;
    }
}
</style>
