<template>
    <div class="header">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: 'ClassicHeader'
};
</script>

<style lang="scss" scoped>
.header {
    text-align: center;
    color: #fff;
    background: #1d2834;

    h1, h2 {
        text-transform: uppercase;
        font-weight: bolder;
    }
}
</style>