<template>
    <div v-if="days < 2">
        {{ twoDigits(hours) }}:{{ twoDigits(minutes) }}:{{ twoDigits(seconds) }}
    </div>
    <div v-else>
        {{ days }} Days
    </div>
</template>

<script>
export default {
    props: {
        date: {
            type: String,
            required: true,
        },
    },
    computed: {
        parsedDate() {
            return new Date(this.date).getTime();
        },
        seconds() {
            return Math.trunc(((this.parsedDate - this.now) / 1000) % 60);
        },
        minutes() {
            return Math.trunc(((this.parsedDate - this.now) / 1000 / 60) % 60);
        },
        hours() {
            return Math.trunc((this.parsedDate - this.now) / 1000 / 60 / 60);
        },
        days() {
            return Math.trunc(
                (this.parsedDate - this.now) / 1000 / 60 / 60 / 24
            );
        },
    },
    data() {
        return {
            now: new Date(),
        };
    },
    mounted() {
        setInterval(() => {
            this.now = new Date();
        }, 1000);
    },
    methods: {
        twoDigits(value) {
            if (value < 0) {
                return '00';
            }

            if (value < 10) {
                return '0' + value;
            }
            return value;
        },
    },
};
</script>
