<script>
import {defineComponent} from 'vue'
import Matchup from "@/components/Matchup.vue";
import Alert from "@/components/Alert.vue";
import Bracket from "@/components/BracketManager/Bracket.vue";
import Utils from "@/components/Utils";

export default defineComponent({
    name: "EliminationStage" ,
    components: {Bracket, Alert, Matchup},
    props: {
        stage: Object,
        admin: Boolean,
        eventSlug: String,
        bracketData: Object,
        bracket: Object,
        userContext: Object|null,
        possibleShoutcasters: Array,
        possibleMatchAdmins: Array,
        filters: Object
    },
    methods: {
        getSortedRoundNumbers() {
            return [...new Set(this.stage.matches.map(x => x.round))].sort((x, y) => {
                if (x === y) {
                    return 0;
                }

                if (x > 0 && y < 0) {
                    return -1;
                }

                return x > y ? 1 : -1;
            });
        },
        getMatchesForRound(roundNumber) {
            return this.stage.matches
                .filter(x => x.round === roundNumber)
                .filter(x => (this.filters.includeCompletedMatches && x.state === 'Complete') ||
                    (this.filters.includeScheduledMatches && x.matchScheduledAt && x.state !== 'Complete') ||
                    (this.filters.includeUnscheduledMatches && !x.matchScheduledAt && x.state !== 'Complete'));
        },
        resyncMatches() {
            this.$http.get(`${this.$apiDomain}/api/stages/${this.stage.id}/match-sync`, Utils.getDiscordHeader(this.cookies))
                .then(_ => this.$toastr.s('Request submitted. Refresh the page in about a minute to see updated matches.'))
                .catch(err => this.$toastr.e(`Unable to trigger a match sync (${err})`));
        }
    }
})
</script>

<template>
    <div>
        <ul class="nav nav-pills mb-3" :id="`bracket-tab-${stage.id}`" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="pill" :href="`#bracket-${stage.id}-bracket`"
                   role="tab" :aria-controls="`bracket-${stage.id}-bracket`">Bracket</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="pill" :href="`#bracket-${stage.id}-matches`"
                   role="tab" :aria-controls="`bracket-${stage.id}-matches`">Match Table</a>
            </li>
            <li class="nav-item" v-if="admin">
                <button class="btn btn-primary" @click="resyncMatches"><i class="fas fa-sync-alt"></i> Re-sync Matches</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent2">
            <div class="tab-pane fade show active" :id="`bracket-${stage.id}-bracket`" role="tabpanel">
                <bracket :stage-id="stage.id"/>
            </div>
            <div class="tab-pane fade" :id="`bracket-${stage.id}-matches`" role="tabpanel">
                <alert v-if="!stage.matches.length" type="warning" alert-heading="No Matches Found">
                    No matches found for this stage. Click "Re-sync matches" above to initiate a sync.
                </alert>
                <template v-for="roundNumber in getSortedRoundNumbers()">
                    <div class="match-header">
                        <div class="row">
                            <div class="col-12">
                                <div class="round-header">Round {{ roundNumber }}</div>
                            </div>
                        </div>
                    </div>
                    <matchup v-for="match in getMatchesForRound(roundNumber)"
                             :key="match.id"
                             :event-slug="eventSlug"
                             :rounds-to-victory-points="stage.pointsForVictory"
                             :match="match"
                             :competitors="bracketData.competitors"
                             :stage-id="stage.id"
                             :bracket-id="bracket.id"
                             :maps="bracket.maps"
                             :all-maps="bracket.maps"
                             :user-context="userContext"
                             :possible-shoutcasters="possibleShoutcasters"
                             :possible-match-admins="possibleMatchAdmins"
                             :admin="admin" />
                </template>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.nav-item:not(:first-child) {
    margin-left: 5px;
}

.nav-link {
    background: #1d2834;
    color: #fff;
    fill: #fff;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;

    &.active {
        background: #fb0111;
    }
}

.round-header {
    font-weight: bolder;
    color: #000;
    background-color: rgba(255, 255, 255, .9);
    padding-left: 10px;

    .group-header {
        display: flex;
        align-items: center;

        > div {
            margin-right: 20px;
        }

        li a {
            color: black;

            &:hover {
                background: rgba(0,0,0,.2);
            }

            &.active {
                background: $button-background;
                color: $card-footer-text;
            }

        }
    }
}
</style>