<template>
    <div class="background" :style="'background: url(' + tileUrl + ') no-repeat center center / cover'">
        <a :href="getEventUrl()">
            <div v-if="new Date(event.isoEventEndDate) < new Date()" class="ended">
                <p>
                    Ended
                </p>
            </div>
            <div v-else>
                <p></p>
            </div>
            <div class="countdown" style="background: rgba(0,0,0,.4)" v-if="new Date() < new Date(event.isoRegistrationEndDate)">
                <img src="/img/game-icons/elusive-target-reminaing-time.png" alt="Remaining Time Icon">
                <div class="timer not-playable">
                    <div class="target-arrives" v-if="new Date() > new Date(event.isoRegistrationStartDate)">Registration Closes In</div>
                    <div class="target-arrives" v-else>Registration Opens in</div>
                    <countdown
                            v-if="new Date() > new Date(event.isoRegistrationStartDate)"
                            class="elusive-countdown"
                            :date="event.isoRegistrationEndDate"
                    ></countdown>
                    <countdown
                            v-else
                            class="elusive-countdown"
                            :date="event.isoRegistrationStartDate"
                    ></countdown>
                </div>
            </div>
            <div class="game-info">
                <div class="image">
                    <game-icon :icon="getIcon(event.eventType)" :font-style="getFontStyle(event.eventType)" />
                </div>
                <div class="text">
                    <h2>{{ formattedEventType }}</h2>
                    <div class="title">
                        <h1 ref="scale">{{ event.name }}</h1>
                    </div>
                </div>
            </div>
        </a>
    </div>
</template>

<script>
    import Countdown from '@/components/Countdown.vue';
    import fitty from 'fitty';
    import GameIcon from '@/components/GameIcon.vue';
    export default {
        name: 'EventTile',
        components: {GameIcon, Countdown},
        props: {
            event: null
        },
        computed: {
            formattedEventType() {
                switch (this.event.eventType) {
                    case 'ghost-mode':
                        return 'Ghost Mode';
                    case 'roulette-rivals':
                        return 'Roulette Rivals';
                    case 'speedrun-competition':
                        return 'Speedrun Competition';
                    default:
                        return this.event.eventType;
                }
            },
            tileUrl() {
                return this.event.tileUrl;
            }
        },
        mounted() {
            fitty(this.$refs.scale, {
                minSize: 18,
                maxSize: 24
            });
        },
        methods: {
            getIcon(eventType) {
                switch (eventType) {
                    case 'ghost-mode':
                        return 'versus';
                    case 'roulette-rivals':
                        return 'completion-list';
                    case 'speedrun-competition':
                        return 'timed';
                }
            },
            getFontStyle(eventType) {
                return eventType === 'roulette-rivals' ? 'solid' : 'normal';
            },
            getEventUrl() {
                if (new Date() < new Date(this.event.isoRegistrationStartDate)) {
                    return '#';
                }

                return new Date() < new Date(this.event.isoRegistrationEndDate) ?
                    `/events/${this.event.slug}/register` :
                    `/events/${this.event.slug}`;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .background {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 20px;

        &:hover {
            .game-info {
                background: #fb0111;

                .image {
                    .normal {
                        display: none;
                    }

                    .inverted {
                        display: block;
                    }
                }

                .text {
                    h2 {
                        color: #fff;
                    }
                }
            }
        }

        > a {
            display: flex;
            flex-direction: column;
            height: 100%;
            text-decoration: none;

            > div:first-child {
                display: inline-flex;
                flex-grow: 1;
                margin-bottom: 0;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                &.ended {
                    background: rgba(0,0,0,.5);
                    text-transform: uppercase;
                }

                p {
                    font-size: 7rem;
                    text-align: center;
                    color: rgba(255,255,255,.8);
                    transform: rotate(-25deg);
                }
            }
        }
    }

    .countdown {
        padding: 15px 15px 0;
        padding-bottom: 1rem;

        img {
            width: 48px;
            height: 48px;
            margin-right: 5px;
        }

        .timer {
            display: inline-block;
            vertical-align: middle;

            .target-arrives {
                color: #fff;
                line-height: 0;
                display: none;
            }

            .elusive-countdown {
                color: #fef30a;
                font-size: 2rem;
                vertical-align: middle;
                font-weight: 600;
                text-transform: uppercase;
            }

            &.not-playable {
                vertical-align: bottom;

                .target-arrives {
                    display: block;
                    text-transform: uppercase;
                }

                .elusive-countdown {
                    line-height: 33px;
                    margin-top: 7px;
                }
            }
        }
    }

    .game-info {
        padding: 15px;
        background: rgba(29, 40, 52, .7);
        color: #fff;
        text-shadow: none;
        display: flex;

        .image {
            vertical-align: top;
            margin-right: 5px;

            img {
                height: 48px;
                width: 48px;
            }

            .normal {
                display: block;
            }

            .inverted {
                display: none;
            }
        }

        .text {
            text-transform: uppercase;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 1rem;
                margin-bottom: 0;
                color: #fff;
                font-family: 'nimbus_sans_lregular', sans-serif;
                font-weight: normal;
            }

            .title {
                min-width: 100%;
                flex-grow: 1;

                h1 {
                    font-size: inherit;
                    margin-bottom: 0;
                }
            }
        }
    }
</style>
