<template>
<div :id="contentID">
    <slot />
</div>
</template>

<script>
import fitty from 'fitty';
import { v4 as uuidv4 } from 'uuid';
export default {
    name: 'Fitty',
    props: {
        options: null
    },
    setup() {
        const uid = uuidv4();
        return {
            uid
        };
    },
    mounted() {
        this.$nextTick(() => {
            this.init();
        });
    },
    computed: {
        contentID() {
            return `fitty-${this.uid}`;
        }
    },
    methods: {
        init() {
            setTimeout(() => {
                fitty(`#${this.contentID}`, this.options);
            }, 1000);
        }
    }
};
</script>