<template>
    <button
        type="button"
        class="btn btn-block game-button"
        v-bind="$attrs"
        :disabled="disabled"
    >
        <slot></slot>
    </button>
</template>

<script>
export default {
    name: 'GameButton',
    data() {
        return {
            disabled: false
        };
    }
};
</script>

<style lang="scss" scoped>
.game-button {
    background: #1d2834;
    margin: 0 10px 10px 0;

    &.btn-block {
        border-radius: 0;
        text-transform: uppercase;
        background: #1d2834;
        color: #fff;
        font-family: 'nimbus_sans_lbold', sans-serif;
        text-align: left;
        font-size: 1.3rem;
        transition: none;
        width: 100%;

        &:deep {
            &:not(:disabled):hover {
                background: #fb0111;
                color: #fff;

                i.game-icon {
                    background: #fff;
                    color: #fb0111;
                }
            }

            &:disabled {
                background: #ddd;
                color: #333;

                &:hover {
                    cursor: not-allowed;
                }
            }
        }

        &:deep(i.game-icon) {
            font-size: 20px;
        }

        img {
            max-width: 32px;
            max-height: 32px;
            vertical-align: top;

            &.normal {
                display: inline-block;
            }

            &.inverted {
                display: none;
            }

            &:hover {
                &.normal {
                    display: none;
                }

                &.inverted {
                    display: inline-block;
                }
            }
        }

        &:disabled {
            background: #ddd;
            color: #333;

            &:hover {
                cursor: not-allowed;
            }
        }
    }
}
</style>
