<script>
import {defineComponent} from 'vue'

export default defineComponent({
    name: "GroupStageStandings",
    props: {
        standings: Object
    }
})
</script>

<template>
    <div class="row header">
        <div class="col">
            Rank
        </div>
        <div class="col">
            Name
        </div>
        <div class="col">
            Points
        </div>
        <div class="col">
            Win %
        </div>
        <div class="col">
            W - L - T
        </div>
    </div>
    <div class="row" v-for="(participant, index) in standings.participants">
        <div class="col">
            {{ index + 1 }}
        </div>
        <div class="col">
            {{ participant.name }}
            <span class="badge text-bg-success" v-if="participant.advanced">Advanced</span>
        </div>
        <div class="col">
            {{ participant.points }}
        </div>
        <div class="col">
            {{ Math.round(participant.winningPercentage * 100) }}%
        </div>
        <div class="col">
            {{ participant.wins }} - {{ participant.losses }} - {{ participant.ties }}
        </div>
    </div>
</template>

<style scoped lang="scss">
.row {
    color: #fff;

    &.header {
        font-weight: bolder;
    }

    &:nth-child(odd) {
        .col {
            background: rgba(200, 200, 200, .1);
        }
    }
}
</style>