<script>
import {defineComponent} from 'vue'
import Matchup from "@/components/Matchup.vue";
import GroupStageStandings from "@/components/GroupStageStandings.vue";

export default defineComponent({
    name: "Group" ,
    components: {GroupStageStandings, Matchup},
    props: {
        group: Object,
        groupNumber: Number,
        eventSlug: String,
        bracketData: Object,
        stage: Object,
        bracket: Object,
        userContext: Object|null,
        possibleShoutcasters: Array,
        possibleMatchAdmins: Array,
        standings: Object,
        admin: Boolean,
        filters: Object
    },
    data() {
        return {
            activeTab: 'matches'
        }
    },
    methods: {
        getLetterForGroupNumber() {
            return String.fromCharCode(65 + parseInt(this.groupNumber));
        },
        getMatchesForGroup() {
            const competitorsForGroup = this.bracketData.competitors.filter(x => this.group.competitorIds.includes(x.id)).map(x => x.id);

            return this.stage.matches.filter(x => x.competitors.some(y => competitorsForGroup.includes(y.id)))
                .filter(x => (this.filters.includeCompletedMatches && x.state === 'Complete') ||
                    (this.filters.includeScheduledMatches && x.matchScheduledAt && x.state !== 'Complete') ||
                    (this.filters.includeUnscheduledMatches && !x.matchScheduledAt && x.state !== 'Complete'));
        }
    },
    mounted() {
        if (this.stage.allMatchesComplete) {
            this.activeTab = 'standings';
        }
    }
})
</script>

<template>
    <div class="row round-header">
        <div class="col-12 group-header">
            <div>
                Group {{ getLetterForGroupNumber(group.groupId) }}
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" :class="activeTab === 'matches' ? 'active' : ''" href="javascript:" @click="activeTab = 'matches'">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" :class="activeTab === 'standings' ? 'active' : ''" href="javascript:" @click="activeTab = 'standings'">Standings</a>
                </li>
            </ul>
        </div>
    </div>
    <template v-if="activeTab === 'matches'">
        <div class="row table-header d-none d-md-flex">
            <div class="col-md-2">
                Participants
            </div>
            <div class="col-md-3">
                Scheduled Date/Time | Score
            </div>
            <div class="col-md-2">
                Caster(s)
            </div>
            <div class="col-md-2">
                Match Admin
            </div>
            <div class="col-md-3">
                Actions
            </div>
        </div>
        <matchup v-if="getMatchesForGroup(group).length" v-for="match in getMatchesForGroup(group)"
                 :key="match.id"
                 :event-slug="eventSlug"
                 :match="match"
                 :competitors="bracketData.competitors"
                 :stage-id="stage.id"
                 :bracket-id="bracket.id"
                 :maps="bracket.maps"
                 :all-maps="bracket.maps"
                 :user-context="userContext"
                 :possible-shoutcasters="possibleShoutcasters"
                 :possible-match-admins="possibleMatchAdmins"
                 :rounds-to-victory-points="stage.pointsForVictory"
                 :admin="admin" />
        <div class="no-results" v-else><i>No matches found matching the specified criteria.</i></div>
    </template>
    <div class="standings" v-else-if="activeTab === 'standings'">
        <group-stage-standings :standings="standings" />
    </div>
</template>

<style scoped lang="scss">
.table-header {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bolder;
}

.no-results, .standings {
    color: #fff;
}

.round-header {
    font-weight: bolder;
    color: #000;
    background-color: rgba(255, 255, 255, .9);
    padding-left: 10px;

    .group-header {
        display: flex;
        align-items: center;

        > div {
            margin-right: 20px;
        }

        li a {
            color: black;

            &:hover {
                background: rgba(0,0,0,.2);
            }

            &.active {
                background: $button-background;
                color: $card-footer-text;
            }

        }
    }
}
</style>