<template>
    <div v-if="firstCompetitor || secondCompetitor" class="match" :class="match.state === 'Complete' ? 'complete' : ''">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <span v-if="match.state === 'Complete' && getTotalScore(firstCompetitor) > getTotalScore(secondCompetitor) || match.forfeitPlayers.includes(secondCompetitor.id)">
                    <i class="fas fa-trophy"></i>
                </span>
                <span v-else-if="match.state === 'Postponed'">
                    <i class="fas fa-exclamation-triangle" title="This match is currently postponed"></i>
                </span>
                {{ firstCompetitor ? firstCompetitor.challongeName : 'TBD' }} vs.
                {{ secondCompetitor ? secondCompetitor.challongeName : 'TBD' }}
                <span v-if="match.state === 'Complete' && getTotalScore(secondCompetitor) > getTotalScore(firstCompetitor) || match.forfeitPlayers.includes(firstCompetitor.id)">
                    <i class="fas fa-trophy"></i>
                </span>
            </div>
            <div class="col-md-3 col-sm-6" :class="match.state === 'Postponed' ? 'strikethrough' : ''">
                <template v-if="match.state === 'Complete'">{{ getTotalScore(firstCompetitor) }} - {{ getTotalScore(secondCompetitor) }}</template>
                <template v-else-if="match.matchScheduledAt">
                    {{ Utils.formatDateTime(match.matchScheduledAt, 'MMM DD YYYY HH:mm z') }}
                </template>
                <template v-else>Not Scheduled</template>
            </div>
            <div class="col-md-2 col-sm-6 d-flex" :class="match.state === 'Postponed' ? 'strikethrough' : ''">
                <div class="flex-grow-1" v-if="match.cast">
                    {{ match.cast.mainCaster.name }}
                    <template v-if="match.cast.cocasters.length">
                       / {{ match.cast.cocasters.map(x => x.name).join(' / ') }}
                    </template>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 d-flex" :class="match.state === 'Postponed' ? 'strikethrough' : ''">
                <div class="flex-grow-1" v-if="match.matchAdmin">
                    {{ match.matchAdmin.name }}
                </div>
            </div>
            <div class="col-md-3 col-sm-6 manage-buttons">
                <template v-if="admin">
                    <button class="btn btn-dark action-button"
                            v-if="match.state !== 'Complete' && firstCompetitor && secondCompetitor"
                            @click="toggleManage">
                        <template v-if="manageLoading">
                            <i class="fas fa-spinner fa-pulse"></i>
                            Loading...
                        </template>
                        <template v-else>
                            <i class="fas fa-calendar-alt"></i>
                            Date / Maps
                        </template>
                    </button>
                    <button class="btn btn-dark action-button" @click="showForfeitModal" v-if="match.state !== 'Complete' && firstCompetitor && secondCompetitor && !match.matchScheduledAt">
                        <i class="fas fa-flag"></i>
                        Forfeit Player(s)
                    </button>
                    <template v-if="match.matchScheduledAt && !match.forfeitPlayers.length">
                        <div class="dropdown action-button">
                            <button class="btn btn-dark action-button dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-tasks"></i>
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" @click="toggleShoutcasters">
                                    <i class="fab fa-twitch"></i>
                                    Set Shoutcasters
                                </button>
                                <button class="dropdown-item" @click="toggleMatchAdmin">
                                    <i class="fas fa-user"></i>
                                    Set Match Admin
                                </button>
                                <template v-if="!match.matchCompletedAt">
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item bg-warning" @click="showForfeitModal">
                                        <i class="fas fa-flag"></i>
                                        Forfeit Player(s)
                                    </button>
                                    <button class="dropdown-item bg-warning" @click="postponeMatch" v-if="match.state === 'Scheduled'">
                                        <i class="fas fa-hand-paper"></i>
                                        Postpone
                                    </button>
                                    <button class="dropdown-item bg-danger" style="color: white" @click="showResetModal" v-if="match.state === 'Scheduled'">
                                        <i class="fas fa-sync-alt"></i>
                                        Reset
                                    </button>
                                </template>
                            </div>
                        </div>
                        <button v-if="userContext && match.competitors.some(x => x.discordId === userContext.snowflake)"
                                class="btn btn-dark action-button" disabled>
                            <i class="fas fa-gavel"></i>
                            Match Admin Panel
                        </button>
                        <router-link v-else :to="`/events/${eventSlug}/matches/${match.id}`" class="btn btn-dark action-button">
                            <i class="fas fa-gavel"></i>
                            Match Admin Panel
                        </router-link>
                    </template>
                    <button v-if="admin"
                            ref="show-schedule-modal-button"
                            data-toggle="modal"
                            :data-target="`#schedule-match-${match.id}`"
                            aria-hidden="true"
                            style="display: none">
                        You shouldn't be seeing this normally. If you try to click on this instead of the proper "Manage" button, things will break. Don't say I didn't warn you ;)
                    </button>
                    <button v-if="admin"
                            ref="show-reset-modal-button"
                            data-toggle="modal"
                            :data-target="`#reset-match-${match.id}`"
                            aria-hidden="true"
                            style="display: none">
                        You shouldn't be seeing this normally. If you try to click on this instead of the proper "Reset" button, things will break. Don't say I didn't warn you ;)
                    </button>
                    <button v-if="admin"
                            ref="show-forfeit-modal-button"
                            data-toggle="modal"
                            :data-target="`#forfeit-match-${match.id}`"
                            aria-hidden="true"
                            style="display: none">
                        You shouldn't be seeing this normally. If you try to click on this instead of the proper "Forfeit" button, things will break. Don't say I didn't warn you ;)
                    </button>
                </template>
            </div>
        </div>
        <div class="manage" v-if="showShoutcasterBox && admin">
            <h4>Set Shoutcasters</h4>
            <div class="form-group">
                <label>Main Shoutcaster</label>
                <select class="form-control" v-model="match.cast.mainCaster.discordId" @change="updateMainCaster">
                    <option v-for="shoutcaster in possibleShoutcasters" :value="shoutcaster.discordUser.discordId">
                        {{ shoutcaster.discordUser.name }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>Main Shoutcaster's Stream URL</label>
                <div class="input-group">
                    <input type="text" class="form-control" v-model="match.cast.mainCasterUrl">
                </div>
            </div>
            <div class="form-group">
                <label>Co-casters</label>
                <div class="input-group" v-for="(cocaster, index) in match.cast.cocasters">
                    <select class="form-control" v-model="cocaster.discordId" @change="updateCocaster(cocaster)">
                        <option v-for="shoutcaster in possibleShoutcasters" :value="shoutcaster.discordUser.discordId">
                            {{ shoutcaster.discordUser.name }}
                        </option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-danger" @click="removeCocaster(index)">
                            <i class="fas fa-trash"></i>
                            Remove
                        </button>
                    </div>
                </div>
                <div class="input-group">
                    <button style="margin-top: 10px;" class="btn btn-block btn-info" @click="addCocaster">
                        <i class="fas fa-plus"></i>
                        Add Co-caster
                    </button>
                </div>
            </div>
            <button class="btn btn-success" @click="saveShoutcasters">Save</button>
            <button style="margin-left: 3px;" class="btn btn-danger" @click="removeShoutcasters">Clear Shoutcasters</button>
        </div>
        <div class="manage" v-if="showMatchAdminBox && admin">
            <h4>Set Match Admin</h4>
            <div class="form-group">
                <label>Match Admin</label>
                <select class="form-control" v-model="match.matchAdmin.discordId">
                    <option v-for="matchAdmin in possibleMatchAdmins" :value="matchAdmin.discordId">
                        {{ matchAdmin.name }}
                    </option>
                </select>
            </div>
            <button class="btn btn-success" @click="saveMatchAdmin">Save</button>
            <button style="margin-left: 3px;" class="btn btn-danger" @click="removeMatchAdmin">Remove Admin</button>
        </div>
        <modal modal-title="Schedule Match" :id="`schedule-match-${match.id}`">
            <div class="manage">
                <div class="basic-info">
                    <h3>Basic Match Information</h3>
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>Date / Time ({{ Utils.formatDateTime(new Date(), 'z') }})</label>
                                <div class="scheduled-time">
                                    <date-picker :show-second="false"
                                                 format="YYYY-MM-DD HH:mm"
                                                 v-model:value="scheduler.matchScheduledAt"
                                                 type="datetime"></date-picker>
                                    <span class="timezone-name">{{ Utils.formatDateTime(scheduler.matchScheduledAt ?? new Date(), 'z') }}</span>
                                </div>
                                <p v-if="!userIsInEuropeAmsterdam && scheduler.matchScheduledAt">{{ Utils.formatDateTime(scheduler.matchScheduledAt, 'YYYY-MM-DD HH:mm z', 'Europe/Amsterdam') }}</p>
                                <alert type="info" style="margin-top: 10px;">Times are now displayed in <b>your local timezone</b>!</alert>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">
                                <label>Points required for win</label>
                                <p v-if="!match.groupStage" style="font-size: 1.5rem; font-weight: bolder">{{ scheduler.pointsForWin }}</p>
                                <p v-else>Group stage matches do not have a minimum point requirement</p>
                            </div>
                        </div>
                        <div class="col-md-5 col-12">
                            <div class="form-group">
                                <label>Additional Random Map Count</label>
                                <p style="font-size: 1.5rem; font-weight: bolder">{{ automatedNumberOfAdditionalRandomMaps }}</p>
                                <p style="font-size: 0.8rem">If this number appears incorrect, ensure that enough picks / random maps have been selected</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-selections">
                    <h3>Map Selections</h3>
                    <template v-if="useMapPool">
                        <alert dismissable type="info">
                            Picked maps will be played in the order listed. The order of bans does not matter.
                        </alert>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Pick / Ban / Random</th>
                                <th>Competitor</th>
                                <th>Map Selection</th>
                                <th>Move / Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(mapSelection, index) in scheduler.mapSelections">
                                <td>
                                    <select class="form-select" v-model="mapSelection.selectionType">
                                        <option value="Pick">Picked Map</option>
                                        <option value="Ban">Banned Map</option>
                                        <option value="Random">Random Map</option>
                                    </select>
                                </td>
                                <td>
                                    <select v-if="mapSelection.selectionType !== 'Random'" class="form-select" v-model="mapSelection.competitorId">
                                        <option v-for="competitor in [firstCompetitor, secondCompetitor]"
                                                :value="competitor.id">
                                            {{ competitor.challongeName }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <template v-if="mapSelection.selectionType !== 'Random'">
                                        <select :disabled="!mapSelection.competitorId || mapSelection.selectionType === 'Random'" class="form-select" v-model="mapSelection.mapSlug">
                                            <optgroup :label="game" v-for="(missions, game) in getMaps(mapSelection.selectionType)">
                                                <option :value="mission.hitmapsSlug" v-for="mission in missions">
                                                    {{ getMapDropdownDisplay(mission, getMapUses(mapSelection)) }}
                                                </option>
                                            </optgroup>
                                        </select>
                                        <div class="map-use-warning" v-if="mapSelection.mapSlug in getMapUses(mapSelection)">
                                            <game-icon font-style="solid" icon="opportunity-discovered" />
                                            This map has already been chosen by this participant in <b>{{ getNumberOfMapUses(getMapUses(mapSelection), mapSelection.mapSlug) }}</b>.
                                        </div>
                                    </template>
                                    <p v-else>A random map will be selected from the pool of remaining maps.</p>
                                </td>
                                <td>
                                    <button @click="modifyMapPick('UP', index)" class="btn btn-light arrow" style="margin-right: 5px" :style="{ visibility: index === 0 ? 'hidden' : 'visible' }">
                                        <i class="fas fa-arrow-up"></i>
                                    </button>
                                    <button @click="modifyMapPick('DOWN', index)" class="btn btn-light arrow" style="margin-right: 5px" :style="{ visibility: index === scheduler.mapSelections.length - 1 ? 'hidden' : 'visible' }">
                                        <i class="fas fa-arrow-down"></i>
                                    </button>
                                    <button @click="modifyMapPick('DELETE', index)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4">
                                    <game-button @click="addMapSelection">
                                        <game-icon icon="arrow-right" font-style="normal"/>
                                        Add Map Pick/Ban
                                    </game-button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </template>
                    <template v-else>
                        <div class="help-block"><i>Maps are pre-determined</i></div>
                    </template>
                </div>
            </div>
            <template v-slot:modal-footer>
                <game-button @click="saveMatchup">
                    <game-icon icon="arrow-right" font-style="normal"/>
                    Save
                </game-button>
                <game-button @click="toggleManage">
                    <game-icon icon="failed" font-style="normal"/>
                    Cancel
                </game-button>
                <button data-dismiss="modal" ref="close-modal-button" style="display: none">
                    You again? Like last time, bad things happen if you click this directly...
                    so just click the proper cancel button and we'll both go home happy.
                </button>
            </template>
        </modal>
        <modal modal-title="Reset Match" :id="`reset-match-${match.id}`">
            <p>Are you sure you want to reset this match?</p>
            <alert type="warning">
                Resetting a match will delete all map picks/bans, shoutcasters, match admin, and scheduled date/time.
                Additionally, no Discord post will be sent when resetting.
            </alert>
            <template v-slot:modal-footer>
                <game-button ref="reset-confirm-button" @click="resetMatch">
                    <game-icon icon="arrow-right" font-style="normal"/>
                    Confirm
                </game-button>
                <game-button @click="closeResetModal">
                    <game-icon icon="failed" font-style="normal"/>
                    Cancel
                </game-button>
                <button data-dismiss="modal" ref="close-reset-modal-button" style="display: none">
                    You again? Like last time, bad things happen if you click this directly...
                    so just click the proper cancel button and we'll both go home happy.
                </button>
            </template>
        </modal>
        <modal modal-title="Forfeit Match" :id="`forfeit-match-${match.id}`">
            <p>Are you sure you want to forfeit this match?</p>
            <alert type="warning">
                Processing a forfeit is a <b>permanent</b> action and cannot be undone!
            </alert>
            <p>Select player(s) to receive a forfeit loss.</p>
            <div class="form-group">
                <div class="form-check" v-for="competitor in match.competitors">
                    <input class="form-check-input" type="checkbox" :value="competitor.id" v-model="forfeitCompetitors" :id="`forfeit-player-${competitor.id}`">
                    <label class="form-check-label" :for="`forfeit-player-${competitor.id}`">
                        {{ competitor.challongeName }}
                    </label>
                </div>
            </div>
            <template v-slot:modal-footer>
                <game-button ref="forfeit-confirm-button" @click="forfeitMatch">
                    <game-icon icon="arrow-right" font-style="normal"/>
                    Confirm
                </game-button>
                <game-button @click="hideForfeitModal">
                    <game-icon icon="failed" font-style="normal"/>
                    Cancel
                </game-button>
                <button data-dismiss="modal" ref="close-forfeit-modal-button" style="display: none">
                    You again? Like last time, bad things happen if you click this directly...
                    so just click the proper cancel button and we'll both go home happy.
                </button>
            </template>
        </modal>
    </div>
</template>

<script>
    import DatePicker from 'vue-datepicker-next';
    import 'vue-datepicker-next/index.css';
    import GameIcon from '@/components/GameIcon.vue';
    import Modal from '@/components/Modal.vue';
    import GameButton from '@/components/GameButton.vue';
    import MapChoice from '@/components/MapChoice.ts';
    import Alert from '@/components/Alert.vue';
    import ArrayHelpers from '@/components/ArrayHelpers.ts';
    import HitmapsMapInfo from '@/components/HitmapsMapInfo.ts';
    import Utils from '@/components/Utils.ts';
    import {useCookies} from "vue3-cookies";

    export default {
        name: 'Matchup',
        setup() {
            const { cookies } = useCookies();
            return {
                cookies
            }
        },
        components: {
            Alert,
            GameButton,
            Modal,
            GameIcon,
            DatePicker
        },
        props: {
            eventSlug: null,
            match: null,
            maps: Array,
            admin: false,
            roundsToVictoryPoints: {
                type: Array,
                required: false,
                default: []
            },
            competitors: Array,
            stageId: Number,
            bracketId: Number,
            allMaps: Array,
            possibleShoutcasters: Array,
            possibleMatchAdmins: Array,
            userContext: Object|null
        },
        data() {
            return {
                manageLoading: false,
                showShoutcasterBox: false,
                showMatchAdminBox: false,
                shownMatchScheduledAt: null,
                shownTimeZone: null,
                shownResetModal: false,
                shownForfeitModal: false,
                emptyScheduler: {
                    matchScheduledAt: null,
                    mapSelections: [],
                    matchup: null,
                    loadedMatchHistory: false,
                    showingModal: false,
                    participant0MapUses: [],
                    participant0BanUses: [],
                    participant1MapUses: [],
                    participant1BanUses: [],
                    pointsForWin: 0,
                    validation: {
                        matchScheduledAt: false,
                        mapSelections: false,
                        participantSelections: false
                    }
                },
                scheduler: {
                    matchScheduledAt: null,
                    mapSelections: [],
                    matchup: null,
                    loadedMatchHistory: false,
                    showingModal: false,
                    participant0MapUses: [],
                    participant0BanUses: [],
                    participant1MapUses: [],
                    participant1BanUses: [],
                    pointsForWin: 0,
                    validation: {
                        matchScheduledAt: false,
                        mapSelections: false,
                        participantSelections: false
                    }
                },
                forfeitCompetitors: []
            };
        },
        mounted() {
            if (!this.match.cast) {
                this.match.cast = {
                    mainCaster: {},
                    cocasters: []
                };
            }
            if (!this.match.matchAdmin) {
                this.match.matchAdmin = {
                    discordId: null,
                    name: null
                };
            }
        },
        computed: {
            Utils() {
                return Utils
            },
            userIsInEuropeAmsterdam() {
                const currentDate = new Date();

                return Utils.formatDateTime(currentDate, 'z', 'Europe/Amsterdam') ===
                    Utils.formatDateTime(currentDate, 'z', Intl.DateTimeFormat().resolvedOptions().timeZone);
            },
            useMapPool() {
                return this.maps.length;
            },
            firstCompetitor() {
                return this.match.competitors.find(x => x.order === 1);
            },
            secondCompetitor() {
                return this.match.competitors.find(x => x.order === 2);
            },
            automatedNumberOfAdditionalRandomMaps() {
                if (this.match.groupStage) {
                    return 1 - this.scheduler.mapSelections.filter(x => x.selectionType === 'Random').length;
                }

                const scheduledMapCount = this.scheduler.mapSelections
                    .filter(x => x.selectionType === 'Pick' || x.selectionType === 'Random').length;
                return Math.max(this.scheduler.pointsForWin - scheduledMapCount, 0);
            }
        },
        methods: {
            addCocaster() {
                this.match.cast.cocasters.push({
                    discordId: null,
                    name: null
                });
            },
            removeCocaster(index) {
                ArrayHelpers.deleteElementByIndex(this.match.cast.cocasters, index);
            },
            getMaps(selectionType) {
                const results = {};
                for (const map of this.allMaps) {
                    if (
                        (selectionType === 'Pick' && map.allowedToPick) ||
                        (selectionType === 'Ban' && map.allowedToBan)
                    ) {
                        this.addToResults(results, map);
                    }
                }

                return results;
            },
            addToResults(results, map) {
                if (!results[map.game]) {
                    results[map.game] = [];
                }
                results[map.game].push(new HitmapsMapInfo(map));
            },
            getTotalScore(competitor) {
                const completedMaps = this.match.maps.filter(x => x.state === 'Complete');
                return (completedMaps.filter(x => x.state === 'Complete' && x.winnerId === competitor.id).length * 2) +
                    (completedMaps.filter(x => x.winnerId === null).length);
            },
            getCompetitorForPlayerId(playerId) {
                const challongePlayerForGroupMatch = this.match.challongeParticipantsForMatch.find(x => x.groupPlayerIds.includes(playerId));

                return this.competitors.find(x => x.challongePlayerId === playerId || x.challongePlayerId === challongePlayerForGroupMatch?.id);
            },
            getMatchupBackgroundImage(participant) {
                if (!participant) {
                    return 'https://media.hitmaps.com/img/hitman3/contracts/createcontract/tile.jpg';
                }
                if (participant.avatarUrl) {
                    return participant.avatarUrl;
                }

                return participant.challongeName ?
                    'https://media.hitmaps.com/img/hitman3/ui/tiles/defaultmenutilesmall.png' :
                    'https://media.hitmaps.com/img/hitman3/contracts/createcontract/tile.jpg';
            },
            toggleManage() {
                if (!this.loadedMatchHistory) {
                    this.manageLoading = true;
                    /* tslint:disable */
                    let call1 = this.$http.get(`${this.$apiDomain}/api/stages/${this.stageId}/competitors/${this.firstCompetitor.discordId}/match-history`)
                        .then(resp => {
                            this.scheduler.participant0MapUses = this.getMapHistory(resp.data, this.firstCompetitor.id, 'Pick');
                            this.scheduler.participant0BanUses = this.getMapHistory(resp.data, this.firstCompetitor.id, 'Ban');
                        }).catch(err => {
                            console.error(err);
                        });
                    let call2 = this.$http.get(`${this.$apiDomain}/api/stages/${this.stageId}/competitors/${this.secondCompetitor.discordId}/match-history`)
                        .then(resp => {
                            this.scheduler.participant1MapUses = this.getMapHistory(resp.data, this.secondCompetitor.id, 'Pick');
                            this.scheduler.participant1BanUses = this.getMapHistory(resp.data, this.secondCompetitor.id, 'Ban');
                        }).catch(err => {
                            console.error(err);
                        });
                    /* tslint:enable */

                    Promise.all([call1, call2]).then(() => {
                        if (this.match.id) {
                            this.scheduler.matchScheduledAt = this.match.matchScheduledAt ? new Date(this.match.matchScheduledAt) : null;
                            this.scheduler.mapSelections = this.match.maps ?? [];
                        }
                        if (this.match.groupStage) {
                            this.scheduler.pointsForWin = 0;
                        } else {
                            this.scheduler.pointsForWin = this.roundsToVictoryPoints
                                .find(x => x.round === this.match.round)?.points ?? 0;
                        }
                        this.loadedMatchHistory = true;
                        this.manageLoading = false;
                        this.showModal();
                    });
                } else {
                    if (this.scheduler.showingModal) {
                        this.hideModal();
                    } else {
                        this.showModal();
                    }
                }
            },
            showModal() {
                this.scheduler.showingModal = true;
                this.$refs['show-schedule-modal-button'].click();
            },
            showForfeitModal() {
                this.shownForfeitModal = true;
                this.$refs['show-forfeit-modal-button'].click();
            },
            hideForfeitModal() {
                this.shownForfeitModal = false;
                this.$refs['close-forfeit-modal-button'].click();
            },
            showResetModal() {
                this.shownResetModal = true;
                this.$refs['show-reset-modal-button'].click();
            },
            hideModal() {
                this.scheduler.showingModal = false;
                this.$refs['close-modal-button'].click();
            },
            closeResetModal() {
                this.shownResetModal = false;
                this.$refs['close-reset-modal-button'].click();
            },
            getMapHistory(response, competitorId, selectionType) {
                if (!response.length) {
                    return {};
                }

                const allSelections = response.filter(x => x.id !== this.match.id && !x.groupStage).flatMap(x => x.maps);
                const selections = allSelections.filter(x => x.competitorId === competitorId &&
                    x.selectionType === selectionType);
                const selectionToCount = {};

                for (const selection of selections) {
                    if (!selectionToCount[selection.mapSlug]) {
                        selectionToCount[selection.mapSlug] = 0;
                    }

                    selectionToCount[selection.mapSlug]++;
                }

                return selectionToCount;
            },
            addMapSelection() {
                this.scheduler.mapSelections.push(new MapChoice({
                    selectionType: 'Pick',
                    state: 'Ready'
                }));
            },
            modifyMapPick(action, index) {
                switch (action) {
                    case 'DELETE':
                        ArrayHelpers.deleteElementByIndex(this.scheduler.mapSelections, index);
                        break;
                    case 'DOWN':
                        ArrayHelpers.moveElement(this.scheduler.mapSelections, index, index + 1);
                        break;
                    case 'UP':
                        ArrayHelpers.moveElement(this.scheduler.mapSelections, index, index - 1);
                        break;
                }
            },
            toggleShoutcasters() {
                this.showShoutcasterBox = !this.showShoutcasterBox;
            },
            toggleMatchAdmin() {
                this.showMatchAdminBox = !this.showMatchAdminBox;
            },
            updateMainCaster() {
                const discordId = this.match.cast.mainCaster.discordId;
                if (discordId) {
                    const casterInfo = this.possibleShoutcasters.find(x => x.discordUser.discordId === discordId);

                    this.match.cast.mainCaster.name = casterInfo.discordUser.name;
                    this.match.cast.mainCasterUrl = casterInfo.streamUrl;
                }
            },
            updateCocaster(cocaster) {
                const casterInfo = this.possibleShoutcasters.find(x => x.discordUser.discordId === cocaster.discordId);
                cocaster.name = casterInfo.discordUser.name;
            },
            saveShoutcasters() {
                const casterId = this.match.cast.mainCaster.discordId;
                const cocasterIds = this.match.cast.cocasters.map(x => x.discordId);
                this.$http
                    .patch(`${this.$apiDomain}/api/stages/${this.stageId}/matches/${this.match.id}/casters`, {
                        mainCastDiscordId: casterId,
                        mainCastStreamUrl: this.match.cast.mainCasterUrl,
                        cocastDiscordIds: cocasterIds
                    }, Utils.getDiscordHeader(this.cookies))
                    .then(() => {
                        this.showShoutcasterBox = false;

                        const mainCasterInfo = this.possibleShoutcasters.find(x => x.discordUser.discordId === casterId);
                        this.match.cast.mainCaster.name = mainCasterInfo.discordUser.name;
                        this.match.cast.cocasters = this.possibleShoutcasters
                            .filter(x => cocasterIds.includes(x.discordUser.discordId))
                            .map(x => x.discordUser);
                        this.$toastr.s('Shoutcasters saved!', 'Success');
                    })
                    .catch(err => {
                        console.error(err);
                        this.$toastr.e(`An error occurred while saving the matchup. (${err})`);
                    });
            },
            removeShoutcasters() {
                this.match.cast.mainCaster.discordId = null;
                this.match.cast.mainCasterUrl = null;
                this.match.cast.cocasters = [];
                this.saveShoutcasters();
            },
            saveMatchAdmin() {
                const adminDiscordId = this.match.matchAdmin.discordId;
                this.$http
                    .patch(`${this.$apiDomain}/api/stages/${this.stageId}/matches/${this.match.id}/admin`, {
                        matchAdminDiscordId: adminDiscordId
                    }, Utils.getDiscordHeader(this.cookies))
                    .then(() => {
                        this.showMatchAdminBox = false;
                        this.match.matchAdmin.name = this.possibleMatchAdmins
                            .find(x => x.discordId === adminDiscordId)
                            ?.name;
                        this.$toastr.s('Match admin saved!');
                    })
                    .catch(err => {
                        console.error(err);
                        this.$toastr.e(`An error occurred while saving the match admin. (${err})`);
                    });
            },
            removeMatchAdmin() {
                this.match.matchAdmin.discordId = null;
                this.match.matchAdmin.name = null;
                this.saveMatchAdmin();
            },
            postponeMatch() {
                this.match.state = 'Postponed';
                this.$http
                    .patch(`${this.$apiDomain}/api/stages/${this.stageId}/matches/${this.match.id}/state`, {
                        state: 'Postponed'
                    }, Utils.getDiscordHeader(this.cookies))
                    .then(() => {
                        this.$forceUpdate();
                        this.$toastr.s('Match has been postponed.', 'Success');
                    })
                    .catch(err => {
                        console.error(err);
                        this.match.state = 'Scheduled';
                        this.$toastr.e(`An error occurred while saving the matchup. (${err})`);
                    });
            },
            resetMatch() {
                this.$refs['reset-confirm-button'].disabled = true;
                this.$http
                    .delete(`${this.$apiDomain}/api/stages/${this.stageId}/matches/${this.match.id}`,
                        Utils.getDiscordHeader(this.cookies))
                    .then(() => {
                        this.$refs['reset-confirm-button'].disabled = false;
                        this.match.matchupTime = null;
                        this.loadedMatchHistory = false;
                        this.scheduler = Object.assign({}, this.emptyScheduler);
                        this.closeResetModal();
                        this.$forceUpdate();
                        this.$toastr.s('Match has been deleted.', 'Success');
                    })
                    .catch(err => {
                        this.$refs['reset-confirm-button'].disabled = false;
                        console.error(err);
                        this.$toastr.e(`An error occurred while deleting the matchup. (${err})`);
                    });
            },
            forfeitMatch() {
                this.$refs['forfeit-confirm-button'].disabled = true;
                this.$http.patch(`${this.$apiDomain}/api/stages/${this.stageId}/matches/${this.match.id}/forfeit`, {
                    forfeitPlayerIds: this.forfeitCompetitors
                }, Utils.getDiscordHeader(this.cookies)).then(() => {
                    this.$refs['forfeit-confirm-button'].disabled = false;
                    this.match.matchupTime = null;
                    this.match.state = 'Complete';
                    this.hideForfeitModal();
                    this.$forceUpdate();
                    this.$toastr.s('Forfeit has been processed.', 'Success');
                }).catch(err => {
                    this.$refs['forfeit-confirm-button'].disabled = false;
                    console.error(err);
                    this.$toastr.e(`An error occurred while processing the forfeit. (${err})`);
                });
            },
            saveMatchup() {
                let validationFailures = '';
                if (this.scheduler.matchScheduledAt === null) {
                    this.scheduler.validation.matchScheduledAt = true;
                    validationFailures += '  - A matchup time must be entered\n';
                }

                if (!this.match.groupStage && this.scheduler.pointsForWin < 1) {
                    validationFailures += '  - You must specify the number of points needed for victory\n';
                }

                if (validationFailures !== '') {
                    alert(`Please fix the following issues:\n${validationFailures}`);
                    return;
                }

                this.scheduler.matchup = this.match;

                const originalNumberOfAdditionalRandomMaps = this.automatedNumberOfAdditionalRandomMaps;
                for (let i = 0; i < originalNumberOfAdditionalRandomMaps; i++) {
                    this.scheduler.mapSelections.push({
                        competitorId: null,
                        selectionType: 'Random',
                        state: 'Ready'
                    });
                }

                if (this.match.groupStage) {
                    this.scheduler.pointsForWin = 0;
                }

                const jsonData = {
                    matchScheduledAt: this.scheduler.matchScheduledAt,
                    competitorIds: [
                        this.firstCompetitor.id,
                        this.secondCompetitor.id
                    ],
                    mapSelections: this.scheduler.mapSelections
                };
                this.$http
                    .put(`${this.$apiDomain}/api/stages/${this.stageId}/matches/${this.match.id}`,
                        jsonData, {
                        headers: {
                            'x-discord-token': `${this.cookies.get('discord-token-type')} ${this.cookies.get('discord-access-token')}`
                        }
                    })
                    .then(resp => {
                        this.match.matchupTime = this.scheduler.matchScheduledAt;
                        this.match.matchScheduledAt = this.match.matchupTime.toISOString();
                        this.match.state = 'Scheduled';
                        this.match.id = resp.data.id;

                        this.$toastr.s('Matchup saved!');

                        this.$forceUpdate();
                        this.toggleManage();
                    })
                    .catch(err => {
                        console.error(err);
                        this.$toastr.e(`An error occurred while saving the matchup. (${err})`);
                    });
            },
            getMapDropdownDisplay(map, mapUses) {
                if (this.match.groupStage) {
                    return `${map.location} (${map.name})`;
                }

                let numberOfUses = 0;
                if (map.hitmapsSlug in mapUses) {
                    numberOfUses = mapUses[map.hitmapsSlug];
                }
                return `Uses: ${numberOfUses} | ${map.location} (${map.name})`;
            },
            getNumberOfMapUses(mapUses, mapSlug) {
                const numberOfUses = mapUses[mapSlug];

                return numberOfUses === 1 ?
                    '1 other match' :
                    `${numberOfUses} other matches`;
            },
            getMapUses(mapSelection) {
                if (mapSelection.selectionType === 'Pick') {
                    return mapSelection.competitorId === this.firstCompetitor.id ?
                        this.scheduler.participant0MapUses :
                        this.scheduler.participant1MapUses;
                }

                return mapSelection.competitorId === this.firstCompetitor.id ?
                    this.scheduler.participant0BanUses :
                    this.scheduler.participant1BanUses;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .match {
        background: rgba(29, 40, 52, .8);
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #fff;

        .strikethrough {
            text-decoration: line-through;
        }

        .group {
            text-align: center;
            border: solid 1px #000;
        }

        .competitors {
            min-height: 300px;
            overflow: hidden;
            margin-left: 0;
            margin-right: 0;

            .competitor {
                display: flex;
                flex-direction: column;
                padding-left: 0;
                padding-right: 0;

                &.winner {
                    border: solid 6px gold;
                }

                p {
                    flex-grow: 1;
                    margin-bottom: 0;
                }

                .competitor-name {
                    background: rgba(0,0,0,.5);
                    color: white;
                    text-shadow: 2px 2px #000;
                    padding: 10px;
                }

                .score {
                    color: #fff;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    font-size: 4rem;
                }

                .date-time {
                    color: #fff;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }

                .not-scheduled {
                    color: #fff;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    font-size: 2rem;

                    &.top {
                        justify-content: flex-end;
                    }

                    &.bottom {
                        justify-content: flex-start;
                    }
                }
            }
        }

        .maps {
            text-align: center;
        }

        .manage {
            padding: 10px;

            .basic-info {
                .form-group {
                    label {
                        margin-right: 5px;
                    }
                }

                margin-bottom: 20px;
            }

            .map-selections {
                table {
                    color: #fff;

                    td, th {
                        color: #fff;
                        background: transparent;
                    }
                }

                button.arrow {
                    color: green;
                }
            }

            .map-use-warning {
                padding: 10px;
                background: rgba(255,255,255,.3);

                i {
                    font-size: 24px;
                }

                b {
                    font-family: 'nimbus_sans_lbold', 'Arial', sans-serif;
                }
            }

            .scheduled-time {
                display: flex;

                .mx-datepicker {
                    flex-grow: 1;
                }

                .timezone-name {
                    padding-left: 10px;
                }
            }
        }

        .dropdown-menu {
            border-radius: 0;
        }

        .action-button {
            border-radius: 0;

            &:not(:first-child) {
                margin-left: 3px;
            }

            &.dropdown {
                display: inline-block;
            }
        }
    }
</style>
