<template>
    <div
        class="modal game-modal fade"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
        v-bind="$attrs"
        :id="id"
    >
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        class="modal-title"
                        :id="id"
                        v-if="modalTitle"
                        v-html="modalTitle"></h5>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        v-if="dismissable">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-column">
                    <slot></slot>
                </div>
                <div class="modal-footer">
                    <slot name="modal-footer"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Modal as BootstrapModal } from 'bootstrap'

export default {
    name: 'Modal',
    props: {
        id: String,
        dismissable: Boolean,
        modalTitle: String
    },
    data() {
        return {
            modal: null
        }
    },
    mounted() {
        this.modal = new BootstrapModal(`#${this.id}`);
    },
    methods: {
        showModal() {
            this.modal.show();
        },
        hideModal() {
            this.modal.hide();
        }
    }
};
</script>

<style lang="scss" scoped>
.game-modal {
    color: #fff;

    .modal-content {
        background: transparent;
        border: none;

        .modal-header {
            font-family: 'nimbus_sans_lbold', sans-serif;
            text-transform: uppercase;
            border-bottom: none;
            border-radius: 0;

            background: #1d2834;
            color: #fff;

            h5 {
                font-size: 1.5rem;
            }
        }

        .modal-body {
            background: #1d2834;
        }

        .modal-footer {
            border-top: none;
            padding-left: 0;
            padding-right: 0;
            padding-top: 10px;
            display: block;

            > :not(:first-child) {
                margin: 0;
            }

            #enroll-button {
                margin-bottom: 10px;
            }

            .btn-block {
                border-radius: 0;
                text-transform: uppercase;
                background: #1d2834;
                color: #fff;
                font-family: 'nimbus_sans_lbold', sans-serif;
                text-align: left;
                font-size: 1.3rem;
                transition: none;
                width: 100%;

                img {
                    max-height: 32px;
                    max-width: 32px;
                    vertical-align: top;

                    &.normal {
                        display: inline-block;
                    }

                    &.inverted {
                        display: none;
                    }
                }

                &:hover {
                    background: #fb0111;
                    color: #fff;

                    img {
                        &.normal {
                            display: none;
                        }

                        &.inverted {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
</style>
