<template>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://media.hitmaps.com/img/hitmaps-custom/site/webp/logos/hitmaps-h.webp" alt="HITMAPS Tournaments Logo" width="30" height="30" class="d-inline-block align-text-top">
                HITMAPS&trade; Tournaments
            </a>
            <template v-if="!brandOnly">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" :href="`/events/${tournamentEvent.slug}`">Event Home</a>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name: 'PlayerManager' }" class="nav-link">
                                Participants
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" :href="`/events/${tournamentEvent.slug}/statistics`">Statistics</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex">
                        <li v-if="!userContext" class="nav-item">
                            <a class="nav-link" href="javascript:" @click="beginDiscordLogin">
                                Login with Discord
                            </a>
                        </li>
                        <template v-else>
                            <span class="navbar-text">Logged in as {{ userContext.name }}</span>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:" @click="$emit('logout')">
                                    <i class="fas fa-sign-out"></i>
                                    Logout
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </template>
        </div>
    </nav>
    <div v-if="!noSubheader" class="subheader" :style="`background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('${background}') no-repeat center center fixed; background-size: cover`">
        <div class="container">
            <img :src="Utils.getCdnFriendlyUrl(tournamentEvent.overlayLogoUrl)" alt="Event Logo">
            {{ tournamentEvent.name }}
        </div>
    </div>
</template>

<script>
import Utils from "@/components/Utils";
import {useCookies} from "vue3-cookies";

export default {
    name: 'NavHeader',
    setup() {
        const { cookies } = useCookies();
        return {
            cookies
        };
    },
    props: {
        tournamentEvent: {
            required: true
        },
        userContext: {
            required: false,
            default: null
        },
        brandOnly: {
            type: Boolean,
            required: false,
            default: false
        },
        noSubheader: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    computed: {
        Utils() {
            return Utils
        },
        background() {
            if (this.tournamentEvent?.overlayBackgroundUrl) {
                return this.tournamentEvent.overlayBackgroundUrl;
            }
            return 'https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg';
        }
    },
    methods: {
        beginDiscordLogin() {
            Utils.beginDiscordLogin(this.cookies, this.$domain);
        }
    }
}
</script>

<style lang="scss" scoped>
nav {

    .navbar-text {
        color: gray;
    }

    a {
        color: #fff;

        &:hover {
            color: #eee;
            cursor: pointer;
        }
    }
}

.subheader {
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    font-size: 2rem;

    img {
        max-height: 70px;
    }
}
</style>