<script>
import {defineComponent} from 'vue'
import Loader from "@/components/Loader.vue";
import Matchup from "@/components/Matchup.vue";
import Group from "@/components/Group.vue";
import Alert from "@/components/Alert.vue";
import GameIcon from "@/components/GameIcon.vue";
import Utils from "@/components/Utils";
import {useCookies} from "vue3-cookies";
import BracketEliminationStagePrep from "@/components/event/BracketEliminationStagePrep.vue";
import Bracket from "@/components/BracketManager/Bracket.vue";
import EliminationStage from "@/components/EliminationStage.vue";
import SwissStagePrep from "@/components/event/SwissStagePrep.vue";
import SwissStage from "@/components/swiss/SwissStage.vue";

export default defineComponent({
    name: "Stage",
    components: {
        SwissStage,
        SwissStagePrep,
        EliminationStage, Bracket, BracketEliminationStagePrep, GameIcon, Alert, Group, Matchup, Loader},
    setup() {
        const { cookies } = useCookies();
        return {
            cookies
        }
    },
    props: {
        eventSlug: String,
        bracket: Object,
        bracketData: Object,
        stage: Object,
        admin: Boolean,
        showFinishedMatches: Boolean,
        possibleShoutcasters: Array,
        possibleMatchAdmins: Array,
        filters: Object,
        userContext: Object|null
    },
    data() {
        return {
            groupStageMetadata: null,
            groupStageStandings: null,
            proceedButtonDisabled: false
        }
    },
    mounted() {
        this.fetchGroupStageMetadata();
    },
    methods: {
        isGroupStage() {
            return this.stage.type.includes('group-stage');
        },
        isBracketStage() {
            return ['single-elimination', 'double-elimination'].includes(this.stage.type)
        },
        isSwiss() {
            return this.stage.type === 'swiss';
        },
        fetchGroupStageMetadata() {
            if (!this.isGroupStage()) {
                return;
            }

            this.$http.get(`${this.$apiDomain}/api/group-stage/${this.stage.id}`)
                .then(resp => this.groupStageMetadata = resp.data)
                .catch(err => this.$toastr.e(`An error occurred when fetching group stage data (${err})`));
            this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}/group-stage/${this.stage.id}/standings`)
                .then(resp => this.groupStageStandings = resp.data);
        },
        proceedNextStage() {
            this.proceedButtonDisabled = true;
            this.$http.patch(`${this.$apiDomain}/api/stages/${this.stage.id}/finalize`, {}, Utils.getDiscordHeader(this.cookies))
                .then(_ => window.location.reload())
                .catch(err => {
                    this.proceedButtonDisabled = false;
                    this.$toastr.e(`An error occurred when finalizing the current stage (${err})`);
                });
        }
    }
})
</script>

<template>
    <div class="stage">
        <div class="waiting" v-if="stage.state === 'Waiting'">
            <div class="row">
                <div class="col-12 text-center">
                    <game-icon icon="clock" font-style="solid" />
                    <p>{{ stage.name }} is currently waiting for other stages to complete.</p>
                </div>
            </div>
        </div>
        <template v-else-if="stage.state === 'Pending'">
            <bracket-elimination-stage-prep v-if="['single-elimination', 'double-elimination'].includes(stage.type)"
                                            :stage="stage"
                                            :admin="admin" />
            <swiss-stage-prep v-if="stage.type === 'swiss'" :stage="stage" :admin="admin" />
        </template>
        <template v-else-if="isGroupStage()">
            <alert v-if="stage.allMatchesComplete && stage.state === 'Underway' && admin" type="info" :alert-heading="`${stage.name} Complete`">
                <p>{{ stage.name }} is complete.  Click the button below to prepare the next stage.</p>
                <p><b>Note:</b> You will confirm who advances when preparing the next stage.</p>
                <button :disabled="proceedButtonDisabled" class="btn btn-dark" @click="proceedNextStage">Proceed to Next Stage</button>
            </alert>
            <div class="match-header" v-if="groupStageMetadata !== null && groupStageStandings !== null" v-for="(group, index) in groupStageMetadata.groups">
                <group :group="group"
                       :group-number="group.groupId"
                       :event-slug="eventSlug"
                       :bracket-data="bracketData"
                       :stage="stage"
                       :bracket="bracket"
                       :user-context="userContext"
                       :possible-match-admins="possibleMatchAdmins"
                       :possible-shoutcasters="possibleShoutcasters"
                       :standings="groupStageStandings.find(x => x.groupId === group.groupId)"
                       :admin="admin"
                       :filters="filters" />
            </div>
            <loader v-else />
        </template>
        <template v-else-if="isBracketStage()">
            <elimination-stage :stage="stage"
                               :admin="admin"
                               :event-slug="eventSlug"
                               :bracket-data="bracketData"
                               :bracket="bracket"
                               :user-context="userContext"
                               :possible-shoutcasters="possibleShoutcasters"
                               :possible-match-admins="possibleMatchAdmins"
                               :filters="filters" />
        </template>
        <template v-else-if="isSwiss()">
            <alert v-if="stage.allMatchesComplete && stage.state === 'Underway' && admin" type="info" :alert-heading="`${stage.name} Complete`">
                <p>{{ stage.name }} is complete.  Click the button below to prepare the next stage.</p>
                <p><b>Note:</b> You will confirm who advances when preparing the next stage.</p>
                <button :disabled="proceedButtonDisabled" class="btn btn-dark" @click="proceedNextStage">Proceed to Next Stage</button>
            </alert>
            <swiss-stage :stage="stage"
                         :admin="admin"
                         :event-slug="eventSlug"
                         :bracket-data="bracketData"
                         :bracket="bracket"
                         :user-context="userContext"
                         :possible-shoutcasters="possibleShoutcasters"
                         :possible-match-admins="possibleMatchAdmins"
                         :filters="filters" />
        </template>
    </div>

</template>
<style scoped lang="scss">
.waiting {
    font-size: 2rem;

    p, i {
        color: #fff;
    }
}
</style>