<template>
    <span v-if="icon === 'obs'">
        <svg class="obs" xmlns="http://www.w3.org/2000/svg" focusable="false" width="1em" height="1em"
             style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
             preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path d="M12 24C5.383 24 0 18.617 0 12S5.383 0 12 0s12 5.383 12 12s-5.383 12-12 12zm0-22.891C5.995 1.109 1.11 5.995 1.11 12S5.995 22.89 12 22.89S22.89 18.005 22.89 12c0-6.005-4.885-10.891-10.89-10.891zM6.182 5.99c.352-1.698 1.503-3.229 3.05-3.996c-.269.273-.595.483-.844.78c-1.02 1.1-1.48 2.692-1.199 4.156c.355 2.235 2.455 4.06 4.732 4.028c1.765.079 3.485-.937 4.348-2.468c1.848.063 3.645 1.017 4.7 2.548c.54.799.962 1.736.991 2.711c-.342-1.295-1.202-2.446-2.375-3.095a4.892 4.892 0 0 0-3.772-.425c-1.56.448-2.849 1.723-3.293 3.293c-.377 1.25-.216 2.628.377 3.772c-.825 1.429-2.315 2.449-3.932 2.756c-1.244.261-2.551.059-3.709-.464c1.036.302 2.161.355 3.191-.011a4.913 4.913 0 0 0 3.024-2.935c.556-1.49.345-3.261-.591-4.54c-.7-1.007-1.803-1.717-3.002-1.969c-.38-.068-.764-.098-1.148-.134c-.611-1.231-.834-2.66-.528-3.996l-.02-.011z"/>
            <rect x="0" y="0" width="24" height="24" />
        </svg>
    </span>
    <span v-else-if="icon === 'twitch'">
        <svg class="twitch" xmlns="http://www.w3.org/2000/svg" focusable="false" width="1em" height="1em"
             style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
             preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
            <g>
                <path d="M3.857 0L1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429l-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
            </g>
            <rect x="0" y="0" width="16" height="16" />
        </svg>
    </span>
    <span v-else-if="icon === 'plus-or-minus'">
        <svg class="plus-or-minus" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="1em" height="1em"
             style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
             preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path d="M12 7.998H8v4H6v-4H2v-2h4v-4h2v4h4zm10 10h-8v-2h8zM18.5 4L4 18.5L5.5 20L20 5.5z" fill="#626262"/>
        </svg>
    </span>
    <span v-else-if="icon === 'challonge'">
        <svg class="challonge" viewBox="0 0 78 84" xmlns="http://www.w3.org/2000/svg">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="logo_challonge_dark" transform="translate(0.000000, 1.000000)" fill="white">
                    <g id="g3250" transform="translate(0.177760, 0.000000)">
                        <g id="g3254">
                            <path d="M75.496,17.625 C53.644,23.23 34.261,33.146 18.695,49.873 C22.621,54.124 27.111,55.428 32.439,56.423 C43.882,44.618 57.909,37.12 73.704,32.568 C77.585,31.448 75.627,21.115 75.496,17.625 L75.496,17.625 Z" id="path3256"></path>
                            <path d="M17.925,18.311 C1.571,27.753 -4.033,48.672 5.408,65.025 C10.283,73.468 18.218,79.046 27.002,81.166 C53.507,87.551 75.657,59.281 74.72,34.476 C59.661,38.948 46.573,46.268 35.865,57.025 C67.325,62.447 38.969,84.632 18.814,71.009 C4.357,61.237 2.67,42.902 10.885,29.184 C15.932,20.755 22.997,17.538 31.518,13.903 C26.866,14.379 22.236,15.821 17.925,18.311 L17.925,18.311 Z" id="path3258"></path>
                            <path d="M75.387,0 C46.351,8.964 14.974,17.076 13.165,35.94 C12.763,38.743 13.354,41.802 15.305,45.18 C15.93,46.261 16.568,47.228 17.222,48.099 C32.134,31.207 51.189,21.179 73.827,15.408 C77.742,14.41 75.519,3.489 75.387,-5.32907052e-15 L75.387,0 Z" id="path3260"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </span>
</template>

<script>
    export default {
        name: 'SvgFontIcon',
        props: {
            icon: String
        }
    };
</script>

<style lang="scss" scoped>
    svg {
        fill: transparent;

        path {
            fill: $content-text;
        }

        &.challonge {
            width: 32px;
            height: 32px;
        }
    }
</style>