<script>
import {defineComponent} from 'vue'

export default defineComponent({
    name: "SwissStandings",
    props: {
        standings: Object
    }
})
</script>

<template>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="row header">
                <div class="col">
                    Rank
                </div>
                <div class="col">
                    Name
                </div>
                <div class="col">
                    Points
                </div>
                <div class="col">
                    Bh
                </div>
                <div class="col">
                    Diff
                </div>
            </div>
            <div class="row" v-for="(participant, index) in standings.participants.slice(0, parseInt(standings.participants.length / 2))">
                <div class="col">
                    {{ index + 1 }}
                </div>
                <div class="col" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden" :title="participant.name">
                    {{ participant.name }}
                    <span class="badge text-bg-success" v-if="participant.advanced">Advanced</span>
                </div>
                <div class="col">
                    {{ participant.points }}
                </div>
                <div class="col">
                    {{ participant.buchholzScore.toFixed(1) }}
                </div>
                <div class="col">
                    {{ participant.pointsDifferential.toFixed(1) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="row header d-none d-lg-flex">
                <div class="col">
                    Rank
                </div>
                <div class="col">
                    Name
                </div>
                <div class="col">
                    Points
                </div>
                <div class="col">
                    Bh
                </div>
                <div class="col">
                    Diff
                </div>
            </div>
            <div class="row" v-for="(participant, index) in standings.participants.slice(parseInt(standings.participants.length / 2))">
                <div class="col">
                    {{ index + parseInt(standings.participants.length / 2) + 1 }}
                </div>
                <div class="col" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden" :title="participant.name">
                    {{ participant.name }}
                    <span class="badge text-bg-success" v-if="participant.advanced">Advanced</span>
                </div>
                <div class="col">
                    {{ participant.points }}
                </div>
                <div class="col">
                    {{ participant.buchholzScore.toFixed(1) }}
                </div>
                <div class="col">
                    {{ participant.pointsDifferential.toFixed(1) }}
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.row {
    color: #fff;

    &.header {
        font-weight: bolder;
    }

    &:nth-child(odd) {
        .col {
            background: rgba(200, 200, 200, .1);
        }
    }

    @media (min-width: 992px) {
        .col-lg-6:first-child {
            padding-right: 20px;
        }

        .col-lg-6:last-child {
            padding-left: 20px;
        }
    }
}
</style>