<template>
    <div class="tournament container-fluid">
        <div class="tournament-info" v-if="bracket && bracketData">
            <div class="filters">
                <div class="row row-cols-lg-auto g-3">
                    <div class="col-12">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="1" id="includeUnscheduledCheck" v-model="filters.includeUnscheduledMatches">
                            <label class="form-check-label" for="includeUnscheduledCheck">
                                Include Unscheduled Matches
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="1" id="includeScheduledCheck" v-model="filters.includeScheduledMatches">
                            <label class="form-check-label" for="includeScheduledCheck">
                                Include Scheduled Matches
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="1" id="includeCompletedCheck" v-model="filters.includeCompletedMatches">
                            <label class="form-check-label" for="includeCompletedCheck">
                                Include Completed Matches
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills mb-3" id="stages-tab" role="tablist" v-if="bracketData.stages.length > 1">
                <li class="nav-item" role="presentation" v-for="(stage, index) in bracketData.stages">
                    <a class="nav-link" :class="showStageByDefault(stage) ? 'active': ''" data-toggle="pill"
                       :href="`#stage-${stage.type}`" role="tab"
                       :aria-controls="`stage-${stage.type}`">
                        {{ stage.name }}
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <template v-for="(stage, index) in bracketData.stages">
                    <div class="tab-pane fade" :class="showStageByDefault(stage) ? 'show active' : ''"
                         :id="`stage-${stage.type}`" role="tabpanel">
                        <stage :stage="stage"
                               :bracket="bracket"
                               :event-slug="eventSlug"
                               :bracket-data="bracketData"
                               :admin="admin"
                               :filters="filters"
                               :user-context="userContext"
                               :possible-match-admins="possibleMatchAdmins"
                               :possible-shoutcasters="possibleShoutcasters"/>
                    </div>
                </template>
            </div>
<!--            <template v-if="challongeBracket.bracket.state !== 10">
                <template v-for="roundNumber in getSortedRoundNumbers()">
                    <div class="match-header">
                        <div class="row">
                            <div class="col-12">
                                <div class="round-header">{{ getRoundHeader(roundNumber) }}</div>
                            </div>
                        </div>
                    </div>
                    <matchup v-for="match in getMatchesForRound(roundNumber)"
                             :key="match.challongeData.id"
                             :rounds-to-victory-points="bracket.pointsForVictory"
                             :event-slug="eventSlug"
                             :match="match"
                             :maps="bracket.maps"
                             :competitors="bracketData.competitors"
                             :tournament-name="bracket.challongeName"
                             :bracket-id="bracket.id"
                             :all-maps="bracket.maps"
                             :possible-shoutcasters="possibleShoutcasters"
                             :possible-match-admins="possibleMatchAdmins"
                             :admin="admin" />
                </template>
            </template>
            <template v-else>
                <template v-for="group in getSortedGroupIdsAndNames()">
                    <div class="match-header">
                        <div class="row">
                            <div class="col-12">
                                <div class="round-header">Group {{ group.letter }}</div>
                            </div>
                        </div>
                    </div>
                    <matchup v-for="match in getMatchesForGroupId(group.id)"
                             :key="match.challongeData.id"
                             :rounds-to-victory-points="bracket.pointsForVictory"
                             :event-slug="eventSlug"
                             :match="match"
                             :maps="bracket.maps"
                             :competitors="bracketData.competitors"
                             :tournament-name="bracket.challongeName"
                             :bracket-id="bracket.id"
                             :all-maps="bracket.maps"
                             :possible-shoutcasters="possibleShoutcasters"
                             :possible-match-admins="possibleMatchAdmins"
                             :admin="admin" />
                </template>
            </template>-->
        </div>
        <loader v-else/>
    </div>
</template>

<script>
    import Matchup from './Matchup.vue';
    import Loader from '@/components/Loader.vue';
    import PlatformIcon from "@/components/PlatformIcon.vue";
    import Stage from "@/components/Stage.vue";

    export default {
        name: 'Tournament',
        components: {Stage, PlatformIcon, Loader, Matchup},
        props: {
            eventSlug: '',
            background: '',
            bracket: Object,
            admin: Boolean,
            showFinishedMatches: Boolean,
            possibleShoutcasters: Array,
            possibleMatchAdmins: Array,
            userContext: Object|null
        },
        data() {
            return {
                bracketData: null,
                filters: {
                    includeCompletedMatches: false,
                    includeUnscheduledMatches: true,
                    includeScheduledMatches: true
                }
            };
        },
        mounted() {
            this.$http.get(`${this.$apiDomain}/api/brackets/${this.bracket.id}`).then(resp => {
                this.bracketData = resp.data;
            });
        },
        methods: {
            showStageByDefault(stage) {
                const finalStage = this.bracketData.stages[this.bracketData.stages - 1];
                return ['Underway','Pending'].includes(stage.state) || (stage.state === 'Completed' && finalStage.id === stage.id);
            }
        }
    };
</script>

<style lang="scss" scoped>
    .tournament {
        padding: 10px;
        background: rgba(29, 40, 52, .8);

        .filters {
            color: white;
            display: flex;
            justify-content: flex-end;

            .form-check + .form-check {
                margin-left: 10px;
            }
        }

        .nav-item:not(:first-child) {
            margin-left: 5px;
        }

        .nav-link {
            background: #1d2834;
            color: #fff;
            fill: #fff;
            border-radius: 0;
            text-transform: uppercase;
            text-align: center;

            &.active {
                background: #fb0111;
            }
        }
    }
</style>
