<template>
    <div class="row">
        <div class="col">
            <h2>{{ headerInfo.heading }}</h2>
            <p>{{ headerInfo.description }}</p>
            <loader v-if="mapSelections === null" />
            <p v-else-if="mapSelections === undefined">
                An error occurred when fetching map information.
            </p>
            <div class="bar-chart" v-else>
                <line-chart :data="chartData" :options="chartOptions" />
            </div>
            <p><i>If a map is not listed, then it has not been chosen.</i></p>
        </div>
    </div>
</template>

<script>
import HeaderInfo from "./HeaderInfo.ts";
import LineChart from '../charts/LineChart.vue';
import Loader from "../Loader.vue";
import MapColor from "./MapColor.ts";

export default {
    name: "MapSelections",
    components: {Loader, LineChart },
    props: {
        eventSlug: String,
        statKey: String
    },
    data() {
        return {
            mapSelections: null
        }
    },
    computed: {
        headerInfo() {
            switch (this.statKey) {
                case 'MapPicks':
                    return new HeaderInfo(
                        'Map Pick Frequency',
                        'The number of times a map has been chosen throughout the tournament across all platforms, on a day-to-day basis.'
                    );
                case 'MapBans':
                    return new HeaderInfo(
                        'Map Ban Frequency',
                        'The number of times a map has been banned throughout the tournament across all platforms, on a day-to-day basis.');
                default:
                    return HeaderInfo.UNKNOWN;
            }
        },
        chartOptions() {
            return {
                responsive: true
            };
        },
        chartData() {
            const formattedDataSets = {};
            const distinctMaps = [...new Set(this.mapSelections.flatMap(x => x.mapCount.map(y => y.mapName)))];
            for (const map of distinctMaps) {
                formattedDataSets[map] = {
                    label: map,
                    data: [],
                    fill: false,
                    backgroundColor: MapColor.getColorForMission(map),
                    borderColor: MapColor.getColorForMission(map),
                    lineTension: 0.1
                };
            }

            const labels = [];
            for (const dateWithSelections of this.mapSelections) {
                labels.push(dateWithSelections.date);
                for (const mapSelection of dateWithSelections.mapCount) {
                    let prevCount = 0;
                    let dataSetForMap = formattedDataSets[mapSelection.mapName];
                    if (dataSetForMap.data.length > 0) {
                        prevCount = dataSetForMap.data[dataSetForMap.data.length - 1];
                    }

                    dataSetForMap.data.push(prevCount + mapSelection.count);
                }
            }

            // Remove all 0 maps
            for (const map of distinctMaps) {
                if (formattedDataSets[map].data[formattedDataSets[map].data.length - 1] === 0) {
                    delete formattedDataSets[map];
                }
            }

            return {
                labels: labels,
                datasets: Object.values(formattedDataSets)
            };
        }
    },
    mounted() {
        this.$http.get(`${this.$apiDomain}/api/events/${encodeURIComponent(this.eventSlug)}/statistics?statsKey=${this.statKey}`)
            .then(resp => {
                this.mapSelections = resp.data;
            }).catch(err => {
                console.error(err);
                this.mapSelections = undefined;
            });
    }
}
</script>

<style scoped>

</style>