<template>
    <div class="row">
        <div class="col">
            <h2>Match Admin Frequency</h2>
            <loader v-if="matchAdminInfo === null" />
            <p v-else-if="matchAdminInfo === undefined">
                An error occurred when fetching match admin information.
            </p>
            <bar-chart :data="chartData" :options="stackBarChartOptions" />
            <p v-if="matchAdminInfo.some(x => x.name === '[REDACTED]')"><code>[REDACTED]</code> means that the member is no longer in the related server.</p>
        </div>
    </div>
</template>

<script>
import Loader from "../Loader.vue";
import BarChart from "../charts/BarChart.vue";
export default {
    name: "MatchAdminFrequency",
    components: {BarChart, Loader},
    props: {
        eventSlug: String
    },
    computed: {
        stackBarChartOptions() {
            return {
                responsive: true,
                scales: {
                    x: {
                        stacked: true
                    },
                    y: {
                        stacked: true
                    }
                }
            };
        },
        chartData() {
            const labels = this.matchAdminInfo.map(x => x.name);

            return {
                labels,
                datasets: [
                    {
                        label: 'Matches',
                        backgroundColor: '#000',
                        data: this.matchAdminInfo.map(x => x.matchCount)
                    }
                ]
            };
        }
    },
    data() {
        return {
            matchAdminInfo: []
        }
    },
    mounted() {
        this.$http.get(`${this.$apiDomain}/api/events/${encodeURIComponent(this.eventSlug)}/statistics?statsKey=MatchAdmins`)
            .then(resp => {
                this.matchAdminInfo = resp.data;
            }).catch(err => {
            console.error(err);
            this.matchAdminInfo = undefined;
        });
    }
}
</script>

<style scoped>

</style>