<template>
    <div class="row">
        <div class="col">
            <h2>Random Map Frequency</h2>
            <p>The number of times a specific map was selected as a random map by HITMAPS&trade; Tournaments.</p>
            <loader v-if="mapSelections === null" />
            <p v-else-if="mapSelections === undefined">
                An error occurred when fetching map information.
            </p>
            <div class="bar-chart" v-else>
                <bar-chart :data="chartData" :options="chartOptions" />
            </div>
            <p>Some additional information about random maps:</p>
            <ul>
                <li>Random maps are <b>always</b> selected whenever a match is scheduled.</li>
                <li>
                    Random maps are selected by taking the available map pool, removing players'
                    picks and bans, and then choosing one at random via C#'s
                    <a href="https://learn.microsoft.com/en-us/dotnet/api/system.random?view=net-7.0" target="_blank">Random</a>
                    class.
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import BarChart from '../charts/BarChart.vue';
import Loader from "../Loader.vue";
export default {
    name: "RandomMapCount",
    components: {Loader, BarChart },
    props: {
        eventSlug: ''
    },
    data() {
        return {
            mapSelections: null
        }
    },
    computed: {
        chartOptions() {
            return {
                responsive: true
            };
        },
        chartData() {
            const labels = this.mapSelections.map(x => x.mapName);

            return {
                labels,
                datasets: [
                    {
                        label: 'Random Map Counts',
                        backgroundColor: '#000',
                        data: this.mapSelections.map(x => x.count)
                    }
                ]
            };
        }
    },
    mounted() {
        this.$http.get(`${this.$apiDomain}/api/events/${encodeURIComponent(this.eventSlug)}/statistics?statsKey=RandomMaps`)
            .then(resp => {
                this.mapSelections = resp.data;
            }).catch(err => {
            console.error(err);
            this.mapSelections = undefined;
        });
    }
}
</script>

<style scoped>

</style>