<template>
    <div>
        <div class="row">
            <div class="col">
                <h2>Matches Shoutcasted</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <loader v-if="shoutcastInfo === null" />
                <p v-else-if="shoutcastInfo === undefined">
                    An error occurred when fetching shoutcaster information.
                </p>
                <bar-chart :data="chartData" :options="stackBarChartOptions" />
                <p v-if="shoutcastInfo.some(x => x.name === '[REDACTED]')"><code>[REDACTED]</code> means that the member is no longer in the related server.</p>
            </div>
        </div>
    </div>
</template>

<script>
import Loader from "../Loader.vue";
import BarChart from "../charts/BarChart.vue";
export default {
    name: "ShoutcastFrequency",
    components: {BarChart, Loader},
    props: {
        eventSlug: String
    },
    computed: {
        stackBarChartOptions() {
            return {
                responsive: true,
                scales: {
                    x: {
                        stacked: true
                    },
                    y: {
                        stacked: true
                    }
                }
            };
        },
        chartData() {
            const labels = this.shoutcastInfo.map(x => x.name);

            return {
                labels,
                datasets: [
                    {
                        label: 'Matches as Main Caster',
                        backgroundColor: '#f00',
                        data: this.shoutcastInfo.map(x => x.mainCastCount)
                    },
                    {
                        label: 'Matches as Co-Caster',
                        backgroundColor: 'purple',
                        data: this.shoutcastInfo.map(x => x.cocastCount)
                    }
                ]
            };
        }
    },
    data() {
        return {
            shoutcastInfo: []
        }
    },
    mounted() {
        this.$http.get(`${this.$apiDomain}/api/events/${encodeURIComponent(this.eventSlug)}/statistics?statsKey=Shoutcasters`)
            .then(resp => {
                this.shoutcastInfo = resp.data;
            }).catch(err => {
            console.error(err);
            this.shoutcastInfo = undefined;
        });
    }
}
</script>

<style scoped>

</style>