<template>
    <!-- 3703 -->
    <div v-if="tournamentEvent" class="wrapper" :style="'background: url(https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg) no-repeat center center fixed; background-size: cover'">
        <div class="content">
            <nav-header :tournament-event="tournamentEvent" :user-context="userContext" @logout="logout" />
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <section class="map-agenda">
                            <map-agenda :competitors="competitors" :map-selections="mapSelections" :points-for-victory="pointsForVictory" />
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <match-status :match-id="matchId"
                                      :competitors="competitors"
                                      :map-selections="mapSelections"
                                      :current-map="currentMapSelection"
                                      :timer-delta="timerDelta"
                                      :timer="spinData.timer"
                                      :match-complete="matchComplete"
                                      :event-slug="eventSlug"
                                      :match-hub="matchHub"
                                      :lock-hub-actions="lockHubActions"
                                      ref="matchStatus"
                                      @process-completion="processCompletion"
                                      @remove-last-result="removeLastResult"
                                      @finalize-match="finalizeMatch" />
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12" v-if="!matchComplete">
                        <section class="round-data">
                            <roulette-spin v-if="currentMapSelection?.roundType === 'roulette-rivals'"
                                           ref="rouletteSpin"
                                           :competitors="competitors"
                                           :map-selection="currentMapSelection"
                                           :disable-objectives="disableObjectives"
                                           :objectives="objectives"
                                           :lock-hub-actions="lockHubActions"
                                           @update-objectives="updateObjectives"
                                           @clear-objectives="updateObjectives"
                            />
                            <alert type="danger" v-else>Unknown round type {{ currentMapSelection?.roundType }}</alert>
                            <utility-buttons
                                :lock-hub-actions="lockHubActions"
                                @clear-spin="clearSpin"
                                @send-spin="sendSpin"
                                @regenerate="regenerateSpin"
                                @match-duration="setMatchDuration"
                                @stream-overlay-button-clicked="copyStreamOverlayUrl"
                                @match-time="setMatchTime" />
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .wrapper {
        min-height: 100vh;
    }

    :deep(.utilities) {
        margin-top: 10px;
    }
</style>

<script>
    import Event from '@/components/Event.ts';
    import UserContext from '@/components/UserContext.ts';
    import {useCookies} from "vue3-cookies";
    import NavHeader from "@/components/NavHeader.vue";
    import MatchHub from "@/components/MatchHub";
    import MatchStatus from "@/components/MatchAdmin/MatchStatus.vue";
    import mapSelections from "@/components/statistics/MapSelections.vue";
    import Competitor from "@/components/MatchAdmin/Competitor";
    import RouletteSpin from "@/components/MatchAdmin/Roulette/RouletteSpin.vue";
    import Alert from "@/components/Alert.vue";
    import MapAgenda from "@/components/MatchAdmin/MapAgenda.vue";
    import UtilityButtons from "@/components/MatchAdmin/UtilityButtons.vue";
    import SpinData from "@/components/SpinData";
    import Timer from "@/components/Timer";
    import Utils from "@/components/Utils";

    export default {
        name: 'MatchHome',
        setup() {
            const { cookies } = useCookies();
            return {
                cookies
            }
        },
        components: {
            UtilityButtons,
            MapAgenda,
            Alert,
            RouletteSpin,
            MatchStatus,
            NavHeader
        },
        props: {
            eventSlug: String,
            matchId: Number
        },
        data() {
            return {
                lockHubActions: false,
                userContext: null,
                tournamentEvent: null,
                matchHub: null,
                competitors: [],
                mapSelections: [],
                timerDelta: null,
                previousTimerFingerprint: null,
                spinData: new SpinData(),
                disableObjectives: false,
                objectives: [
                    [false, false],
                    [false, false],
                    [false, false],
                    [false, false],
                    [false, false]
                ],
                pointsForVictory: Number.MAX_SAFE_INTEGER
            };
        },
        watch: {
            currentMapSelection(newMap, oldMap) {
                if (!this.$refs.rouletteSpin || newMap?.id === oldMap.id) {
                    return;
                }

                if (newMap) {
                    this.$nextTick(() => {
                        this.$refs.rouletteSpin.spin();
                    });
                }

            }
        },
        computed: {
            currentMapSelection() {
                for (let map of this.mapSelections) {
                    if (map.state === 'Ready') {
                        return map;
                    }
                }

                return null;
            },
            matchComplete() {
                const competitorOneWins = this.mapSelections.filter(x => x.winnerId === this.competitors[0].id && x.state === 'Complete').length;
                const competitorTwoWins = this.mapSelections.filter(x => x.winnerId === this.competitors[1].id && x.state === 'Complete').length;
                const competitorDraws = this.mapSelections.filter(x => x.winnerId === null && x.state === 'Complete').length;

                const competitorOneScore = competitorOneWins * 2 + competitorDraws;
                const competitorTwoScore = competitorTwoWins * 2 + competitorDraws;

                return !this.mapSelections.some(x => x.state !== 'Complete' && x.state !== 'Ban') ||
                    this.competitors.some(x => x.forfeit) ||
                    competitorOneScore >= this.pointsForVictory ||
                    competitorTwoScore >= this.pointsForVictory;
            }
        },
        methods: {
            //region Header
            logout() {
                this.userContext = null;
                this.cookies.remove('discord-token-type');
                this.cookies.remove('discord-access-token');
            },
            processCookies() {
                if (!this.cookies.isKey('discord-token-type') || !this.cookies.isKey('discord-access-token')) {
                    return Promise.resolve();
                }

                this.fetchingDiscordInfo = true;
                return this.$http.get(`${this.$apiDomain}/api/events/${this.eventSlug}/@me`, {
                    headers: {
                        'x-discord-token': `${this.cookies.get('discord-token-type')} ${this.cookies.get('discord-access-token')}`
                    }
                }).then(resp => {
                    this.userContext = new UserContext(resp.data);
                    this.fetchingDiscordInfo = false;
                }).catch(err => {
                    alert(err);
                    this.fetchingDiscordInfo = false;
                });
            },
            //endregion
            setupWebsocketsConnection() {
                this.matchHub = new MatchHub(this.$apiDomain);
                this.matchHub.start();
                this.matchHub.adminMatchInfo(this.matchId)
                    .then(this.handleMatchInfoResponse)
                    .catch(console.error);
                this.matchHub.loadObjectives(this.matchId)
                    .then(this.loadObjectives)
                    .catch(console.error);
                this.listenToEvents();
                this.matchHub.onReconnected(_ => {
                    // Disconnect from everything to have a clean slate
                    this.matchHub.adminLeaveMatch(this.matchId);
                    this.matchHub.leaveMatch(this.matchId);
                    this.matchHub.adminLeaveMessageAck(this.matchId);
                    this.matchHub.off('MatchUpdate');
                    this.matchHub.off('HeartbeatUpdate');
                    this.matchHub.off('MessageAcknowledged');
                    this.matchHub.off('ObjectiveUpdate');

                    // And now let's reconnect
                    this.listenToEvents();
                })
            },
            handleMatchInfoResponse(resp) {
                this.competitors = resp.competitors.map(competitor => new Competitor(competitor));
                this.mapSelections = resp.mapSelections;

                this.spinData.timer = resp.timer.fingerprint !== this.previousTimerFingerprint ?
                    new Timer(resp.timer) :
                    this.spinData.timer;
                if (resp.timer.fingerprint !== this.previousTimerFingerprint) {
                    this.timerDelta = new Date(this.spinData.timer.serverTime).getTime() - new Date().getTime();
                    this.$nextTick(() => this.$refs.matchStatus?.updateTimer());
                }
                this.previousTimerFingerprint = resp.timer.fingerprint;

                if (resp.stageType === 'swiss') {
                    this.pointsForVictory = resp.pointsForVictory ? resp.pointsForVictory + 1 : Number.MAX_SAFE_INTEGER;
                } else {
                    this.pointsForVictory = resp.pointsForVictory ?? Number.MAX_SAFE_INTEGER;
                }
            },
            getDiscordToken() {
                return `${this.cookies.get('discord-token-type')} ${this.cookies.get('discord-access-token')}`;
            },
            listenToEvents() {
                this.matchHub.adminJoinMatch(this.matchId);
                this.matchHub.joinMatch(this.matchId);
                this.matchHub.adminJoinMessageAck(this.matchId, this.getDiscordToken());
                this.matchHub.on('MatchUpdate', this.handleMatchInfoResponse);
                this.matchHub.on('HeartbeatUpdate', player => {
                    this.competitors.find(x => x.id === player.competitorId).lastPing = player.lastPing;
                });
                this.matchHub.on('MessageAcknowledged', args => this.$refs.matchStatus.updateMessageAckStatus(args));
                this.matchHub.on('ObjectiveUpdate', this.loadObjectives);
            },
            clearSpin() {
                this.lockHubActions = true;
                this.matchHub.adminClearSpin(this.matchId, this.getDiscordToken())
                    .then(_ => this.lockHubActions = false)
                    .catch(_ => this.lockHubActions = false);
            },
            regenerateSpin() {
                this.lockHubActions = true;
                this.$refs.rouletteSpin.spin()
                    .then(_ => this.lockHubActions = false)
                    .catch(_ => this.lockHubActions = false);
            },
            getTimeAtZeroSeconds(time) {
                time.setUTCSeconds(0, 0);
                time.setUTCMinutes(time.getUTCMinutes());

                return time;
            },
            sendSpin() {
                const payload = {
                    startTime: this.getTimeAtZeroSeconds(this.spinData.matchTime).toISOString(),
                    currentMapSelectionId: this.currentMapSelection.id,
                    roundDuration: this.spinData.matchDuration === -1 ? null : this.spinData.matchDuration,
                    roundPayload: JSON.stringify(this.getRoundPayload())
                }
                this.lockHubActions = true;
                this.matchHub.adminSendSpin(this.matchId, this.getDiscordToken(), payload)
                    .then(_ => {
                        this.$toastr.s('Round sent successfully!');
                        this.lockHubActions = false;
                    }).catch(_ => this.lockHubActions = false);
            },
            getRoundPayload() {
                switch (this.currentMapSelection.roundType) {
                    case 'roulette-rivals':
                        return this.$refs.rouletteSpin.getRoundPayload();
                    default:
                        console.error(`Could not support roundType: ${this.currentMapSelection.roundType}`);
                }
            },
            setMatchDuration(matchDuration) {
                this.spinData.matchDuration = parseInt(matchDuration);
            },
            setMatchTime(matchTime) {
                this.spinData.matchTime = matchTime;
            },
            processCompletion({ playerIndex, state }) {
                const payload = {
                    mapSelectionId: this.currentMapSelection.id,
                    competitorId: state === 'Draw' ? null : this.competitors[playerIndex].id,
                    verifyResult: state
                };
                this.lockHubActions = true;
                this.matchHub.adminProcessCompletion(this.matchId, this.getDiscordToken(), payload)
                    .then(_ => this.lockHubActions = false)
                    .catch(_ => this.lockHubActions = false);
            },
            removeLastResult() {
                const mapsCompleted = this.mapSelections
                    .filter(x => x.state === 'Complete')
                    .map(x => x.id);
                this.lockHubActions = true;
                this.matchHub.adminRemoveLastResult(this.matchId, this.getDiscordToken(), mapsCompleted[mapsCompleted.length - 1])
                    .then(_ => this.lockHubActions = false)
                    .catch(_ => this.lockHubActions = false);
            },
            updateObjectives(indexToClear) {
                this.disableObjectives = true;

                if (indexToClear !== undefined) {
                    for (let i = 0; i < 5; i++) {
                        this.objectives[i][indexToClear] = false;
                    }
                }

                const transformedObjectives = [];
                let index = 0;
                for (const target of this.objectives) {
                    for (let i = 0; i < 2; i++) {
                        transformedObjectives.push({
                            objectiveIndex: index,
                            competitorIndex: i,
                            completed: target[i]
                        });
                    }
                    index++;
                }
                this.lockHubActions = true;
                this.matchHub.adminUpdateObjectives(this.matchId, this.getDiscordToken(), transformedObjectives)
                    .then(_ => {
                        this.disableObjectives = false;
                        this.lockHubActions = false;
                    })
                    .catch(_ => {
                        this.$toastr.e('Failed to update objectives');
                        this.disableObjectives = false;
                        this.lockHubActions = false;
                    });
            },
            loadObjectives(resp) {
                const objectives = [
                    [false, false],
                    [false, false],
                    [false, false],
                    [false, false],
                    [false, false]
                ];
                for (const objective of resp.objectives) {
                    objectives[objective.objectiveIndex][objective.competitorIndex] = objective.completed;
                }
                this.objectives = objectives;
            },
            finalizeMatch() {
                this.lockHubActions = true;
                this.matchHub.adminFinalizeMatch(this.matchId, this.getDiscordToken())
                    .then(_ => {
                        this.$toastr.s('Match complete!');
                        this.lockHubActions = false;
                    }).catch(_ => this.lockHubActions = false);
            },
            copyStreamOverlayUrl() {
                Utils.copyToClipboard(`${this.$domain}/events/${this.eventSlug}/match-overlay/${this.matchId}`)
                    .then(() => this.$toastr.s('Copied shoutcast overlay to clipboard'));
            }
        },
        mounted() {
            const userContextPromise = this.processCookies();
            userContextPromise.then(_ => {
                if (this.userContext === null) {
                    Utils.beginDiscordLogin(this.cookies, this.$domain)
                }
            });
            const eventPromise = this.$http
                .get(this.$apiDomain + '/api/events/' + this.eventSlug)
                .then(resp => {
                    this.tournamentEvent = new Event(resp.data.event);
                    this.tournamentEvent.adminRoles = resp.data.adminRoles;
                });
            Promise.all([userContextPromise, eventPromise]).then(_ => {
                if (this.userContext && this.userContext.serverRoles.some(x => this.tournamentEvent.adminRoles.includes(x))) {
                    this.setupWebsocketsConnection();
                } else {
                    alert('Security! You need to deal with this guy right away!');
                }
            })
        }
    };
</script>
