<script>
import {defineComponent} from 'vue'
import GameIcon from "@/components/GameIcon.vue";

export default defineComponent({
    name: "RouletteSpinObjective",
    components: {GameIcon},
    props: {
        lockHubActions: {
            type: Boolean,
            required: false,
            default: false
        },
        spinResult: Object,
        index: Number,
        requireDisguise: Boolean,
        displayObjectivesTracker: Boolean,
        objectives: Object,
        disableObjectives: Boolean,
        competitors: Array,
        readOnly: {
            type: Boolean,
            required: false,
            default: false
        }
    }
})
</script>

<template>
    <div class="objective">
        <div class="hitman-card">
            <div class="target-info-image d-none d-md-flex" :style="{ background: `url(${spinResult.target.tileUrl}) center center / cover no-repeat` }">
                <div class="image">
                    <game-icon v-if="spinResult.type === 'KILL'" icon="target" font-style="solid" style="color: white" />
                    <game-icon v-else-if="spinResult.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: white" />
                </div>
                <div class="text">
                    <h2 v-if="spinResult.type === 'KILL'">Target</h2>
                    <h2 v-else-if="spinResult.type === 'OBJECTIVE'">Objective</h2>
                    <h1>{{ spinResult.target.name }}</h1>
                </div>
            </div>
            <div class="spin-conditions">
                <div class="white-panel target-info d-flex d-md-none">
                    <div class="image">
                        <game-icon v-if="spinResult.type === 'KILL'" icon="target" font-style="solid" />
                        <game-icon v-else-if="spinResult.type === 'OBJECTIVE'" icon="objective" font-style="solid" />
                    </div>
                    <div class="text">
                        <h2 v-if="spinResult.type === 'KILL'">Target</h2>
                        <h2 v-else-if="spinResult.type === 'OBJECTIVE'">Objective</h2>
                        <h1>{{ spinResult.target.name }}</h1>
                    </div>
                </div>
                <div class="white-panel kill-method">
                    <div class="image">
                        <game-icon v-if="spinResult.type === 'KILL'" icon="difficulty-casual" font-style="solid" style="color: white" />
                        <game-icon v-else-if="spinResult.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: white" />
                    </div>
                    <div class="text">
                        <h2 v-if="spinResult.type === 'KILL'">Eliminate Using</h2>
                        <h1>
                            <template v-if="spinResult.type === 'KILL' &&
                                            spinResult.killMethod.selectedVariant">
                                {{ spinResult.killMethod.selectedVariant }}
                            </template>
                            {{ spinResult.killMethod.name }}
                        </h1>
                    </div>
                    <div class="tile d-none d-sm-block">
                        <img :src="spinResult.killMethod.tileUrl" class="img-fluid" alt="">
                    </div>
                    <div class="respin" v-if="spinResult.killMethod.tileUrl && !readOnly">
                        <a href="javascript:" :class="{ 'disabled': lockHubActions }" @click="$emit('respin-specific-condition', { spinResult: spinResult, objectiveType: spinResult.type })">
                            <game-icon icon="reset" font-style="solid" style="font-size: 24px" />
                        </a>
                    </div>
                </div>
                <div class="white-panel disguise" :class="!requireDisguise ? 'any-disguise' : ''">
                    <div class="image">
                        <game-icon icon="disguise" font-style="solid" style="color: white" />
                    </div>
                    <div class="text">
                        <h2>Wear Disguise</h2>
                        <h1 v-if="requireDisguise && spinResult.disguise">{{ spinResult.disguise.name }}</h1>
                        <h1 v-else>Any Disguise</h1>
                    </div>
                    <div class="tile d-none d-sm-block">
                        <img v-if="requireDisguise && spinResult.disguise" :src="spinResult.disguise.tileUrl" class="img-fluid" alt="">
                        <img v-else src="https://media.hitmaps.com/img/hitman3/ui/tiles/any_disguise.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="respin" v-if="spinResult.disguise.tileUrl && !readOnly">
                        <a href="javascript:" @click="$emit('respin-specific-condition', { spinResult: spinResult, objectiveType: 'DISGUISE' })" :style="requireDisguise && spinResult.disguise ? 'visibility: visible' : 'visibility: hidden'">
                            <game-icon icon="reset" font-style="solid" style="font-size: 24px" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="target-complications" v-if="spinResult.complications.length">
            <template v-for="complication in spinResult.complications">
                <div class="image">
                    <game-icon icon="complication" font-style="solid" style="color: white" />
                </div>
                <div class="text">
                    <h2>Complication</h2>
                    <h1>{{ complication.name }}</h1>
                </div>
            </template>
        </div>
        <div class="objectives" v-if="displayObjectivesTracker">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="objective-check">
                        <label>
                            <input type="checkbox" :disabled="disableObjectives" @change="$emit('update-objectives')" v-model="objectives[index][0]">
                            {{ competitors[0].name }} Completed Objective
                        </label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="objective-check">
                        <label>
                            <input type="checkbox" :disabled="disableObjectives" @change="$emit('update-objectives')" v-model="objectives[index][1]">
                            {{ competitors[1].name }} Completed Objective
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.hitman-card {
    display: flex;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex-grow: 1;

    > p:first-child {
        flex-grow: 1;
    }

    /* Screens smaller than 768px */
    .spin-conditions {
        width: 100%;
    }

    @media(min-width: 768px) {
        .spin-conditions {
            width: 60%;
        }
    }

    h1 {
        font-family: 'nimbus_sans_lbold', sans-serif;
    }

    .target-info-image {
        width: 40%;
        align-items: flex-end;
        padding: 15px;

        .image {
            margin-right: 5px;

            i {
                font-size: 48px;
                text-shadow: 0 0 20px #000;
            }
        }

        .text {
            text-transform: uppercase;
            align-self: inherit;
            text-shadow: 0 0 4px #000;

            h2 {
                font-size: 16px;
                color: #fff;
                margin-bottom: 0;
            }

            h1 {
                font-size: 20px;
                color: #fff;
                margin-bottom: 0;
            }
        }

        &.target-info {
            padding: 5px;

            .text {
                h2 {
                    font-size: 0.7rem;
                    margin-bottom: 0;
                    color: #ff003c;
                }

                h1 {
                    font-size: 0.7rem;
                    margin-bottom: 0;
                }
            }
        }
    }

    .white-panel {
        background: #2d2f39;
        color: #fff;
        display: flex;

        .image {
            margin-right: 5px;

            img {
                height: 48px;
                width: 48px;
            }
        }

        .tile {
            img {
                max-height: 80px;
            }
        }

        .text {
            text-transform: uppercase;
            flex-grow: 1;
            align-self: center;
        }

        .respin {
            align-self: center;

            > a {
                padding: 29px 15px 29px;
                color: #fff;

                &:hover {
                    background: $game-button-background-hover;
                }
            }
        }

        &.target-info {
            padding: 15px;

            .text {
                h2 {
                    font-size: 1rem;
                    margin-bottom: 0;
                    color: #ff003c;
                }

                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }
            }
        }

        &.kill-method,
        &.disguise {
            background: #2d2f39;

            .image {
                margin: 15px 5px 15px 15px;
            }

            .text {
                text-transform: none;

                h2 {
                    font-size: 1rem;
                    margin-bottom: 0;
                    color: #ff003c;
                }

                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }
            }
        }

        &.images {
            .row {
                margin-left: 0;
                margin-right: 0;
                background-color: #888;

                .col {
                    padding-left: 0;
                    padding-right: 0;

                    img {
                        max-height: 40%;
                    }
                }
            }
        }
    }
}

.add-target-complications {
    background: #2d2f39;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    font-size: 1.5rem;
    font-family: "nimbus_sans_lbold", sans-serif;
    align-items: center;
    justify-content: center;

    > div {
        border: dashed 1px rgba(255, 255, 255, .5);
        flex-grow: 1;
        border-radius: 8px;
        margin: 5px;
        padding: 3px 7px;
    }

    &:hover {
        background: $card-footer-background-hover;
        cursor: pointer;
    }
}

.target-complications {
    background: $card-footer-background-hover;
    color: $card-footer-text;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    font-size: 36px;

    .image {
        margin-left: 15px;
        margin-right: 5px;
    }

    .text {
        flex-grow: 1;

        h2 {
            font-size: 1rem;
            margin-bottom: 0;
        }

        h1 {
            font-size: 1.5rem;
            margin-bottom: 0;
            font-family: "nimbus_sans_lbold", sans-serif;
        }
    }

    .respin {
        align-self: center;

        > a {
            display: flex;
            color: #fff;
            padding-left: 15px;
            padding-right: 15px;

            &:hover {
                background: $game-button-background-hover;
            }
        }
    }
}

.objectives {
    text-align: center;
    color: #fff;
    background: #000;
    padding: 10px;

    .objective-check {
        label {
            margin-bottom: 0;
        }
    }
}
</style>