<template>
    <div>
        <router-view/>
    </div>
</template>

<script lang="ts">
    export default {
        name: 'App'
    }
</script>

<style lang="scss">
    body {
        font-family: 'nimbus_sans_lregular', sans-serif;

        h1, h2, h3, h4, h5, h6 {
            font-family: 'nimbus_sans_lbold', sans-serif;
            font-weight: bolder;
        }

        hr {
            background: #fff;
        }
    }

    @font-face {
        font-family: 'nimbus_sans_lbold';
        src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'nimbus_sans_lregular';
        src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>
